@import "base";

.key { margin-bottom: 15px; }

.value text {
    fill: #fff;

    &.hidden {
        display: none;
    }
}

.labels li {
  span {
    // vertical-align: bottom;
    // padding-bottom: 4px;
  }
  strong {
    color: #454545;
  }
}
