@import "base";

h2 span {
    padding: 2px 3px;
    border-radius: 2px;
    color: #fff;

    &.decrease {
        background: @orange3;
    }

    &.plateau {
        background: #999;
    }

    &.increase {
        background: @blue3;
    }
}

.lines {
    fill: none;
    stroke-width: 3px;
    stroke: #ccc;
}

.value text {
    font-size: 12px;
    font-weight: bold;
    /*fill: #999;*/
}

@media screen and (max-width: 500px) {
    .value text {
        font-size: 11px;
    }
}

@media screen and (min-width: 500px) {
    .key {
        display: none;
    }
}
