@import "./lib/base";

h1, h2, h3 {
  text-align: center;
}

.bars rect:first-child {

}

.labels li.overall {
  //color: #808080;//black;
  font-style: italic;
}

.value text {
    fill: #fff;
    font-size: 12px;

    &.hidden {
        display: none;
    }
}

.moe.graphic {
  rect {
    fill: @orange5;
  }
  .black,.latino,.white {
    // fill: @orange4;
  }
  // .approve {
  //   fill: @orange3;
  //   color: @orange3;
  // }

  // .disapprove {
  //   fill: @orange3;
  //   color: @orange3;
  //}

  .overall {
    fill: #BEBEBE;
    //color: #BEBEBE;
  }

  rect.moe.inner {
    fill: url(#inner-stripes);
  }

  rect.moe.outer {
    fill: url(#outer-stripes);
  }

  line.moe {
    stroke: currentColor;
    stroke-width: 3px;
  }

  .value text {
    font-size: 12px;
    // font-weight: bold;    
    fill:#666;    
    text-anchor: left;

    &.hidden {
      display: none;
    }
  }


  text.in {
    fill: black;
    stroke: #FFF8;
    paint-order: stroke fill;
  }

  text.out {
    fill: black;
    stroke: white;
    paint-order: stroke fill;
  }
}