@import "./lib/base";

// ai2html artboard sizes
@media screen and (min-width: 550px) {
    #g-_ai2html-map-small, #g-_ai2html-map-medium { display: none; }
}


@media screen and (max-width: 549px) {
    #g-_ai2html-map-medium, #g-_ai2html-map-wide { display: none; }
}

// Add custom styles here


.g-aiPstyle2, .g-aiPstyle1 {

text-shadow: 0.5px 0.5px 1px rgb(255,255,255,0.7), -0.5px -0.5px 1px rgb(255,255,255,0.7);

}

