@import "base";

// Add custom styles here
h1 {
    font-size: 18px;
}

.bars rect {
    fill: @blue2;
}

.labels li {
    font-size: 11px;

    @media screen (max-width: 260px) {
        line-height: 1.1;
    }
}
