@import "./lib/base";

.bar text {
    fill: #fff;
    font-size: 12px;

    &.hidden {
        display: none;
    }
}

.graphic {
  max-width: 650px;
  margin: 0 auto;
}

h1, h2 {
  text-align: center;
}

.key {
  text-align: center; 
}

.footer, .footnotes {
  .mmedia-constrained();
}
