@import "base";

.bars rect {
    fill: @teal5;

    &.yes { fill: @orange3; }
}

rect.highlight {
    fill: #f1f1f1;
}

.key {
    margin-bottom: 22px;
    .free-tuition b { background-color: @orange3; }
}

.labels li.united-states {
    font-weight: bold;
    color: #333;
}

.value text.united-states {
    font-weight: bold;
    fill: #333;
}
