@import "base";

.group {
    rect {
        fill-opacity: 0.5;
    }

    &.puerto-rican {
        rect {
            fill-opacity: 1;
        }
    }
}

.labels {
    .puerto-rican {
        font-weight: bold;
    }
}

.value text {
    fill: #fff;

    &.ind {
        fill: #666;
    }

    &.hidden {
        display: none;
    }
}
