@import "base";

.value text {
    fill: #fff;

    &.hidden {
        display: none;
    }
}

.group rect.confirmed-cabinet-members {
    fill-opacity: 0.5;

    .trump& { fill-opacity: 1; }
}

.labels li.trump {
    font-weight: bold;
    color: #454545;
}
