    #quiz1, #quiz2 {
        max-width: 600px;
        border: 2px solid black;
        padding: 25px;
        overflow: hidden;
    }


    .quiz-box { 
        font: 14px/1.4 'Gotham SSm', Helvetica, sans-serif;        
        min-width: 300px;
        overflow: hidden;
        min-height:170px;


    }

    .quiz-image { 
        overflow: hidden;
        float: left;
        margin-right: 20px;
    }
