@import "base";

.lines {
    fill: none;
    stroke-width: 3px;
    stroke: #ccc;
}

.value text {
    font-size: 12px;
    font-weight: bold;
    fill: #999;
}

.promo {
    h1 { display: none; }
    h2 {
        .knockout-header();
        font-size: 15px;
        margin: 0 0 11px 0;
        color: #666;
    }
}

@media screen and (max-width: 500px) {
    .value text {
        font-size: 10px;
    }
}

@media screen and (min-width: 500px) {
    .key {
        display: none;
    }
}
