@import "./lib/base";

h1 {
  font-size: 18px;
  margin-bottom: 20px;
}

h2 { margin-bottom: 10px; }

.isH3() {
  margin: 0 0 15px 0;
  font-family: 'Knockout 31 4r';
  font-weight: normal;
  text-transform: uppercase;
  // padding-top: 0;
  // line-height: 1.2;
  letter-spacing: 0.05em;
  -webkit-font-smoothing: antialiased;
  font-size: 12px;
  fill: #333;
}

.key line, .bars line {
  fill: none;
  stroke-width: 3px;
}

.key line {
  &.negative {
    stroke: @orange3;
  }

  &.positive {
    stroke: @teal3;
  }
}

.key .legend-text {
  font-size: 12px;
  fill: #666;
  font-style: italic;

  &.master {
    .isH3();

    font-style: normal;
  }
}

.x-axis-label text {
  font-style: italic;
  font-size: 12px;
  fill: #666;
}

.texas, .value-texas { font-weight: bold; }

.shadow { font-weight: 900; }

.value text {
  font-size: 13px;

  &.in { fill: #999; }

  &.left { text-anchor: start; }
  &.right { text-anchor: end; }
}

.guiding-lines line {
  fill: none;
  stroke-width: 1px;
  stroke: #ddd;
  stroke-dasharray: 3px 3px;
}

.labels {
  span {
    font-size: 13px;
  }
}

.results {
  position: absolute;
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: none;

  li {
    position: absolute;
    text-align: right;
    font-size: 12px;
    line-height: 1.3;
    // color: #666;
    display: table;
    -webkit-font-smoothing: antialiased;
    padding-right: 15px;

    span {
      display: block;
    }
  }
}

.header {
  .knockout-header();
  fill: #454545;
  text-anchor: end;
}

.final {
  font-weight: bold;
}

.key {
  margin-bottom: 0px;
}

@media @screen-mobile {
  .value text {
    font-size: 12px;
  }

  .labels {
    span { font-size: 12px; }
  }
}
