@import "base";

h1 { margin-bottom: 15px; }

#graphic {
    p {
        text-shadow: 1px 1px 3px #333;

        // &.g-aiPstyle2,
        &.g-aiPstyle3,
        &.g-aiPstyle4,
        &.g-aiPstyle6,
        &.g-aiPstyle7 { text-shadow: none; }
    }
    #g-ai2html-graphic-wide-graphic p.g-aiPstyle2,
    #g-ai2html-graphic-wide-graphic p.g-aiPstyle5,
    #g-ai2html-graphic-small-graphic p.g-aiPstyle2,
    #g-ai2html-graphic-small-graphic p.g-aiPstyle5 {
        text-shadow: none;
    }
}

// ai2html artboard sizes
@media screen and (min-width: 730px) {
        #g-ai2html-graphic-small, #g-ai2html-graphic-medium { display: none; }
}

@media screen and (max-width: 729px) and (min-width: 400px) {
    #g-ai2html-graphic-small, #g-ai2html-graphic-wide { display: none; }
}

@media screen and (max-width: 399px) {
    #g-ai2html-graphic-medium, #g-ai2html-graphic-wide { display: none; }
}

// Add custom styles here
