@import "base";

h1 { margin-bottom: 22px; }

.lines {
    fill: none;
    stroke-width: 3px;
    stroke: #ccc;
}

.value text {
    font-size: 12px;
    font-weight: bold;
    fill: #999;
}

.recession {
    font-size: 11px;
    font-style: italic;
    fill: #787878;
    text-anchor: middle;
}

@media screen and (max-width: 500px) {
    .value text { font-size: 10px; }
    .chart {
        margin-top: 22px;

        &:first-child { margin-top: 0; }
    }
}

@media screen and (min-width: 500px) {
}
