@import "./lib/base";

// ai2html artboard sizes
@media screen and (min-width: 730px) {
    #g-_ai2html-groundrules-small, #g-_ai2html-groundrules-medium { display: none; }
    #g-_ai2html-trial-small, #g-_ai2html-trial-medium { display: none; }
    #g-_ai2html-vote-small, #g-_ai2html-vote-medium { display: none; }
    #g-_ai2html-process-small, #g-_ai2html-process-medium { display: none; }
}

@media screen and (max-width: 729px) and (min-width: 450px) {
    #g-_ai2html-groundrules-small, #g-_ai2html-groundrules-wide { display: none; }
    #g-_ai2html-trial-small, #g-_ai2html-trial-wide { display: none; }
    #g-_ai2html-vote-small, #g-_ai2html-vote-wide { display: none; }
    #g-_ai2html-process-small, #g-_ai2html-process-wide { display: none; }
}

@media screen and (max-width: 449px) {
    #g-_ai2html-groundrules-medium, #g-_ai2html-groundrules-wide { display: none; }
    #g-_ai2html-trial-medium, #g-_ai2html-trial-wide { display: none; }
    #g-_ai2html-vote-medium, #g-_ai2html-vote-wide { display: none; }
    #g-_ai2html-process-medium, #g-_ai2html-process-wide { display: none; }
}

// Add custom styles here
body {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  -webkit-font-smoothing: antialiased;
}

.ai2html strong { color: #333; }
