@import "base";

h1 { margin-bottom: 22px; }
h4 {
    margin: 0 0 11px;
    font-size: 15px;
    font-family: 'Gotham SSm', Helvetica, Arial, sans-serif;
}

.axis {
    fill: #666;
    font-weight: bold;
    font-size: 12px;

    path { display: none; }
}

.lines line {
    stroke-width: 3px;
    stroke: #ddd;
    shape-rendering: auto;
}

.dots circle {
    fill: #ddd;
    stroke: #fff;
    stroke-width: 1px;
}

.value text {
    font-size: 11px;
    fill: #333;
}

.label text {
    font-size: 11px;
    fill: #333;

    &.no-confidence, &.unfavorable {
        fill: @orange3;
    }
    &.confidence, &.favorable {
        fill: @blue3;
    }
}



@media screen and (min-width: 500px) {
    .chart {
        float: left;

        &#chart-confidence {
            margin-right: 21px;
            border-right: 1px solid #ccc;
        }
    }
}

@media screen and (max-width: 500px) {
    .chart {
        margin-bottom: 22px;

        &#chart-confidence {
            padding-bottom: 11px;
            border-bottom: 1px solid #ccc;
        }
    }
}
