@import "base";

.lines {
    fill: none;
    stroke-width: 3px;
    stroke: #ccc;
}

.value text {
    font-size: 12px;
    font-weight: bold;
    fill: #999;
}

@media screen and (max-width: 500px) {
    .value text {
        font-size: 10px;
    }
}

@media screen and (min-width: 500px) {
    .key {
        display: none;
    }
}

line.x.grid {
        stroke: #fff;
        stroke-width: 2px;
    }

line.x.grid-bush2 {
    stroke: #eee;
    stroke-width: 2px;
}

.label-top {
    font-style: italic;
    fill: #999;
    font-size: 11px;
    -webkit-font-smoothing: antialiased;
}
