@import "base";

.lines {
    fill: none;
    stroke-width: 3px;
    stroke: #ccc;
}

.y.grid .tick:nth-child(2) line {
    stroke: #999;
}

.value text {
    font-size: 12px;
    font-weight: bold;
    fill: #999;
}

@media screen and (max-width: 500px) {
    .value text {
        font-size: 10px;
    }

    .y.axis .tick .label {
        font-size: 8px;
    }
}
