@import "./lib/base";

.bars rect.republican-senators {
  fill: #d61f21;
}

.bars rect.democratic-senators {
  fill: #237bbd;
}

h3 {
  margin: 0 0 15px 0;
}

.value text.out {
  fill: #555;
}

.graphic,
h1,
h2 {
  .mmedia-constrained-centered();
  // max-width: 850px;
}

h3 {
  text-align: left
}

.footnotes, .footer {
 .mmedia-constrained();
 // max-width: 850px;
}
