@import "./lib/base";

@rigorous: #d62021;
@unbiased: #000005;
@true: #237bbd;

h3 {
  margin-bottom: 9px;
  text-align: right;
}

.labels {
  strong {
    font-weight: normal;
    display: block;
  }
  i {
    font-style: normal;
    display: block;
    font-size: 11px;
    color: #999;
  }
}

.bars rect {
  &.dem { fill: @true; }
  &.gop { fill: @rigorous; }
}

.chart + .chart {
  margin-top: 33px;
}

.value text {
  font-size: 11px;

  &.out { fill: #666; }
}
