@import "./lib/base";

.bars rect {
  fill: @red3;
}

.lines {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

.value text {
  fill: #999;
  font-size: 10px;
}

.annotation {
  circle {
    fill: #999;
    stroke: none;
  }
  line {
    stroke: #999;
  }
  text {
    fill: #666;
    font-size: 12px;
    font-style: italic;
  }
}
