@import "./lib/base";

.bar text {
    fill: #fff;
    font-size: 12px;

    &.hidden {
        display: none;
    }
}


.line-25 {
	stroke: #444;
	stroke-width: 2px;
	stroke-dasharray: 4px;
}

.year-label {
	text-anchor: middle;
	fill: #555;
	font-size: 11px;
}