@import "base";

/* DAILY UPDATES SLIDER */
#nukeDaily {
	width: 624px;
	overflow: hidden;
	position: relative;
	color: #555;
	font: 12px/1.35em Arial, Helvetica, sans-serif;
}

#nukeDaily p{
	padding-bottom:10px;
}

#nukeDaily ol{
	padding:0 0 0 15px;
	width:240px;
}

#nukeDaily ol li{
	font-weight:bold;
}

#nukeDaily ol li p{
	padding-bottom:10px;
	font-weight:normal;
	border: none;

}

#nukeDaily .nukeWrapper {
	margin: 0;
	width: 624px
}
#nukeDaily .update {
/*	width: 270px; 300 - 2 border - 28 padding */
/*	width: 594px;  624 - 2 border - 28 padding */
/*	height: 225px;
	padding: 14px;
	background-color: #f1f1f1;
	border: 1px solid #CCC; */
	width: 624px;
	margin: 0 0 10px 0;
	clear: right;
	float: left;
	position: relative;
}

#nukeDaily .update img { float: none; display: block; }

#nukeDaily .update .updateInfo {
	/*border: 1px solid #CCC;*/
	width: 270px;
	padding: 10px;
	position: absolute;
	top: 2px;
	right: 10px;
	/*background-color: #F6f6f6;*/
}

/*#nukeDaily .update .updateInfo.nukeMap4,
#nukeDaily .update .updateInfo.nukeMap6,
#nukeDaily .update .updateInfo.nukeMap7 {
	width: 218px;
}

#nukeDaily .update .updateInfo.nukeMap8,
#nukeDaily .update .updateInfo.nukeMap9,
#nukeDaily .update .updateInfo.nukeMap10 {
	top: auto;
	bottom: 10px;
	width: 351px;
}*/

#nukeDaily .update h2 {
	margin: 0 0 3px 0;
	font: bold 14px/20px Georgia, serif;
	color: #333;
}

#nukeDaily .update p,
#storybody #nukeDaily .update p,
#content #nukeDaily .update p {
	margin: 0;
	font-size: 12px;
	line-height: 1.35em;
}
#nukeDaily .update p.caption {
	margin: 3px 0 10px 0;
	font-size: 11px;
	line-height: 14px;
	color: #666;
	display: none;
}
#nukeDaily .update p.more {
	margin-bottom: 0;
	text-align: right;
}
#nukeDaily .update a {
	font-weight: bold;
}
#storyspan03 #nukeDaily a:link,
#storyspan03 #nukeDaily a:visited {
	color: #000;
}
#storyspan03 #nukeDaily a:hover,
#storyspan03 #nukeDaily a:active {
	color: #36C;
}
#nukeDailyNav {
	width: 624px;
	padding-top:5px;
}
#nukeDailyNav h1, #res135020432 h3,
#storyspan03 #res135115590 h3 {
	font:bold 13px Arial, sans-serif;
	margin: 0 0 9px 0;
	color: #000;
	padding-bottom: 14px;
	border-bottom: 5px solid #ccc;
}


#nukeDailyNav .nukeNavButtons {
	width: 400px;
	float: right;
	text-align: right;
}
#nukeDailyNav .nukeNavButtons span {
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select: none;
}
#nukeDailyNav #nukeBack, #nukeDailyNav #nukeNext {
	cursor: pointer;
	background-color: #BABABA;
	color: #f1f1f1;
	padding: 6px 8px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;


}
#nukeDailyNav #nukeNums {
	width: 100px;
	text-align: center;
	font-size: 12px;
	color: #666;
}
#nukeDailyNav #nukeNums b {
	padding: 0 4px;
	color: #999;
	font-weight: normal;
}
#nukeDailyNav #nukeNums b.nukeActive {
	color: #999;
	font-weight: bold;
	border: 1px solid #CCC;
}

#nukeDailyNav #nukeBack {
	margin-right: 6px;
}
#nukeDailyNav #nukeBack:hover, #nukeDailyNav #nukeNext:hover {
	background-color: #999;
}
#nukeDaily p.more {
	display: none;
}

#nukeDaily p.credits {
	clear: both;
	color: #999;
	font-style: italic;
	font-size: 11px;
	margin:0px;
	padding:0px;
}
