@import "./lib/base";

.black {
	font-weight: bold;
	color: #5e5e5e !important;
	
}


g.value.black text.out{
	fill: #5e5e5e;
}

g.g.bars.black rect.y-Share.of.evictions{
	fill: #E38D2C !important;
}

g.g.bars.black rect.y-Share.of.renters{
	fill: #51A09E !important; /*#17807E*/
}