@import "base";

// Add custom styles here
svg {
    path {
        stroke: #fff;
        stroke-width: 0.5px;
        // stroke-opacity: .5;
    }
    text {
        fill: #666;
        font-family: 'Gotham SSm',Helvetica,Arial,sans-serif;
        letter-spacing: 0.05em;
        // font-weight: 700;
        -webkit-font-smoothing: antialiased;
        text-anchor: middle;
        text-transform: uppercase;
    }
}

@media screen and (max-width: 500px) {
    // svg text { font-size: 18px; }
}
