@import "base";

@button-blue: #5076b8;

h2 {
	margin-bottom: 14px;
}

#top-wrapper, #bottom-wrapper, #chart-ui-wrapper {
    max-width: 650px;
    margin: 0 auto;
    position: relative;
}

.graphic {
    margin: 0 auto;
}

#column-chart {
    max-width: 650px;
}

#locator-map {
    max-width: 1200px;
}

// Add custom styles here
a#play-animation {
	background-color: @button-blue;
    color: white;
	border-radius: 2px;
	padding: 8px;
	font-size: 11px;
	.gotham();
	text-transform: uppercase;
    z-index: 9999;
    position: absolute;
    opacity: 1;
    top: 10px;
    left: 30px;
    -webkit-transition: opacity 250ms ease-out, background-color 250ms ease-out;
    -moz-transition: opacity 250ms ease-out, background-color 250ms ease-out;
    -o-transition: opacity 250ms ease-out, background-color 250ms ease-out;
    transition: opacity 250ms ease-out, background-color 250ms ease-out;


	&:hover {
		background-color: tint(@button-blue, 20%);
	}

	&.disabled {
		pointer-events: none;
        opacity: 0;
	}
}

.countries path {
    stroke-width: 0.3;
    fill: #ddd;
    stroke: #fff;
}

.hidden {
	display: none;
}

.pathogens {
    circle {
        stroke-opacity: 0.8;
        stroke-width: 1;

        &.positive {
            fill: @teal4;
            stroke: #fff;
            stroke-width: .5;
        }

        &.negative {
            fill: @red4;
            stroke: #fff;
            stroke-width: .5;
        }
    }
    text {
        fill: #333;
        font-size: 9px;
        font-weight: 700;
        text-anchor: middle;
        -webkit-font-smoothing: antialiased;
        font-family: 'Gotham SSm',Helvetica,Arial,sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.02em;
    }
}


@media screen and (max-width: 500px) {
    a#play-animation {
        position: relative;
        top: auto;
        left: auto;
    }
    .key text { font-size: 7px; }
    .populations text { font-size: 8px; }
}
