*.py[co]
*.sw[op]
*.xlsx
.DS_Store
.gzip
*.bak

dailygraphics.sublime-*
graphics.sublime-*

**/graphics/*/index.html
**/child.html
**/assets/*
**/*/assets/*
!**/assets/assetsignore
!**/graphics-js/*/assets/*
**/css/graphic-header.css
**/js/parent-header.js
**/js/parent-footer.js
**/js/graphic-header.js
**/js/graphic-footer.js
**/synced/*
