{% extends 'base_template.html' %}

{% block content %}

    <div id="graphic">

        <div id="wellspring-nav">
            {% if COPY.labels.headline %}<h1>{{ COPY.labels.headline }}</h1>{% endif %}
        	<div class="wellspringNavButtons">
        		<span id="wellspringBack">back</span>
        			<span id="wellspringNums"></span>
        		<span id="wellspringNext">next</span>
        	</div>
        </div>

        <div id="wellspring-outer-wrapper">
        	<div class="wellspring-wrapper">

        		<div class="update">
        			<p><strong>Wellspring</strong> — Wellspring is typical of several well-funded but mysterious social welfare groups. It doesn't have to disclose its donors, so tax records were used to help identify where some of the money came from. Wellspring's 2008 IRS application says it doesn't engage in "political campaign activities on behalf of or in opposition to candidates for public office."</p>
        			<img src="http://media.npr.org/buckets/news/2013/11/wellspring/graphic-layers/1.png" alt="layer one, wellspring">
        		</div>

        		<div class="update">
        			<p><strong>Money Distribution</strong> — Wellspring says it doesn't get involved in politics itself, but NPR and CRP found it gave money to many other politically active social welfare groups that also don't have to disclose their donors. The recipient groups spent about $60 million in the 2010 election cycle, and more than double during the 2012 cycle.</p>
        			<img src="http://media.npr.org/buckets/news/2013/11/wellspring/graphic-layers/2.png" alt="layer two, money distribution">
        		</div>

        		<div class="update">
        			<p><strong>Money On The Move</strong> — We also found several large donors who often gave donations to the same collection of smaller groups. In 2010, Wellspring gave $2.45 million to start the Annual Fund. Then both organizations gave money to four of the same groups.</p>
        			<img src="http://media.npr.org/buckets/news/2013/11/wellspring/graphic-layers/3.png" alt="layer three, money on the move">
        		</div>

        		<div class="update">
        			<p><strong>Influencing State Supreme Court Elections</strong> — Often we traced money to social welfare groups that invested in political campaigns, including millions of dollars spent on judicial elections around the U.S.</p>
        			<img src="http://media.npr.org/buckets/news/2013/11/wellspring/graphic-layers/4.png" alt="layer four, influencing state supreme court elections">
        		</div>

        		<div class="update">
        			<p><strong>Where Does The Money Originate?</strong> — When you try to trace the money back to each group's ultimate source, almost nothing can be learned. Political experts say this secrecy is an attraction for large donors. Between 2008 and 2011, Wellspring distributed nearly $16.9 million of its reported $24 million income. Only slightly more than $251,000 came from publicly known donors.</p>
        			<img src="http://media.npr.org/buckets/news/2013/11/wellspring/graphic-layers/5.png" alt="layer five, where does the money originate?">
        		</div>

        	</div>
        </div>

    </div>

    {% if COPY.labels.footnote %}
    <div class="footnotes">
        <h4>Notes</h4>
        <p>{{ COPY.labels.footnote }}</p>
    </div>
    {% endif %}

    <div class="footer">
        {% if COPY.labels.source %}<p>Source: {{ COPY.labels.source }}</p>{% endif %}
        {% if COPY.labels.credit %}<p>Credit: {{ COPY.labels.credit }}</p>{% endif %}
    </div>

{% endblock content %}


{% block js %}

    {{ JS.push('js/lib/jquery.js') }}
    {{ JS.push('js/lib/underscore.js') }}
    {{ JS.push('js/lib/pym.js') }}
    {{ JS.push('js/graphic.js') }}
    {{ JS.render('js/graphic-footer.js') }}

{% endblock js %}
