@import "base";

// Add custom styles here
.graphic {
	float: left;
	margin-bottom: 22px;

	&#top5-chart {
		margin-right: 22px;
	}
}

@media screen and (max-width: 500px) {
	.graphic {
		&#top5-chart {
			margin-right: 0;
		}
	}
}
