@import "base";

.annotations {
    line {
        stroke: #454545;
        stroke-width: 2px;
        stroke-dasharray: 6px 2px;
    }
    text {
        font-size: 11px;
        fill: #666;
        font-weight: bold;
    }
}
