@import "base";

#graphic { margin-bottom: 22px; }

h1 {
    margin-bottom: 22px;
}

.lines {
    fill: none;
    stroke-width: 3px;
    stroke: #ccc;
}

.annotations {
    circle { stroke: #fff; }
    text {
        font-size: 11px;
        fill: #787878;
    }
}