@import "./lib/base";

.bars rect {
	// fill: unset;
}

.high-income b {background-color: @teal6};
.low-and-lower-middle-income b {background-color: @teal2};
.upper-middle-income b{background-color: @teal4};

.low {
	background-color: @teal3;
	color: #fff;
	padding: 3px;
	border-radius: 3px;
}