.lines {
    fill: none;
    stroke-width: 3px;
    stroke: #ccc;
}

.halo text {
    font-size: 14px;
    fill: #fff;
    stroke: #fff;
    stroke-width: 2px;
    opacity: .7;
}

.value text {
    font-size: 14px;
    fill: #666;
}

@media screen and (max-width: 480px) {
    .value text,
    .halo text {
        font-size: 10px;
    }
}
