@import "./lib/base";

.lines {
  fill: none;
  stroke-width: 3px;
  stroke: #ccc;
}

.value text {
  font-size: 12px;
  font-weight: bold;
  fill: #999;
}


.graphic-wrapper.top-level {
    width: 33%;
    float: left;
    /*margin-right: 2%;*/
}

.key .key-item {
  margin-bottom: 5px;
}

.key .key-item label {
  white-space: unset;
}

@media screen and (max-width: 500px) {
  .value text {
    font-size: 10px;
  }

  .graphic-wrapper.top-level {
    width: 100%;  
  }
}

@media screen and (min-width: 500px) {
  
}