@import "base";

body { padding-top: 0; }

h1 {
    margin-bottom: 22px;
    font-size: 18px;
    text-align: center;
}

.graphic {
    h3 {
        text-align: center;
        margin-bottom: 5px;
    }
    h4 {
        .knockout-header();
        color: #999;
        font-size: 10px;
        margin: 0 auto 0 auto;
        text-align: center;
    }
}

#column-chart {
    margin-bottom: 0;

    .x.axis {
        line, path { display: none; }
        text {
            fill: #666;
            font-size: 12px;
        }
    }

    .bars rect,
    .key-bars rect {
        &.bar-0 { fill: @orange6; };
        &.bar-1 { fill: @orange5; };
        &.bar-2 { fill: @orange4; };
        &.bar-3 { fill: @orange3; };
        &.bar-4 { fill: @orange2; };
        &.bar-5 { fill: @orange1; };
    }
}

#map {
    margin-bottom: 22px;

    .map {
        display: none;
        margin: 0 auto;

        &.active { display: block; }

        img {
            max-width: 100%;
            height: auto;
        }
    }
}

#slider {
    position: relative;
    margin: 0 auto 11px auto;

    .handle { cursor: pointer; }

    .xbar {
        stroke: #ccc;
        stroke-width: 8px;
        stroke-linecap: round;
        cursor: pointer;
    }

    .xbar-halo {
        stroke: #fff;
        stroke-width: 6px;
        stroke-linecap: round;
        cursor: pointer;
    }

    #year-label {
        font-size: 14px;
        fill: #333;
        .knockout-header();
    }
}

#toggle { position: absolute; }

#btn-pause,
#btn-play {
    padding: 10px 0;
    font-size: 10px;
    color: #777;
    background-color: #eee;
    border-radius: 4px;
    white-space: nowrap;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    cursor: pointer;

    &:hover {
        background-color: #999;
        color: #fff;
    }
}
