@import "./lib/base";

h1 {
  font-size: 18px;
  text-align: left;
  margin-bottom: 30px;
}

.lines {
  fill: none;
  stroke: #ccc;
  stroke-width: 3px;
}

.value text {
  fill: #666;
  font-size: 12px;

  &.overall {
    fill: #333;
    font-weight: bold;
  }
}

circle.none {
  display: none;
}
