@import "./lib/base";

g.g.bars g.value text:nth-child(2){
	font-weight:bold;
	//fill:#AA6A21;
	fill:#5e5e5e;
}

.value text {
	font-size:11px;
}

.x.axis {
	margin-bottom:10px;

	// path {
	// 	stroke:none;
	// }

	// .tick line {
	// 	stroke:none;
	// }
}