@import "./lib/base";

h1 {
  font-size: 18px;
  margin-bottom: 22px;
}

.graphic h3 {
  .gotham();
  color: #666;
  font-size: 14px;
  letter-spacing: normal;
  line-height: 1.5;
  margin-bottom: 22px;
  text-transform: none;
}

@media @screen-mobile {
  .chart + .chart {
    border-top: 1px solid #eee;
    margin-top: 11px;
    padding-top: 22px;
  }
}

.bar text {
    fill: #fff;

    &.hidden {
        display: none;
    }
}

.labels text {
  font-size: 12px;
}
