@import "base";

rect.bar-closerace { fill: @orange3; }
.annotations {
    text {
        font-size: 12px;
        fill: #666;
        text-anchor: start;
    }
    line {
        stroke: #999;
        stroke-width: 1px;
    }
}

.key {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 22px;

    .key-item label {
        white-space: inherit;
    }
}
