@import "base";

// Add custom styles here
.bars rect {
    fill: @orange5;

    &.chicago {
        fill: @orange3;
    }
}

.value text {
    font-size: 11px;
}

.labels .chicago, .value .chicago {
    font-weight: bold;
}
