@import "./lib/base";

.graphic {
  background-color: #eee;
  padding-right: 4%;
  padding-top: 4%;
  padding-bottom: 2%;
}

.exchange {
  padding-bottom: 0.5%;
  padding-left: 5%;
}

.exchange:nth-child(n+3) {
  border-left: 2px solid #dddddd;
  padding-left: 2%;
}

.exchange-2, .exchange-3{
  margin-left: 2%;
}

.exchange-4, .exchange-5, .exchange-6 {
  margin-left: 4%;
}

.name {
  font-size: 14px;
}

.name-0 {
  color: #E38D2C;
}

.date {
  color: #999;
}
