@import "./lib/base";

ul {
      display: none;
    }

// ai2html artboard sizes
// @media screen and (min-width: 731px) {
//     #g-_ai2html-graphic-small, #g-_ai2html-graphic-medium { display: none; }
// }

@media screen and (min-width: 601px) {
    #g-_ai2html-graphic-small, #g-_ai2html-graphic-wide { display: none; }
}

@media screen and (max-width: 600px) {
    #g-_ai2html-graphic-medium, #g-_ai2html-graphic-wide { display: none; }
    ul {
      display: none;
    }
}

h1.header, h2.header {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
// Add custom styles here
