@import "./lib/base";

// ai2html artboard sizes
@media screen and (min-width: 550px) {
    #g-_ai2html-graphic-small, #g-_ai2html-graphic-medium  { display: none; }
}

@media screen and (max-width: 549px) and (min-width: 400px) {
    #g-_ai2html-graphic-small, #g-_ai2html-graphic-wide { display: none; }
}

@media screen and (max-width: 399px) {
    #g-_ai2html-graphic-medium, #g-_ai2html-graphic-wide { display: none; }
}

// Add custom styles here
@media screen and (max-width: 345px) {
.g-aiPstyle0 {
	font-size:12px !important;
	line-height:19px !important;
}
}

@media screen and (max-width: 480px) and (min-width: 400px) {
.g-aiPstyle0 {
	font-size:12px !important;
	line-height:19px !important;
}
}

@media screen and (max-width: 620px) and (min-width: 550px) {
.g-aiPstyle0 {
	font-size:12px !important;
	line-height:19px !important;
}
}

h1,h2 {
	//max-width: 500px;
	///margin-right:auto;
	//margin-left:auto;
	text-align:left;
}

.footnotes, .footer {
	//max-width:650px;
	//margin-right:auto;
	//margin-left:auto;
}

#g-_ai2html-graphic-medium{
	//max-width: 500px;
	margin-right:auto;
	margin-left:0px;
}

#g-_ai2html-graphic-small{
	//max-width: 300px;
	margin-right:auto;
	margin-left:0px;
}

#daily_cost {
	font-weight: bold;
	color:black;
	font-size: 14px;
	margin-top:5px;
}

#total_population {
	font-weight: bold;
	background-color: #F1C696;
	color:white;
	border-radius:3px;
	padding:2px 5px;
}

#empty_beds {
	font-weight: bold;
	background-color: white;///#cccccc;
	border: #E38D2C 1px solid;
	color:#E38D2C;
	border-radius:3px;
	padding:2px 5px;
}

#total_beds {
	font-weight: bold;
	// background-color: #cccccc;
	// color:#4F4F4F;
	// border-radius:3px;
	// padding:2px 3px;

}


