@import "base";

// Add custom styles here
.chart {
    margin-bottom: 22px;

    h3 { margin-bottom: 11px; }
}

.labels li.us-average {
    color: #999;
    font-style: italic;
}

.value text.us-average {
    font-style: italic;
}
