@import "base";

// Add custom styles here

.graphic {
    .labels li {
        line-height: 1em;

        &.united-states {
            font-weight: bold;
        }
    }

    .bars rect {
        fill: @orange6;

        &.united-states {
            fill: @orange3;
        }
    }
}
