@import "base";

h3 { margin-bottom: -20px; }

.chart.education { margin-bottom: 33px; }

.group rect {
    fill-opacity: 0.8;

    .total& { fill-opacity: 1; }
}

.labels .total {
    font-weight: bold;
    color: #333;
}

.value text {
    fill: #fff;

    &.hidden { display: none; }
    &.left { text-anchor: start; }
    .total & { font-weight: bold; }
}

.annotations {
    .label {
        font-size: 12px;
        font-weight: bold;
        -webkit-font-smoothing: antialiased;
    }
    .label-0 { text-anchor: end; }
    .label-1 { text-anchor: start; }
}
