@import "./lib/base";

// ai2html artboard sizes
@media screen and (min-width: 900px) {
    #g-_ai2html-map-small, #g-_ai2html-map-medium, #g-_ai2html-map-wide { display: none; }
}

@media screen and (max-width: 899px) and (min-width: 730px) {
    #g-_ai2html-map-small, #g-_ai2html-map-medium, #g-_ai2html-map-extra-wide { display: none; }
}

@media screen and (max-width: 729px) and (min-width: 400px) {
    #g-_ai2html-map-small, #g-_ai2html-map-wide, #g-_ai2html-map-extra-wide { display: none; }
}

@media screen and (max-width: 399px) {
    #g-_ai2html-map-medium, #g-_ai2html-map-wide, #g-_ai2html-map-extra-wide { display: none; }
}

// Add custom styles here

.g-white-outline {
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}
