@import "base";

// Add custom styles here
body {
    padding-top: 0;
    padding-bottom: 0;
}

.graphic {
    margin-bottom: 0;

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
