@import "base";

// .graphic { margin-bottom: 22px; }

h3 {
    margin-left: 11px;
    margi-right: 11px;
    font-size: 14px;
    color: #121212;
}

// Base table styles
table {
    border-collapse: collapse;
    padding: 0;
    width: 100%;
    font-size: 12px;
    color: #666;
    margin-bottom: 22px;

    th,
    td {
        padding: 10px;
        text-align: left;

        &.amt { text-align: right; }
    }

    th {
        border-bottom: 2px solid #eee;
        vertical-align: bottom;
        font-family: 'Knockout 31 4r', Helvetica, Arial, sans-serif;
        font-weight: normal;
        text-transform: uppercase;
        padding-top: 0;
        line-height: 1.2;
        letter-spacing: 0.05em;
        -webkit-font-smoothing: antialiased;
    }

    td {
        border-bottom: 1px solid #eee;
        vertical-align: top;

        &.amt { vertical-align: middle; }
        &.change {
            font-weight: bold;
            &.c-na {
                color: #999;
                font-weight: normal;
            }
            &.c-1 { color: @teal5; }
            &.c-10 { color: @teal4; }
            &.c-20 { color: @teal3; }
            &.c-30 { color: @teal2; }
        }
    }

    tr.total {
        background-color: #f1f1f1;
        color: #333;
        font-weight: bold;
    }
    tr.total td,
    tr.unsheltered td,
    tr.family td {
        border-color: #ccc;
        border-width: 2px;
    }
}

.cities {
    padding-top: 11px;

    table { margin-bottom: 22px; }
}


@media screen and (min-width: 501px) {
    .cities {
        margin-top: 33px;

        h3 { margin-bottom: 22px; }

        table {
            &.major {
                width: 48%;
                float: left;
            }
            &.smaller {
                width: 48%;
                float: right;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    h3 {
        font-size: 12px;
        margin-bottom: 0;

        .cities & { margin-bottom: 11px; }
    }
    table th,
    table td {
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 11px;
    }
}


// Tablesorter styles
table {
    th {
        &.sort-header {
            cursor: pointer;

            &::-moz-selection,
            &::selection {
                background: transparent;
            }

            .sorter {
                border-top: 2px solid #404040;
                visibility: hidden;

                .icon {
                    content: '';
                    width: 1px;
                    margin: 3px auto 7px auto;
                    border-width: 0 4px 4px;
                    border-style: solid;
                    border-color: #404040 transparent;
                }
            }

            &:hover .sorter {
                visibility: visible;
            }
        }

        &.sort-up .sorter,
        &.sort-down .sorter,
        &.sort-down:hover .sorter {
            visibility: visible;
            opacity: 0.4;
        }

        &.sort-up .sorter .icon {
            border-bottom: none;
            border-width: 4px 4px 0;
        }
    }
}

// Mobile styles
/*
@media screen and (max-width: 500px) {
    table {}
    tbody {
        display: block;
        width: 100%;
    }

    table {
        thead { display: none; }

        tr, th, td, td.amt {
            display: block;
            padding: 0;
            text-align: left;
            white-space: normal;
        }

        td, td.amt {
            border: none;
            margin-bottom: 6px;
        }

        td:empty { display: none; }

        tr {
            border-bottom: 1px solid #eee;
            padding: 10px;
        }

        tr:first-child { border-top: 1px solid #eee; }

        th[data-title]:before,
        td[data-title]:before {
            content: attr(data-title) ":\00A0";
            display: inline-block;
            width: 75%;
            min-width: 220px;
            width: 220px;
        }

        tr td:first-child {
            font-size: 14px;
            margin-bottom: 6px;
            color: #333;
            font-family: 'Knockout 31 4r', Helvetica, Arial, sans-serif;
            font-weight: 500;
            letter-spacing: 0.02em;
            text-transform: uppercase;
        }
        tr td:first-child:before {
            content: '';
            display: none;
        }
    }
}
*/
