@import "./lib/base";

h2 {
  margin-bottom: 6px;
}

#table-graphic {
  margin-bottom: 6px;

  &.collapsed {
    max-height: 400px;
    overflow: hidden;
    border-bottom: 1px solid #ddd;

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 50px;
      background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.9) 0%,
        rgba(255, 255, 255, 0) 100%
      );
    }
  }
}

button.toggle-table {
  .gotham();
  background-color: #fff;
  border: none;
  box-shadow: none;
  box-sizing: border-box;
  color: #4774cc;
  display: block;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 22px;
  padding: 10px;
  text-transform: uppercase;
  width: 100%;

  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }

  &:focus {
    outline: none;
    border: none;
  }
}

// Base table styles
table {
  border-collapse: collapse;
  padding: 0;
  width: 100%;
  font-size: 12px;
  color: #666;

  tr.shadedrow {
    background-color: #f1f1f1;
    color: #333;
    font-weight: bold;
  }

  th, td {
    &.grade { text-align: center; }
    &.rating { text-align: center; }
  }

  th {
    .knockout-header();
    line-height: 1.2;
    text-align: left;
    vertical-align: bottom;
  }

  td {
    vertical-align: top;

    &.state {
      font-weight: bold;
    }

    &.grade {
      border-left: 1px solid #fff;
      border-bottom: 1px solid #fff;
      width: 18%;
      vertical-align: middle;
    }

    &.rating {
      vertical-align: middle;
    }

    &.grade-A {
      background-color: @blue2;
      color: #fff;
    }
    &.grade-B {
      background-color: @blue3;
      color: #fff;
    }
    &.grade-C {
      background-color: @blue4;
      color: #fff;
    }
    &.grade-D {
      background-color: @blue5;
      color: #fff;
    }
    &.grade-F {
      background-color: @blue6;
    }
  }
}

// Tablesorter styles
table {
  th {
    &.sort-header {
      cursor: pointer;

      &::-moz-selection,
      &::selection {
        background: transparent;
      }

      .sorter {
        border-top: 2px solid #404040;
        visibility: hidden;

        .icon {
          content: '';
          width: 1px;
          margin: 3px auto 7px auto;
          border-width: 0 4px 4px;
          border-style: solid;
          border-color: #404040 transparent;
        }
      }

      &:hover .sorter {
        visibility: visible;
      }
    }

    &[aria-sort="descending"] .sorter,
    &[aria-sort="ascending"] .sorter,
    &[aria-sort="ascending"]:hover .sorter {
      visibility: visible;
      opacity: 0.4;
    }

    &[aria-sort="descending"] .sorter .icon {
      border-bottom: none;
      border-width: 4px 4px 0;
    }
  }
}

/*
* larger-than-small-screen styles
* ~ defining some desktop-only styles here to avoid
* ~ writing extra mobile styles to undo them.
*/
// @media @screen-mobile-above {
  table {
    th, td {
      padding: 7px 10px;

      // comment these two out if you want to highlight particular rows
      &:first-child { padding-left: 0; }
      &:last-child { padding-right: 0; }

      &.amt { text-align: right; }
    }

    th {
      border-bottom: 2px solid #eee;
      padding-top: 0;
    }

    td { border-bottom: 1px solid #eee; }
  }
// }

/*
* small-screen styles
@media @screen-mobile {
  tbody {
    display: block;
    width: 100%;
  }

  table {
    thead { display: none; }

    tr, th, td {
      display: block;
      padding: 0;
      white-space: normal;
    }

    tr {
      border-bottom: 1px solid #eee;
      padding: 10px 0;

      &:first-child { border-top: 1px solid #eee; }
    }

    td {
      margin-bottom: 6px;

      &:empty { display: none; }
    }

    tr td:first-child {
      .knockout-header();
      color: #333;
      font-size: 14px;
      margin-bottom: 6px;

      &:before {
        content: '';
        display: none;
      }
    }

    th[data-title]:before,
    td[data-title]:before {
      content: attr(data-title) ":\00A0";
      display: inline-block;
      margin-right: 10px;
      width: 70%;
    }
  }
}
*/
