@import "base";

// Add custom styles here


.no-data-bkgrd {
	fill: rgb(235, 235, 235)
}

.chart-label {
    fill: #999;
    font-style: italic;
    font-size: 12px;
    text-anchor: middle;
    letter-spacing: .3px;
}