@import "base";

h1 { margin-bottom: 11px; }

.value text {
    fill: #fff;

    &.hidden,
    &.other {
        display: none;
    }
}

.delegates {
    fill: #787878;
    text-anchor: middle;
    font-size: 12px;
}

.label {
    font-size: 12px;
    fill: #666;
    text-anchor: middle;
    font-family: 'Knockout 31 4r';
    font-weight: normal;
    text-transform: uppercase;
    padding-top: 0;
    line-height: 1.2;
    letter-spacing: 0.05em;
    -webkit-font-smoothing: antialiased;

    &.first { text-anchor: start; }
}
