@import "./lib/base";

h1 {
  font-size: 18px;
  text-align: center;
  margin-bottom: 22px;
  strong { color: #333; }
}

// .bars rect {
//   fill: @teal3;
// }

.bars {
  .very-concerned {
    fill: @orange1;
  }
  .concerned {
    fill: @orange3;
  }
  .not-very-concerned {
    fill: #51A09E;
  }
  .not-concerned-at-all {
    fill: @teal2;
  }

  .doing-enough {
    fill: #51A09E;
  }

  .not-doing-enough {
    fill: @orange3;
  }

  .unsure {
    fill: #b8b8b8;
  }

  .yes {
    fill: @orange3;
  }

  .no {
    fill: #51A09E;
  }

}

.graphic {
  margin-bottom: 30px;
}