@import "base";

#graphic { margin-bottom: 22px; }

h3 {
    margin: 0 0 15px 0;
    font-family: 'Knockout 31 4r';
    font-weight: normal;
    text-transform: uppercase;
    padding-top: 0;
    line-height: 1.2;
    letter-spacing: 0.05em;
    -webkit-font-smoothing: antialiased;
    font-size: 13px;
    color: #454545;
    padding-right: 11px;
}

.key {
    margin-top: 0;
    margin-bottom: 0;
}

.zero-line  {
    stroke: #666;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.bar text {
    fill: #fff;

    &.hidden {
        display: none;
    }
}

.value text {
    fill: #666;
}
