@import "base";

// Add custom styles here
body {
    padding: 0;
}

img {
    display: block;
    margin: 0 auto;
}

@media screen and (min-width: 501px) {
    .img-small {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .img-wide {
        display: none;
    }
}
