@import "base";

// Add custom styles here

@media screen and (min-width: 500px) {
	.graphic {
		display: flex;
		flex-wrap: wrap;
	}
}

.bars rect.republicans {
	fill: @red3;
}

.bars rect.democrats {
	fill: @blue2;
}