@import "base";

.graphic { margin-bottom: 22px; }

.lines {
    fill: none;
    stroke-width: 3px;
    stroke: #ccc;
}

.dots {
    circle {
        stroke: #fff;
        stroke-width: 1px;
    }

    text { font-size: 12px; }
    .teens text { font-weight: bold; }
}

.chart-label {
    fill: #999;
    font-style: italic;
    font-size: 12px;
    text-anchor: middle;
    letter-spacing: .3px;
}

@media screen and (max-width: 500px) {
    .value text { font-size: 10px; }
    .chart-label { font-size: 10px; }
    .lines {
      stroke-width: 2px;
    }
}
