{% extends 'base_template.html' %}

{% block content %}

    <!-- <h1>Headline</h1>
    <h2>Subhed</h2> -->

    <div id="graphic">
        <div id="bbExplainer" class="graphic624">

        	<p>This year, the annual budget fight has become especially muddled. That's because Congress and the White House are actually engaged in three different, but related, budget debates that are going on simultaneously.</p>
        	<p>Ultimately, the three battles involve just one question: How much money should government take in and spend? But the separate tracks involve different time horizons, and each problem has to be resolved in a different way.</p>
        	<p>Here is a fresh look at the three ongoing budget battles:</p>

        	<ul>
        		<li id="bbNav1">The Fiscal 2012 Budget<br><span>short-term</span></li>
        		<li id="bbNav2">The National Debt Debate<br><span>medium-term</span></li>
        		<li id="bbNav3">The Social Security Debate<br><span>long-term</span></li>
        	</ul>

        	<div id="bbFiscal" class="bbSection">
        		<h3>The Fiscal 2012 Budget</h3>
        		<div class="bbBlock first">
        			<h4>Background</h4>
        			<p>Each year, Congress is supposed to pass a budget resolution and a dozen spending bills to create an operating budget to fund the federal government. The first day of the government's fiscal year is Oct. 1.</p>
        			<p>But year after year, Congress misses that deadline and is forced to pass temporary spending resolutions until it can resolve disagreements. The Oct. 1 deadline has come and gone, and as usual, the annual budget process has failed.</p>
        			<p><img src="http://media.npr.org/news/graphics/2011/07/gr-budget-proposals2-624.gif" alt="Graph of competing budget proposals"></p>
        		</div>
        		<div class="bbBlock">
        			<h4>The President's Budget Proposal</h4>
        			<p>The kickoff came in February when President Obama offered his $3.7 trillion budget blueprint. He projected a federal deficit of more than $1 trillion for the new fiscal year. House Budget Committee Chairman Paul Ryan (R-WI) immediately declared the White House plan dead on arrival. "The president's budget accelerates our country down the path to bankruptcy," Ryan said.</p>
        		</div>
        		<div class="bbBlock">
        			<h4>The House's Budget Blueprint</h4>
        			<p>In April, the Republican-led House took the next step by adopting a 2012 budget plan. The blueprint, whose chief architect was Ryan, won no Democratic votes. His plan set out to dramatically cut spending growth in fiscal 2012, and also to fundamentally alter Medicare and Medicaid.</p>
                    <p>The Senate rejected the Ryan plan in May. Since then, the House and Senate have each taken some action on various appropriations bills, but have failed to reach final agreements to cobble together a complete budget.</p>
        		</div>
        		<div class="bbBlock">
        			<h4>Where The Budget Stands</h4>
        			<p>The government is currently operating on a stopgap spending bill. Both the House and Senate will continue work this fall to complete a final budget. But that goal seemed to get even harder to reach when House Republicans announced Sept. 29 that their fiscal year 2012 budget for labor, health and education programs would contain cuts for job training and heating subsidies. Democrats vigorously oppose such cuts.</p>
        		</div>
        	</div>

        	<div id="bbDebt" class="bbSection">
        		<h3>The National Debt Debate</h3>
        		<div class="bbBlock first">
        			<h4>Background</h4>
        			<p>Time and again, Congress sets a "debt ceiling" for how much money the U.S. Treasury can borrow. And each time, the amount of borrowed dollars needed exceeds that ceiling. Usually when this happens, lawmakers complain but then raise the debt limit to fit the growing needs of the Treasury.</p>
        			<p><img src="http://media.npr.org/news/graphics/2011/07/gr-debt-limit-462.gif" alt="Graph of the national debt, debt ceiling votes, over time"></p>
        		</div>
        		<div class="bbBlock">
        			<h4>The Current Debate</h4>
        			<p>This past summer, however, Republicans refused to vote for an increase in the existing $14.3 trillion cap until Democrats would agree to massive spending cuts. A showdown came in early August just as the U.S. Treasury said its coffers were running out.</p>
                    <p>President Obama held meetings at the White House with leaders of the House and Senate in a bid to work out a multi-trillion-dollar debt-reduction package. Those debt-ceiling negotiations were not directly part of the annual budget process. Instead, the extraordinary talks were intended to produce an over-arching plan for shaping annual budgets over the coming decade.</p>
        		</div>
        		<div class="bbBlock">
        			<h4>The Supercommittee</h4>
        			<p>In the end, the president and lawmakers worked out a plan for yet more talks, to be held by a so-called "supercommittee." That is a bipartisan, 12-member committee of House and Senate lawmakers charged with finding $1.5 trillion in debt reduction moves over a 10-year period. The committee has until Nov. 23 to propose ways to reduce deficits, and Congress must vote on the proposals by Dec. 23 under terms of the August agreement.</p>
        		</div>
        	</div>

        	<div id="bbSS" class="bbSection">
        		<h3>The Social Security Debate</h3>
        		<div class="bbBlock first">
        			<h4>Background</h4>
        			<p>From time to time this past summer, news stories floated the idea that President Obama and congressional leaders might try to do even more than reduce the national debt over the coming decade. In this scenario, they would also make big changes to Social Security and Medicare -- changes that would have an impact over many decades.</p>
        			<p><img src="http://media.npr.org/news/graphics/2011/07/gr-social-security-462.gif" alt="Graph of Social Security, Medicare trust funds"></p>
        		</div>
        		<div class="bbBlock">
        			<h4>The Impasse </h4>
        			<p>But House Minority Leader Nancy Pelosi (D-CA) quickly threw cold water on that idea, saying: "No way. No how. Not now. Not on my watch. No cuts to Medicare and Social Security." Republicans likewise said no to doing a grand deal involving Social Security because they objected to having any sort of tax increases involved.</p>
        		</div>
        		<div class="bbBlock">
        			<h4>If Not Now, When?</h4>
        			<p>Many Capitol Hill insiders believe Social Security and Medicare are such sensitive issues that no significant changes can be made to those programs until after the 2012 elections. If Obama were to be re-elected next year, he would take up broad Social Security reform in 2013, under this scenario.</p>
        		</div>
        	</div>

        </div>
    </div>

    <!-- <div class="footnotes">
        <h4>Notes</h4>
        <p>Footnote</p>
    </div> -->

    <div class="footer">
        <p>Source: White House Office of Management and Budget, Congressional Budget Office, Social Security Administration</p>
        <!-- <p>Credit: TK TK TK</p> -->
    </div>

{% endblock content %}

{% block js %}

    {{ JS.push('js/lib/jquery-1.11.3.min.js') }}
    {{ JS.push('js/lib/pym.js') }}
    {{ JS.push('js/graphic.js') }}
    {{ JS.render('js/graphic-footer.js') }}

{% endblock js %}
