@import "./lib/base";

.line-100 {
	stroke: #111;
}

.click-sub {
/*	background: #aaa;
	border-radius: 2px;
	color: white;
	padding: 2px 6px 2px 6px;
	cursor: pointer;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;*/
	text-transform: uppercase;
	text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 650px;
    background-color: #fff;
    border: none;
    box-shadow: none;
    box-sizing: border-box;
    color: #4774CC;
    display: block;
    font-weight: bold;
    margin-top: 0;
    padding: 10px;
    text-transform: uppercase;
    width: 100%;
    cursor: pointer;

    margin-bottom: 22px;
}


h2.subhed {
	margin-bottom: 10px;
}

.col-header {
	display: inline-block;
	.clearfix();
	text-align: center;
	.knockout-header();
	font-size: 14px;
	margin-bottom: 14px;
	/*vertical-align: top;*/
}
