@import "./lib/base";

// h1 {
//   font-size: 18px;
//   // text-align: center;
//   margin-bottom: 22px;

//   strong { color: #333; }
// }

// .bars rect {
//   fill: @teal3;
// }

.bars {
  // .bar-0 {
    fill: @teal2;
  // }
  // .bar-1 {
  //   fill: @teal4;
  // }
  // .bar-2 {
  //   fill: @orange4;
  // }
  // .bar-3 {
  //   fill: @orange2;
  // }
  // .bar-4 {
  //   fill: #b8b8b8;
  // }
}

.graphic-wrapper {
  margin-bottom: 40px;
}

h3 {
  // text-align: center;
  margin-bottom: 22px;
}