@import "base";

/* DAILY UPDATES SLIDER */
#genomeDaily {
	width: 100%;
	overflow: hidden;
	position: relative;
	color: #444;
	font: 12px/1.35em Arial, Helvetica, sans-serif;
}
#genomeDaily p { padding-bottom:10px; }
#genomeDaily ol { padding:0 0 0 15px; }
#genomeDaily ol li { font-weight:bold; }
#genomeDaily ol li p {
	padding-bottom:10px;
	font-weight:normal;
	border: none;
}
#genomeDaily .genomeWrapper {
	margin: 0;
	width: 100%;
}
#genomeDaily .update {
	width: 100%;
	margin: 0 0 10px 0;
	clear: right;
	float: left;
	position: relative;
}
#genomeDaily .update img { float: none; display: block; margin: 0 auto; }
#genomeDaily .update .updateInfo {
	padding: 10px 0 10px 0;
	top: 2px;
	right: 10px;
}
#genomeDaily .update h2 {
	margin: 0 0 3px 0;
	font: bold 14px/20px Georgia, serif;
	color: #333;
}
#genomeDaily .update p,
#storybody #genomeDaily .update p,
#content #genomeDaily .update p {
	margin: 0;
	font-size: 13px;
	line-height: 1.5em;
	color: #444;
}
#genomeDaily .update p.caption {
	margin: 3px 0 10px 0;
	font-size: 11px;
	line-height: 14px;
	color: #666;
	display: none;
}
#genomeDaily .update p.more {
	margin-bottom: 0;
	text-align: right;
}
#genomeDaily .update a {
	font-weight: bold;
}
#genomeDaily a:link,
#genomeDaily a:visited {
	color: #000;
}
#genomeDaily a:hover,
#genomeDaily a:active {
	color: #36C;
}
#genomeNav {
	width: 100%;
	padding-top:5px;
}
#genomeNav h1, #res161108667 h3,
#res161108667 h3 {
	font: normal 18px Arial, sans-serif;
	margin: 0 0 9px 0;
	color: #999;
	padding-bottom: 14px;
	border-bottom: 5px solid #ccc;
}
#genomeNav .genomeNavButtons {
	width: 220px;
	float: right;
	text-align: right;
}
#genomeNav .genomeNavButtons span {
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select: none;
}
#genomeNav #genomeBack, #genomeNav #genomeNext {
	cursor: pointer;
	background-color: #BABABA;
	color: #f1f1f1;
	padding: 6px 8px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
}
#genomeNav #genomeNums {
	width: 100px;
	text-align: center;
	font-size: 12px;
	color: #666;
}
#genomeNav #genomeNums b {
	padding: 0 4px;
	color: #999;
	font-weight: normal;
}
#genomeNav #genomeNums b.genomeActive {
	color: #999;
	font-weight: bold;
	border: 1px solid #CCC;
}
#genomeNav #genomeBack {
	margin-right: 6px;
}
#genomeNav #genomeBack:hover, #genomeNav #genomeNext:hover {
	background-color: #999;
}
#genomeDaily p.more {
	display: none;
}
#genomeDaily p.credits {
	clear: both;
	color: #999;
	font-style: italic;
	font-size: 11px;
	margin:0px;
	padding:0px;
}
