html { -webkit-text-size-adjust: none; }

body {
    margin: 0 auto;
    font: 14px/1.4 Helvetica, Arial, sans-serif;
}

// Add custom styles here
video {
    object-fit: contain;
}

.footer p {
    margin: -5px 0 0 0;
    font-size: 11px;
    line-height: 1.7;
    color: #999;
}

.footer p {
    font-style: italic;
    padding: px 2px 0 0;
    text-align: right;
}

.footer p em { font-style: normal; }
