@import "base";

// Add custom styles here
.bars {
    rect {
        &.y-1983 {
            fill: tint(@teal5, 30%);
        }

        &.y-2014 {
            fill: @teal2;
        }
    }
}

.value text {
    font-size: 11px;
}
