{% extends 'base_template.html' %}

{% block content %}

<div id="testKitchen">
    <div id="aContent">
        <div id="a1" class="aInfo">
            <h2>Slow-Roasted Turkey</h2>
            <div class="aTopic">
                <div class="aPhoto">
                    <img src="https://media.npr.org/assets/multimedia/2010/11/testkitchen/turkey.jpg" alt="Slow-Roasted Turkey" />
                    <div class="captionwrap">
                        <span class="creditwrap">
                            <span class="credit">America's Test Kitchen</span>
                        </span>
                        <p><em>Slow-roasted turkey</em></p>
                    </div>
                </div>
                <p class="introp">The greatest challenge when cooking a turkey is getting the skin crispy and the dark meat cooked -- without overcooking the white meat. The solution? Carve the turkey <em>before</em> cooking. Actually, you don't need to cut up the turkey yourself. Just buy one that's already disassembled into breast, legs and thighs.</p>
                <p>The drawback is you lose that Norman Rockwell moment where you bring out a magnificent, golden turkey to wow guests seated around the table. But Kimball says his makeover recipe is focused more on the food than the presentation. "You can take a painting of Norman Rockwell and put it on the wall," he says. "But [if] you want perfectly cooked white meat [and] perfectly cooked dark meat, this is the way to do it," he says.</p>
                <h3>Ingredients</h3>
                <div class="recipe">
                    <ul>
                        <strong>Turkey</strong>:
                        <li>3 medium onions, chopped medium</li>
                        <li>3 medium celery ribs, chopped medium</li>
                        <li>2 medium carrots, peeled and chopped medium</li>
                        <li>5 sprigs fresh thyme</li>
                        <li>5 medium garlic cloves, peeled and halved</li>
                        <li>1 cup low-sodium chicken broth</li>
                        <li>1 whole bone-in, skin-on turkey breast (5 to 7 pounds), trimmed of excess fat and patted dry with paper towels</li>
                        <li>4 pounds turkey drumsticks and thighs, trimmed of excess fat and patted dry with paper towels</li>
                        <li>3 tablespoons unsalted butter, melted</li>
                        <li>1 tablespoon table salt</li>
                        <li>2 teaspoons ground black pepper</li>

                        <strong>Gravy</strong>:
                        <li>2 cups low-sodium chicken broth</li>
                        <li>3 tablespoons unsalted butter</li>
                        <li>3 tablespoons unbleached all-purpose flour</li>
                        <li>2 bay leaves</li>
                        <li>table salt and ground black pepper</li>
                        <li><em>serves 10 to 12</em></li>
                    </ul>
                </div>

                <h3>Instructions</h3>
                <div class="recipe">
                    <ol>
                        <li><strong>For the turkey:</strong> Adjust oven rack to lower-middle position and heat oven to 275 degrees. Arrange onions, celery, carrots, thyme and garlic in even layer on rimmed baking sheet. Pour broth into baking sheet. Place wire rack on top of vegetables (rack will rest on vegetables, not on bottom of baking sheet).</li>
                        <li>Brush turkey pieces on all sides with melted butter. Sprinkle salt and pepper evenly over turkey. Place breast skin-side down and drumsticks and thighs skin-side up on rack on vegetable-filled baking sheet, leaving at least 1/4 inch between pieces.</li>
                        <li>Roast turkey pieces 1 hour. Using wads of paper towels, turn turkey breast skin-side up. Continue roasting until instant-read thermometer registers 160 degrees when inserted in thickest part of breast and 170 to 175 degrees in thickest part of thighs, 1 to 2 hours longer. Remove baking sheet from oven and transfer rack with turkey to second baking sheet. Allow pieces to rest at least 30 minutes or up to 1 1/2 hours.</li>
                        <li><strong>For the gravy:</strong> Strain vegetables and liquid from baking sheet through colander set in large bowl. Press solids with back of spatula to extract as much liquid as possible. Discard vegetables. Transfer liquid in bowl to 4-cup liquid measuring cup. Add chicken broth to measuring cup (you should have about 3 cups liquid).</li>
                        <li>In medium saucepan, heat butter over medium-high heat; when foaming subsides, add flour and cook, stirring constantly, until flour is dark golden brown and fragrant, about 5 minutes. Whisk in broth mixture and bay leaves and gradually bring to boil. Reduce heat to medium-low and simmer, stirring occasionally, until gravy is thick and reduced to 2 cups, 15 to 20 minutes. Discard bay leaves. Remove gravy from heat and adjust seasonings with salt and pepper. Keep gravy warm.</li>
                        <li>To serve: Heat oven to 500 degrees. Place baking sheet with turkey in oven. Roast until skin is golden brown and crisp, about 15 minutes. Remove baking sheet from oven, transfer turkey to cutting board, and let rest 20 minutes. Carve and serve, passing warm gravy separately.</li>
                    </ol>
                </div>
            </div>
        </div>

        <div id="a2" class="aInfo">
            <h2>Bread Stuffing</h2>
            <div class="aTopic">
                <div class="aPhoto"> <img src="https://media.npr.org/assets/multimedia/2010/11/testkitchen/stuffing.jpg" alt="Bread stuffing with sausage,
    dried cherries and pecans" /> <div class="captionwrap"> <span class="creditwrap"><span class="credit">America's test
    Kitchen</span></span> <p><em>Bread stuffing with sausage, dried cherries and pecans</em></p> </div> </div> <p
    class="introp">There's never enough stuffing from inside the bird to go around. The alternative, which is to cook extra
    stuffing in a separate pan, lacks the depth and richness of the turkey stuffing. To get the inside-the-bird taste, bake
    the stuffing with turkey wings.</p>

    <h3>Ingredients</h3> <div class="recipe"> <ul> <li>2 pounds (20 to 22 slices) hearty white sandwich bread, cut into
    1/2-inch cubes (about 16 cups)</li> <li>3 pounds turkey wings, divided at joints </li> <li>2 teaspoons vegetable oil</li>
    <li>1 pound bulk pork sausage</li> <li>4 tablespoons (1/2 stick) unsalted butter, plus extra for baking dish</li> <li>1
    large onion, chopped fine (about 1 1/2 cups)</li> <li>3 celery ribs, chopped fine (about 1 1/2 cups)</li> <li>2 teaspoons
    table salt</li> <li>2 tablespoons minced fresh thyme leaves</li> <li>2 tablespoons minced fresh sage leaves</li> <li>1
    teaspoon ground black pepper</li> <li>2 1/2 cups low-sodium chicken broth</li> <li>3 large eggs</li> <li>1 cup dried
    cherries</li> <li>1 cup pecan halves, toasted and chopped fine</li> <li><em>serves 10 to 12</em></li>

    </ul> </div> <h3>Instructions</h3> <div class="recipe"> <ol> <li>Adjust oven racks to upper-middle and lower-middle
    positions and heat oven to 250 degrees. Spread bread cubes in even layer on 2 rimmed baking sheets. Bake until edges have
    dried but centers are slightly moist (cubes should yield to pressure), 45 to 60 minutes, stirring several times during
    baking. (Bread can be toasted up to 1 day in advance.) Transfer to large bowl and increase oven temperature to 375
    degrees. </li> <li>Use tip of paring knife to poke 10 to 15 holes in each wing segment. Heat oil in 12-inch skillet over
    medium-high heat until it begins to shimmer. Add wings in single layer and cook until golden brown, 4 to 6 minutes. Flip
    wings and continue to cook until golden brown on second side, 4 to 6 minutes longer. Transfer wings to medium bowl and
    set aside.</li> <li>Return skillet to medium-high heat and add sausage; cook, breaking sausage into 1/2-inch pieces with
    wooden spoon, until browned, 5 to 7 minutes. Transfer sausage to paper towel-lined plate, leaving rendered fat in
    skillet.</li> <li>Heat butter with rendered fat in skillet over medium heat. When foaming subsides, add onion, celery,
    and 1/2 teaspoon salt. Cook, stirring occasionally, until vegetables are softened but not browned, 7 to 9 minutes. Add
    thyme, sage, and pepper; cook until fragrant, about 30 seconds. Add 1 cup broth and bring to simmer, using wooden spoon
    to scrape browned bits from bottom of pan. Add vegetable mixture to bowl with dried bread and toss to combine.</li>
    <li>Grease 13 by 9-inch baking dish with butter. In medium bowl, whisk eggs, remaining 1 1/2 cups broth, remaining 1 1/2
    teaspoons salt, and any -accumulated juices from wings until combined. Add egg/broth mixture, cherries, pecans, and
    sausage to bread mixture and gently toss to combine; transfer to greased baking dish. Arrange wings on top of stuffing,
    cover tightly with aluminum foil, and place baking dish on rimmed baking sheet. </li> <li>Bake on lower-middle rack until
    thickest part of wings registers 175 degrees on instant-read thermometer, 60 to 75 minutes. Remove foil and transfer
    wings to dinner plate to reserve for another use. Using fork, gently fluff stuffing. Let rest 5 minutes before serving.
    </li>

    </ol> </div> </div> <!--<p class="more"><a href="">read full story</a></p>--> </div>


    <div id="a3" class="aInfo"> <h2>Fluffiest-Ever Whipped Potatoes</h2> <div class="aTopic">

    <div class="aPhoto"> <img src="https://media.npr.org/assets/multimedia/2010/11/testkitchen/potatoes.jpg" alt="Fluffiest-Ever Whipped Potatoes"
    /> <div class="captionwrap"> <span class="creditwrap"><span class="credit">America's Test Kitchen</span><span
    class="rightsnotice"></span></span> <p><em>Fluffiest-ever whipped potatoes</em></p> </div> </div> <p class="introp">If
    you're tired of that dry, bland potato-y lump, get a weightless potato texture by whipping -- rather than mashing.
    According to Kimball, one of the settings on the 1930s Sunbeam Mixmaster was whipped potatoes, which has become a lost
    recipe.</p>

    <h3>Ingredients</h3> <div class="recipe"> <ul> <li>4 pounds russet potatoes, peeled and cut into 1-inch pieces</li> <li>1
    1/2 cups whole milk</li> <li>8 tablespoons (1 stick) unsalted butter, cut into pieces</li> <li>2 teaspoons salt</li>
    <li>1/2 teaspoon pepper</li> <li><em>Serves 8 to 10</em></li> </ul> </div> <h3> Instructions</h3> <div class="recipe">
    <ol> <li><strong>Cook Potatoes:</strong> Place cut potatoes in colander. Rinse under cold water until water runs clear,
    about 1 minute. Drain potatoes. Fill Dutch oven with 1 inch water. Bring water to boil. Place steamer basket in Dutch
    oven and fill with potatoes. Reduce heat to medium and cook, covered, until potatoes are tender, 20 to 25 minutes.</li>
    <li><strong>Warm Dairy:</strong> Heat milk, butter, salt, and pepper in small saucepan over medium-low heat, whisking
    until smooth, about 3 minutes; cover and keep warm.</li> <li><strong>Whip Potatoes:</strong> Pour contents of Dutch oven
    into colander and return potatoes to dry pot. Stir over low heat until potatoes are thoroughly dried, about 1 minute. In
    bowl of stand mixer fitted with whisk attachment, break potatoes into small pieces on low speed, about 30 seconds. Add
    milk mixture in steady stream until incorporated. Increase speed to high and whip until potatoes are light and fluffy and
    no lumps remain, about 2 minutes. Serve.</li>

    </ol> </div> </div>

    </div>

    <div id="a4" class="aInfo"> <h2>Apple Slab Pie</h2> <div class="aTopic">

    <div class="aPhoto"> <img src="https://media.npr.org/assets/multimedia/2010/11/testkitchen/appleslab.jpg" alt="Apple Slab Pie" /> <div
    class="captionwrap"> <span class="creditwrap"><span class="credit">America's Test Kitchen</span></span> <p><em>Apple slab
    pie</em></p> </div> </div> <p class="introp">Runny filling, a soggy bottom crust, and a lot of work for just a few slices
    are among the traditional downsides of the classic apple pie. Kimball's solution is the Apple Slab Pie, which he says
    "looks like a huge Pop-Tart." It can feed about 20 people, and can be easily sliced and served.</p>

    <h3>Ingredients</h3> <div class="recipe"> <ul> <strong>Pie</strong>: <li>8 Granny Smith apples (about 3 1/2 pounds),
    peeled, cored, and sliced thin </li> <li>8 Golden Delicious apples (about 3 1/2 pounds), peeled, cored, and sliced
    thin</li> <li>1 1/2 cups granulated sugar</li> <li>1/2 teaspoon salt</li> <li>1 1/2 cups animal crackers </li> <li>2
    (15-ounce) boxes Pillsbury Ready to Roll Pie Crust</li> <li>4 tablespoons unsalted butter, melted and cooled</li> <li>6
    tablespoons Minute tapioca</li> <li>2 teaspoons ground cinnamon</li> <li>3 tablespoons lemon juice</li>
    <strong>Glaze</strong>: <li>3/4 cup reserved apple juice (from filling)</li> <li>2 tablespoons lemon juice</li> <li>1
    tablespoon unsalted butter, softened</li> <li>1 1/4 cups confectioners' sugar</li> </ul> </div> <h3>Instructions</h3>
    <div class="recipe"> <ol> <li><strong>For the pie:</strong> Combine apples, 1 cup sugar, and salt in colander set over
    large bowl. Let sit, tossing occasionally, until apples release their juices, about 30 minutes. Press gently on apples to
    extract liquid and reserve 3/4  cup juice.</li> <li>Adjust oven rack to lower-middle position and heat oven to 350
    degrees. Pulse crackers and remaining sugar in food processor until finely ground. Dust work surface with cracker
    mixture, brush half of one pie round with water, overlap with second pie round, and dust top with cracker mixture. Roll
    out dough to 19 by 14 inches and transfer to rimmed baking sheet. Brush dough with butter and refrigerate; roll out top
    crust in the same way.</li> <li>Toss drained apples with tapioca, cinnamon, and lemon juice and arrange evenly over
    bottom crust, pressing lightly to flatten. Brush edges of bottom crust with water, and arrange top crust on pie. Press
    crusts together and use a paring knife to trim any excess dough. Use fork to crimp and seal outside edge of pie, then to
    pierce top of pie at 2-inch intervals. Bake until pie is golden brown and juices are bubbling, about 1 hour. Transfer to
    wire rack and let cool 1 hour.</li> <li><strong>For the glaze:</strong> While pie is cooling, simmer reserved apple juice
    in saucepan over medium heat until syrupy and reduced to 1/4 cup, about 6 minutes. Stir in lemon juice and butter and let
    cool to room temperature. Whisk in confectioners' sugar and brush glaze evenly over warm pie. Let pie cool completely, at
    least 1 hour longer. Serve.</li> </ol> </div> </div> <!--<p class="more"><a href="">read full story</a></p>--> </div>



    <div id="a5" class="aInfo"> <h2>Slow Cooker Green Bean Casserole</h2> <div class="aTopic">

    <div class="aPhoto"> <img src="https://media.npr.org/assets/multimedia/2010/11/testkitchen/greenbeans.jpg" alt="Green bean casserole" /> <div
    class="captionwrap"> <span class="creditwrap"><span class="credit">America's Test Kitchen</span></span> <p><em>Slow
    cooker green bean casserole</em></p> </div> </div> <p class="introp">The kitchen can be a hectic place while prepping for
    the big feast, so here's one use for the slow cooker. Put your green beans in there and just let them be.</p>

    <h3>Ingredients</h3> <div class="recipe"> <ul> <strong>Casserole</strong> <li>1 cup canned fried onions </li> <li>3
    tablespoons unsalted butter </li> <li>10 ounces white or cremini mushrooms, cut into 1/4-inch-thick slices</li> <li>salt
    and pepper</li> <li>4 garlic cloves, minced</li> <li>1/2 teaspoon dried thyme</li> <li>1/4 cup all-purpose flour</li>
    <li>1 1/4 cups low-sodium chicken broth</li> <li>1 1/4 cups heavy cream </li> <li>2 pounds green beans, trimmed and cut
    into 1-inch pieces</li> <strong>Topping</strong> <li>2 slices hearty white sandwich bread, torn into pieces</li> <li>2
    tablespoons unsalted butter, melted</li> <li>2 cups canned fried onions</li> <li><em>Serves 10</em></li> </ul> </div>
    <h3>Instructions</h3> <div class="recipe"> <ol> <li><strong>Make Sauce:</strong> Pulse canned fried onions in food
    processor until finely ground; set aside. Melt butter in large skillet over medium heat. Add mushrooms, 3/4 teaspoon
    salt, and 1/2 teaspoon pepper and cook until mushrooms release their liquid, about 5 minutes. Increase heat to
    medium-high and cook until liquid has evaporated, about 5 minutes. Stir in garlic and thyme and cook until fragrant,
    about 30 seconds. Add flour and ground onions and cook until golden, about 1 minute. Stir in broth and cream and bring to
    boil. Reduce heat to medium-low and simmer, stirring occasionally, until sauce is very thick and creamy, about 10
    minutes. </li> <li><strong>Slow Cook:</strong> Combine sauce and green beans in slow cooker. Cover and cook on low until
    beans are tender, 5 to 6 hours.  </li> <li><strong>Toast Topping:</strong> Meanwhile, pulse bread and butter in food
    processor until coarsely ground. Toast bread crumbs and onions in clean skillet over medium-high heat until golden brown,
    3 to 5 minutes. Top green beans with bread-crumb mixture. Serve.</li> </ol> </div> </div>
    </div>


    <div id="a6" class="aInfo"> <h2>Old-Fashioned Pecan Pie</h2> <div class="aTopic">

    <div class="aPhoto"> <img src="https://media.npr.org/assets/multimedia/2010/11/testkitchen/pecanpie.jpg" alt="Old-Fashioned Pecan Pie" /> <div
    class="captionwrap"> <span class="creditwrap"><span class="credit">America's Test Kitchen</span></span>
    <p><em>Old-fashioned pecan pie</em></p> </div> </div> <p class="introp">Pecan pie, often called 'Karo pie' in the South,
    is reinvented using maple syrup, brown sugar and molasses rather than corn syrup.</p>

    <h3>Ingredients</h3> <div class="recipe"> <ul> <li>1 cup maple syrup</li> <li>1 cup packed light brown sugar</li> <li>1/2
    cup heavy cream</li> <li>1 tablespoon molasses </li> <li>4 tablespoons unsalted butter, cut into 1/2-inch pieces</li>
    <li>1/2 teaspoon salt</li> <li>6 large egg yolks, lightly beaten</li> <li>1 1/2 cups pecans, toasted and chopped</li>
    <li>1 (9-inch) unbaked pie shell, chilled in pie plate for 30 minutes</li> <li><em>Serves 8 to 10</em> </li> </ul> </div>
    <h3>Instructions</h3> <div class="recipe"> <ol> <li><strong>Make Filling:</strong> Adjust oven rack to lowest position
    and heat oven to 450 degrees. Heat syrup, sugar, cream, and molasses in saucepan over medium heat, stirring occasionally,
    until sugar dissolves, about 3 minutes. Remove from heat and let cool 5 minutes. Whisk butter and salt into syrup mixture
    until combined. Whisk in egg yolks until incorporated. </li> <li><strong>Bake Pie:</strong> Scatter pecans in pie shell.
    Carefully pour filling over. Place pie in hot oven and immediately reduce oven temperature to 325 degrees. Bake until
    filling is set and center jiggles slightly when pie is gently shaken, 45 to 60 minutes. Cool pie on rack for 1 hour, then
    refrigerate until set, about 3 hours and up to 1 day. Bring to room temperature before serving.</li> </ol>

    </div> </div> <p class="more">Recipes from<a href="http://www.americastestkitchen.com/"> <em>America's Test
    Kitchen</em></a></p>

    </div>



    </div> <!-- end aContent -->

    <div id="navi">
        <ul>
            <li id="atab1" class="tab-open">Slow-Roasted Turkey</li>
            <li id="atab2">Bread Stuffing</li>
            <li id="atab3">Fluffy Whipped Potatoes</li>
            <li id="atab4">Apple Slab Pie</li>
            <li id="atab5">Slow Cooker Green<br />Bean Casserole</li>
            <li id="atab6">Old-Fashioned Pecan Pie</li>
        </ul>
    </div> <!-- end navi -->
</div> <!-- end testKitchen -->


<div class="footer">
    <p>Produced by Claire O'Neill</p>
</div>

{% endblock content %}

{% block js %}

    {{ JS.push('js/lib/jquery-1.11.3.min.js') }}
    {{ JS.push('js/graphic.js') }}
    {{ JS.render('js/graphic-footer.js') }}

{% endblock js %}
