@import "base";

.value text {
    fill: #fff;

    &.hidden {
        display: none;
    }
}

.endvalue text {
    font-size: 10px;
    -webkit-font-smoothing: antialiased;
    fill: #888;
//    font-weight: bold;

    &.hidden {
        display: none;
    }
}

.key-item .democratic {
    background-color: @blue3; margin-right: 2px;
}

.key-item .republican {
    background-color: @red3; margin-right: 2px;
}

@media screen and (min-width: 501px) {
    .endvalue.total text {
        font-size: 11px;
        font-weight: bold;
        fill: #666;
    }
}
