@import "./lib/base";

// ai2html artboard sizes
@media screen and (min-width: 730px) {
    .mobile { display: none; }
}

@media screen and (max-width: 729px) and (min-width: 400px) {
    .mobile { display: none; }
}

@media screen and (max-width: 399px) {
    .desktop { display: none; }
}

// Add custom styles here
