@import "./lib/base";

li.the-clorox-company,
li.the-hershey-company,
li.microsoft {
  font-weight: bold;
  color: black;
}

rect.microsoft,
rect.the-hershey-company,
rect.the-clorox-company {
  fill: @teal5;
}
