@import "base";

h1 {
    font-size: 16px;
    margin-bottom: 11px;
}

// ai2html artboard sizes
@media screen and (min-width: 500px) {
    #g-ai2html-graphic-tiny, #g-ai2html-graphic-small, #g-ai2html-graphic-wide { display: none; }
}

@media screen and (min-width: 300px) and (max-width: 499px) {
    #g-ai2html-graphic-tiny, #g-ai2html-graphic-medium, #g-ai2html-graphic-wide { display: none; }
}

@media screen and (max-width: 299px) {
    #g-ai2html-graphic-small, #g-ai2html-graphic-medium, #g-ai2html-graphic-wide { display: none; }
}

// Add custom styles here
