{% extends 'base_template.html' %}

{% block content %}

    {% if COPY.labels.headline %}<h1>{{ COPY.labels.headline }}</h1>{% endif %}
    {% if COPY.labels.subhed %}<h2>{{ render(COPY.labels.subhed) }}</h2>{% endif %}

    <div id="graphic">

        <div id="playlist1" class="interactive">
			 <div class="video_wrap">
				<video id="video1" class="sublime" poster="https://media.npr.org/news/graphics/2011/12/popup-politics/images/posterimage-santorum.jpg" width="740" height="417" preload="none">
					<source src="https://ondemand.npr.org/npr-mp4/npr/nprvid/2012/01/20120118_nprvid_popuppol-santorum.mp4" />
					<source src="https://ondemand.npr.org/npr-mp4/npr/nprvid/2012/01/20120118_nprvid_popuppol-santorum-mobile.mp4" />
					<source src="https://ondemand.npr.org/npr-mp4/npr/nprvid/2012/01/20120118_nprvid_popuppol-santorum.ogv" />
				</video>
			 </div>

			 <div class="video_wrap">
				<video id="video2" poster="https://media.npr.org/news/graphics/2011/12/popup-politics/images/posterimage-perry.jpg" width="740" height="417" preload="none">
					<source src="https://ondemand.npr.org/npr-mp4/npr/nprvid/2012/01/20120118_nprvid_popuppol-perry.mp4" />
					<source src="https://ondemand.npr.org/npr-mp4/npr/nprvid/2012/01/20120118_nprvid_popuppol-perry-mobile.mp4" />
					<source src="https://ondemand.npr.org/npr-mp4/npr/nprvid/2012/01/20120118_nprvid_popuppol-perry.ogv" />
				</video>
			  </div>

			 <div class="video_wrap">
				<video id="video3" poster="https://media.npr.org/news/graphics/2011/12/popup-politics/images/posterimage-paul.jpg" width="740" height="417" preload="none">
					<source src="https://ondemand.npr.org/npr-mp4/npr/nprvid/2011/12/20111227_nprvid_popuppol-paul.mp4" />
					<source src="https://ondemand.npr.org/npr-mp4/npr/nprvid/2011/12/20111227_nprvid_popuppol-paul-mobile.mp4" />
					<source src="https://ondemand.npr.org/npr-mp4/npr/nprvid/2011/12/20111227_nprvid_popuppol-paul.ogv" />
				</video>
			  </div>

			 <div class="video_wrap">
				<video id="video4" poster="https://media.npr.org/news/graphics/2011/12/popup-politics/images/posterimage-gingrich.jpg" width="740" height="417" preload="none">
				  <source src="https://ondemand.npr.org/npr-mp4/npr/nprvid/2011/12/20111228_nprvid_popuppol-gingrich.mp4" />
				  <source src="https://ondemand.npr.org/npr-mp4/npr/nprvid/2011/12/20111228_nprvid_popuppol-gingrich-mobile.mp4" />
				  <source src="https://ondemand.npr.org/npr-mp4/npr/nprvid/2011/12/20111228_nprvid_popuppol-gingrich.ogv" />
				</video>
			  </div>

			 <div class="video_wrap">
				<video id="video5" poster="https://media.npr.org/news/graphics/2011/12/popup-politics/images/posterimage-romney.jpg" width="740" height="417" preload="none">
				  <source src="https://ondemand.npr.org/npr-mp4/npr/nprvid/2011/12/20111230_nprvid_popuppol-romney2.mp4" />
				  <source src="https://ondemand.npr.org/npr-mp4/npr/nprvid/2011/12/20111230_nprvid_popuppol-romney2-mobile.m4v" />
				  <source src="https://ondemand.npr.org/npr-mp4/npr/nprvid/2011/12/20111230_nprvid_popuppol-romney2.ogv" />
				</video>
			  </div>

			  <div style="overflow-y: auto; overflow-x:hidden; height: 417px;">
			  <ul>
				<li id="thumbnail_video1">
				  <a href="">
					<img alt="Rick Santorum" src="https://media.npr.org/news/graphics/2011/12/popup-politics/images/th-santorum.jpg" width="180" height="102" />
				  	<p>Rick Santorum</p>
				  </a>
				</li>
				<li id="thumbnail_video2">
				  <a href="">
					<img alt="Rick Perry" src="https://media.npr.org/news/graphics/2011/12/popup-politics/images/th-perry.jpg" width="180" height="102" />
				  	<p>Rick Perry</p>
				  </a>
				</li>
				<li id="thumbnail_video3">
				  <a href="">
					<img alt="Ron Paul" src="https://media.npr.org/news/graphics/2011/12/popup-politics/images/th-paul.jpg" width="180" height="102" />
				  	<p>Ron Paul</p>
				  </a>
				</li>
				<li id="thumbnail_video4">
				  <a href="">
					<img alt="New Gingrich" src="https://media.npr.org/news/graphics/2011/12/popup-politics/images/th-gingrich.jpg" width="180" height="102" />
					<p>Newt Gingrich</p>
				  </a>
				</li>
				<li id="thumbnail_video5">
				  <a href="">
					<img alt="Mitt Romney" src="https://media.npr.org/news/graphics/2011/12/popup-politics/images/th-romney.jpg" width="180" height="102" />
					<p>Mitt Romney</p>
				  </a>
				</li>
			  </ul>
			  </div>

		</div>

		<div style="clear:both;"></div>
		<div style="font: bold 12px Arial; margin-top:12px;">Sources</div>
		<div id="timeline"></div>

    </div>

    {% if COPY.labels.footnote %}
    <div class="footnotes">
        <h4>Notes</h4>
        <p>{{ COPY.labels.footnote }}</p>
    </div>
    {% endif %}

    <div class="footer">
        {% if COPY.labels.source %}<p>Source: {{ COPY.labels.source }}</p>{% endif %}
        {% if COPY.labels.credit %}<p>Credit: {{ COPY.labels.credit }}</p>{% endif %}
    </div>

{% endblock content %}


{% block js %}

    {{ JS.push('js/lib/jquery-git.js') }}
    {{ JS.push('js/lib/popcorn-complete.min.js') }}
    {{ JS.push('js/yfvr1gy4.js') }}
    {{ JS.push('js/lib/sublimevideo_playlists-jquery.js') }}
    {{ JS.push('js/lib/underscore.js') }}
    {{ JS.push('js/lib/pym.js') }}
    {{ JS.push('js/graphic.js') }}
    {{ JS.render('js/graphic-footer.js') }}

{% endblock js %}
