@import "./lib/base";

// ai2html artboard sizes
@media screen and (min-width: 730px) {
    #g-_ai2html-map-small, #g-_ai2html-map-medium { display: none; }
}

@media screen and (max-width: 729px) and (min-width: 400px) {
    #g-_ai2html-map-small, #g-_ai2html-map-wide { display: none; }
}

@media screen and (max-width: 399px) {
    #g-_ai2html-map-medium, #g-_ai2html-map-wide { display: none; }
}

// Add custom styles here


.g-aiPstyle7, .g-aiPstyle5, .g-aiPstyle5, .g-aiPstyle3 {

text-shadow: 0.5px 0.5px 1px rgb(255,255,255,0.7), -0.5px -0.5px 1px rgb(255,255,255,0.7);

}

