@import "base";

// Add custom styles here
.bars rect {
    fill: @blue4;

    &.puerto-rico { fill: @blue2; }
}

.labels li.puerto-rico {
    color: #333;
    font-weight: bold;
}

.value text.puerto-rico { font-weight: bold; }
