@import "./lib/base";

.bars rect.old {
  fill: #ccc;
}

.bars rect.recent {
  fill: @red2;
  opacity: 0.8;
}

li span {
  // text-transform: capitalize;
}

// Add custom styles here
h1, h2, .graphic {
    .mmedia-constrained-centered();
}

// Add custom styles here
.footnotes, .footer {
    .mmedia-constrained();
}

.hed-legend  {
  background-color: @red2;
  opacity: 0.7;
  padding: 0 2px;
  border-radius: 4px;
  color: #fff;
}