@import "./lib/base";

h1,h2,.footer,.graphic {
	max-width: 730px;
	margin-right: auto;
	margin-left:auto
}

// ai2html artboard sizes
@media screen and (min-width: 450px) {
    #g-_ai2html-map-small_2008,#g-_ai2html-map-small_2019, #g-_ai2html-map-wide_2019 { display: none; }
}

@media screen and (max-width: 449px) {
    #g-_ai2html-map-wide_2008, #g-_ai2html-map-wide_2019,#g-_ai2html-map-small_2019, { display: none; }
}

#kelp {
	background-color:#628c57;
	color:white;
	padding:2px 5px;
	border-radius:4px;
	opacity: 1;
	font-weight:bold
}

// Add custom styles here
