@import "base";

// Add custom styles here
body {
    padding: 0;
}

h1 {
    font-size: 18px;
}

.spending-top {
    .gotham();
    font-size: 1.1em;
    -webkit-font-smoothing: antialiased;

    span {
        display: block;
    }
}

.spending-area {
    font-weight: bold;
    color: #333;
}

.spending-amt {
    font-size: 0.9em;
    margin: 0.4em auto 0.5em;
    color: @teal3;
}

.spending-description {
    margin: 0 auto 1.5em;
    color: #777;
    font-size: 12px;
    line-height: 1.6;
}
