@import "base";

// ai2html artboard sizes
@media screen and (min-width: 730px) {
    #g-ai2html-graphic-small, #g-ai2html-graphic-medium { display: none; }
}

@media screen and (max-width: 729px) and (min-width: 451px) {
    #g-ai2html-graphic-small, #g-ai2html-graphic-wide { display: none; }
}

@media screen and (max-width: 450px) {
    #g-ai2html-graphic-medium, #g-ai2html-graphic-wide { display: none; }
}

// Add custom styles here
#g-ai2html-graphic-wide, #g-ai2html-graphic-small {
    .g-aiPstyle0  {
        .knockout();
        font-size: 20px;
        text-transform: capitalize;
    }

    .g-aiPstyle1 {
        // .gotham();
        color: #555;
    }

    .g-aiPstyle2 {
        .gotham();
        color: #555;
    }
}
