@import "base";

h1 { font-size: 18px; }

.content-wrapper {
    .clearfix();
}

line.y.grid-pop {
    stroke: #111;
    stroke-width: 1px;
}

line.y.side-tick {
    stroke: #111;
    stroke-width: 1px;
}

.label-bar {
    font-style:italic;
    fill: #333;
    font-size: 11px;
    -webkit-font-smoothing: antialiased;
}
// Add custom styles here
