@import "base";

body {
    width: 948px;
    margin: 0 auto;
}

dl, dt, dd { margin: 0; }

.multimediaPage #debateComparison .intro {
}
.multimediaPage #debateComparison .intro p {
	font-size: 15px;
	line-height: 1.3em;
	color: #333;
}

#debateComparison a { color: #36c; }

#debateComparison dl {
	font-size: 13px;
	line-height: 1.35em;
}
#debateComparison dl:after {
	content: "."; display: block; height: 0; clear: both; visibility: hidden;
}
#debateComparison dt,
#debateComparison dd {
	padding: 18px 0;
	margin-right: 24px;
	width: 190px;
	color: #333;
	float: left;
	margin-top: 18px;
}
#debateComparison .issue { border-top: 3px solid #000; clear: both; }
#debateComparison dd { border-top: 1px solid #CCC; padding-bottom: 24px; }
#debateComparison .romney {  }
#debateComparison .closer {
	background-color: #f1f1f1;
	padding-right: 18px;
	padding-left: 18px;
	width: 245px;
	color: #111;
}

#debateComparison .issue h3 {
	font: normal 18px Georgia, serif;
	margin-bottom: 9px;
	color: #333;
}
#debateComparison .issue blockquote {
	color: #666;
	font-style: italic;
	margin: 0;
}
#debateComparison .issue blockquote b {
	display: block;
	text-align: right;
	margin-top: 6px;
}
#debateComparison h5 {
	margin: 9px 0;
	color: #555;
	font: normal 11px Arial, Helvetica, sans-serif;
	text-transform: uppercase;
}
