@import "base";

.graphic { margin-bottom: 22px; }

.graphic h3 {
    margin-bottom: 6px;
}

.lines {
    fill: none;
    stroke-width: 3px;
    stroke: #ccc;
}

.axis-label {
    fill: #787878;
    font-size: 11px;
    font-style: italic;
    text-anchor: middle;
}

.dots {
    stroke: #fff;
    stroke-width: 1px;
}

.value text {
    fill: #666;
    font-size: 11px;
}

.chart-label {
    fill: #787878;
    font-style: italic;
    font-size: 11px;
    text-anchor: middle;
    letter-spacing: .3px;
}

.prez-terms {
    line { stroke: #999; }
    text {
        fill: #787878;
        font-size: 11px;
        font-style: italic;
        text-anchor: start;
    }
}

@media screen and (max-width: 500px) {
    // .chart.long-term { margin-bottom: 33px; }
}

// @media screen and (min-width: 500px) {
//     .key {
//         display: none;
//     }
// }
