@import "base";

sup {
    line-height: 0;
    color: #999;
}

// Base table styles
table {
    border-collapse: collapse;
    padding: 0;
    width: 100%;
    font-size: 12px;
    color: #666;
    margin-bottom: 11px;

    tr.shadedrow {
        background-color: #f1f1f1;
        color: #333;
        font-weight: bold;
    }

    th {
        border-bottom: 2px solid #eee;
        vertical-align: bottom;
        font-family: 'Knockout 31 4r', Helvetica, Arial, sans-serif;
        font-weight: normal;
        text-transform: uppercase;
        text-align: left;
        padding: 0 10px 10px 10px;
        padding-top: 0;
        line-height: 1.2;
        letter-spacing: 0.05em;
        -webkit-font-smoothing: antialiased;
    }

    td {
        padding: 10px;
        border-bottom: 1px solid #eee;
        vertical-align: top;

        &.amt {
            background-color: #f1f1f1;
            border-color: #fff;
            border-left: 1px solid #fff;

        }

        &.c-60 { background-color: @orange2; color: #fff; }
        &.c-50 { background-color: @orange3; color: #fff; }
        &.c-40 { background-color: @orange4; color: #fff; }
        &.c-30 { background-color: @orange5; }
        &.c-20 { background-color: @orange6; }
    }
}

// Desktop styles
@media screen and (min-width: 501px) {
    table {
        th,
        td {
            &.amt {
                text-align: center;
                vertical-align: middle;
                width: 15%;
            }
        }
    }
}

// Mobile styles
@media screen and (max-width: 500px) {
    tbody {
        display: block;
        width: 100%;
    }

    table {
        thead { display: none; }

        tr,
        th,
        th.amt,
        td,
        td.amt {
            display: block;
            padding: 0;
            white-space: normal;
        }

        tr {
            border-bottom: 1px solid #eee;
            padding: 10px 0;

            &:first-child { border-top: 1px solid #eee; }
        }

        td,
        td.amt {
            border: none;
            margin-bottom: 1px;
            padding: 5px 11px;
            text-align: left;

            &:empty { display: none; }
        }

        th[data-title]:before,
        td[data-title]:before {
            content: attr(data-title) ":\00A0";
            display: inline-block;
            width: 70%;
        }

        tr td:first-child {
            font-size: 14px;
            margin-bottom: 6px;
            color: #333;
            font-family: 'Knockout 31 4r', Helvetica, Arial, sans-serif;
            font-weight: 500;
            letter-spacing: 0.02em;
            text-transform: uppercase;

            &:before {
                content: '';
                display: none;
            }
        }
    }
}
