@import "base";

// Add custom styles here
.bar.BRI { fill: @orange3; }

.bri { 
	fill: #787878;
    font-size: 11px;
    font-style: italic;
    text-anchor: start;
}

.value text { 
	font-size: 14px; 
	font-weight: 100;
}

#value-13 { fill: #2f4f4f; }
#value-15, #value-18 { fill: #2f4f4f; }

@media screen and (max-width: 500px) {
	.value text { 
		font-size: 11px; 
	}
}