@import "base";

// Add custom styles here
.intro {
	@media (min-width: 500px) {
		z-index: 1;
		position: absolute;
		width: 300px;
		top: 43%;
		left: 2%;
	}
}

.map {
	width: 100%;
}

#md6-label {
	.gotham();
	z-index: 1;
	position: absolute;
	top: 14%;
	left: 24%;
	border: 1px solid @orange3;
	border-radius: 5px;
	padding: 5px 10px;
	font-weight: bold;
	color: @orange3;
	background: #fff;
	margin-left: -31px;
}