{% extends 'base_template.html' %}

{% block content %}

    <div id="graphic">

        <div id="pride-prejudice">

        	<div class="pride-header">
        		<div class="pride-seal"><img src="https://media.npr.org/news/graphics/2013/01/pride-prejudice/01-seal.png" alt="seal"></div>
        		<div class="pride-title"><img src="https://media.npr.org/news/graphics/2013/01/pride-prejudice/02-title.png" alt="title"></div>
        		<div class="pride-credit"><img src="https://media.npr.org/news/graphics/2013/01/pride-prejudice/03-credit.png" alt="credit"></div>
        		<div class="pride-quote"><img src="https://media.npr.org/news/graphics/2013/01/pride-prejudice/04-quote.png" alt="quote"></div>
                <div class="pride-quote-small"><img src="https://media.npr.org/news/graphics/2013/01/pride-prejudice/04-quote-small.png" alt="quote"></div>
        	</div>

        	<div class="pride-cast">
        		<div class="pride-cast-member pride-cast-1"><img src="https://media.npr.org/news/graphics/2013/01/pride-prejudice/cast-1.png" alt="cast1"></div>
        		<div class="pride-cast-member pride-cast-2"><img src="https://media.npr.org/news/graphics/2013/01/pride-prejudice/cast-2.png" alt="cast2"></div>
        		<div class="pride-cast-member pride-cast-3"><img src="https://media.npr.org/news/graphics/2013/01/pride-prejudice/cast-3.png" alt="cast3"></div>
        		<div class="pride-cast-member pride=cast-4"><img src="https://media.npr.org/news/graphics/2013/01/pride-prejudice/cast-4.png" alt="cast4"></div>
        	</div>

        	<div class="pride-panel pride-panel-1"><img src="https://media.npr.org/news/graphics/2013/01/pride-prejudice/panel-1.png" alt=""></div>
        	<div class="pride-panel pride-panel-2"><img src="https://media.npr.org/news/graphics/2013/01/pride-prejudice/panel-2.png" alt=""></div>
        	<div class="pride-panel pride-panel-3"><img src="https://media.npr.org/news/graphics/2013/01/pride-prejudice/panel-3.png" alt=""></div>
        	<div class="pride-panel pride-panel-4"><img src="https://media.npr.org/news/graphics/2013/01/pride-prejudice/panel-4.png" alt=""></div>
        	<div class="pride-panel pride-panel-5"><img src="https://media.npr.org/news/graphics/2013/01/pride-prejudice/panel-5.png" alt=""></div>
        	<div class="pride-panel pride-panel-6"><img src="https://media.npr.org/news/graphics/2013/01/pride-prejudice/panel-6.png" alt=""></div>
        	<div class="pride-panel pride-panel-7"><img src="https://media.npr.org/news/graphics/2013/01/pride-prejudice/panel-7.png" alt=""></div>
        	<div class="pride-panel pride-panel-8"><img src="https://media.npr.org/news/graphics/2013/01/pride-prejudice/panel-8.png" alt=""></div>
        	<div class="pride-panel pride-panel-9"><img src="https://media.npr.org/news/graphics/2013/01/pride-prejudice/panel-9.png" alt=""></div>
        	<div class="pride-panel pride-panel-10"><img src="https://media.npr.org/news/graphics/2013/01/pride-prejudice/panel-10.png" alt=""></div>
        	<div class="pride-panel pride-panel-11"><img src="https://media.npr.org/news/graphics/2013/01/pride-prejudice/panel-11.png" alt=""></div>
        	<div class="pride-panel pride-panel-12"><img src="https://media.npr.org/news/graphics/2013/01/pride-prejudice/panel-12.png" alt=""></div>
        	<div class="pride-panel pride-panel-13"><img src="https://media.npr.org/news/graphics/2013/01/pride-prejudice/panel-13.png" alt=""></div>
        	<div class="pride-panel pride-panel-14"><img src="https://media.npr.org/news/graphics/2013/01/pride-prejudice/panel-14.png" alt=""></div>
        	<div class="pride-panel pride-panel-15"><img src="https://media.npr.org/news/graphics/2013/01/pride-prejudice/panel-15.png" alt=""></div>
        	<div class="pride-panel pride-panel-16"><img src="https://media.npr.org/news/graphics/2013/01/pride-prejudice/panel-16.png" alt=""></div>
        	<div class="pride-panel pride-panel-17"><img src="https://media.npr.org/news/graphics/2013/01/pride-prejudice/panel-17.png" alt=""></div>
        	<div class="pride-panel pride-panel-18"><img src="https://media.npr.org/news/graphics/2013/01/pride-prejudice/panel-18.png" alt=""></div>

        </div>

    </div>

{% endblock content %}
