@import "base";

@maxWidth: 730px;

h3 { font-size: 13px; }

h5 {
    margin: 0;
    font-family: 'Knockout 31 4r';
    font-weight: normal;
    text-transform: uppercase;
    padding-top: 0;
    line-height: 1.2;
    letter-spacing: 0.05em;
    -webkit-font-smoothing: antialiased;
    font-size: 10px;
    color: #999;
    text-align: center;

    &.total { color: #666; }
}

sup {
    line-height: 0;
    padding-left: 2px;
}

.footnotes,
.footer {
    max-width: @maxWidth;
    margin-left: auto;
    margin-right: auto;
}

.tabs {
    display: table;
    width: 100%;
    max-width: @maxWidth;
    margin: 0 auto 27px auto;
    padding: 0;
    list-style-type: none;

    > li {
        display: table-cell;
        width: 50%;
        text-align: center;
        line-height: 44px;
        font-size: 12px;
        border-top: 1px solid #eee;
        border-right: 1px solid #eee;
        border-bottom: 1px solid #eee;
        background-color: #eee;
        color: #6d8ac4;
        font-family: 'Knockout 31 4r';
        font-weight: normal;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        -webkit-font-smoothing: antialiased;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        &:nth-child(1) { border-left: 1px solid #eee; }
        &:hover {
            opacity: 0.7;
            cursor: pointer;
        }

        &.active {
            border-bottom: none;
            background-color: #fff;
            color: #454545;

            &:hover {
                opacity: 1;
                cursor: default;
            }
        }
    }
}

.labels li {
    color: #666;
    font-size: 14px;
    font-family: 'Gotham SSm',Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

.chart {
    margin: 0 auto 33px auto;
    max-width: @maxWidth;
    position: relative;

    h3 { margin-bottom: 22px; }
    h5 { position: absolute; }

    .annotations line {
        stroke: #999;
        stroke-width: 1px;
    }
}

.detail {
    max-width: @maxWidth;
    margin: 0 auto;
    h3 { margin-bottom: 22px; }
}

.key-numbers {
    position: absolute;
    border-top: 1px solid #eee;

    .stat {
        display: table;
        position: absolute;
        font-size: 11px;
        font-family: 'Gotham SSm',Helvetica,Arial,sans-serif;
        -webkit-font-smoothing: antialiased;
        color: #999;
        border-bottom: 1px solid #eee;
        text-align: center;

        span {
            display: table-cell;
            vertical-align: middle;
        }

        &.total {
            font-size: 13px;
            font-weight: 700;
        }
    }
}

.dem {
    b.pledged { color: @blue2; }
    b.super { color: @blue4; }

    .unassigned {
        b.pledged { color: #999; }
        b.super { color: #ccc; }
    }
}

.dem .key-numbers {
    .stat {
        &.total { color: @blue1; }
    }
}

.gop .key-numbers {
    .stat {
        &.total { color: @red1; }
    }
}


// Base table styles
table {
    border-collapse: collapse;
    padding: 0;
    width: 100%;
    font-size: 12px;
    color: #666;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 22px;

    th, td {
        padding: 10px;

        &:first-child { padding-left: 0; }
        &.total.sanders,
        &.total.clinton,
        &.total.trump {
            border-left: 1px solid #eee;
        }
    }

    th {
        border-bottom: 2px solid #eee;
        vertical-align: bottom;
        font-family: 'Knockout 31 4r', Helvetica, Arial, sans-serif;
        font-weight: normal;
        text-transform: uppercase;
        padding-top: 0;
        line-height: 1.2;
        letter-spacing: 0.05em;
        text-align: center;

        &:first-child { text-align: left; }
        &.pledged {
            color: #999;
            font-size: 10px;
        }
    }

    td {
        border-bottom: 1px solid #eee;
        vertical-align: middle;
        font-family: 'Gotham SSm',Helvetica,Arial,sans-serif;

        &.total {
            color: #ccc;
            text-align: center;

            &.has-dels {
                font-weight: 700;
                color: #454545;
                border-color: #fff;
            }
        }

        &.pledged,
        &.super {
            font-weight: normal;
            color: #999;
            font-size: 80%;
            text-align: center;
        }
    }

    .nation {
        background-color: #f1f1f1;
        color: #333;
        font-weight: bold;
        font-size: 120%;
        line-height: 1.2;

        td {
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }

    .date {
        display: block;
        font-size: 10px;
        color: #999;
        margin-top: 3px;
    }
}

.gop table {
    td {
        width: 16%;

        &.has-dels {
            border-left: 1px solid #fff;

            &.total {
                color: @red1;
                background-color: @red6;

                &.cruz,
                &.kasich,
                &.rubio {
                    color: #666;
                    background-color: #ddd;
                }
            }

            &.winner {
                color: #fff;
                background-color: @red2;

                &.cruz,
                &.kasich,
                &.rubio {
                    color: #fff;
                    background-color: #787878;
                }
            }

            &.unassigned {
                background-color: #f1f1f1;
                color: #999;
                font-weight: normal;
            }
        }
    }
}

.dem table {
    td {
        &.has-dels {
            &.total {
                color: @blue1;
                background-color: @blue6;
            }

            &.winner {
                color: #fff;
                background-color: @blue2;
            }

            &.unassigned {
                background-color: #f1f1f1;
                color: #999;
            }
        }
    }
}


// Mobile styles
@media screen and (min-width: 501px) {
    .desktop { display: inline; }
    .mobile { display: none; }
}
@media screen and (max-width: 500px) {
    .desktop { display: none; }
    .mobile { display: inline; }

    .chart h3 { margin-bottom: 33px; }
    .key-numbers {
        .stat {
            font-size: 9px;

            &.total { font-size: 12px; }
        }
    }
    .labels li { font-size: 11px; }

    table {
        font-size: 11px;

        th, td {
            padding: 5px 0;

            &:first-child { padding-left: 0; }
        }
    }

    .detail {
        table th.pledged { font-size: 9px; }
        table td.pledged {
            font-size: 8px;
            white-space: nowrap;
        }

        table th.total,
        table th.pledged {
            text-align: left;
            line-height: 1;

            div {
                position: relative;
                height: 70px;
                width: 100%;
            }

            span {
                position: absolute;
                bottom: 55%;
                left: 50%;
                -webkit-transform: translateX(-50%) translateY(50%) rotate(-90deg);
                transform: translateX(-50%) translateY(50%) rotate(-90deg);
                width: 70px;
            }

            .dem& { width: 12%; }
            .gop& { width: 16%; }
        }
    }
}


.map {
    margin-bottom: 33px;
    box-sizing: content-box;

    &.gop,
    &.dem {
        margin-left: auto;
        margin-right: auto;
    }

    h3 {
        text-align: center;
        margin-bottom: 22px;
    }

    h4 {
        margin: 0 0 6px 0;
        text-align: center;
        font-family: 'Gotham SSm',Helvetica,Arial,sans-serif;
        line-height: 1.3;
        font-weight: 400;
        -webkit-font-smoothing: antialiased;
        font-size: 14px;
        color: #454545;
    }

    h5,
    h6 {
        font-family: 'Knockout 31 4r', Helvetica, Arial, sans-serif;
        font-weight: normal;
        text-transform: uppercase;
        line-height: 1.2;
        letter-spacing: 0.05em;
        -webkit-font-smoothing: antialiased;
        text-align: center;
        margin: 0;
    }

    h5 {
        font-size: 11px;
        color: #666;
    }
    h6 {
        margin-top: 3px;
        color: #999;
        font-size: 10px;

        .dem & .pledged { color: @blue2; }
        .dem & .super { color: @blue4; }
    }

    p.desc {
        margin: -15px auto 33px auto;
        max-width: 730px;
        text-align: center;
        font-style: italic;
        font-size: 12px;
        color: #999;
    }

    .map-party {
        margin-top: 33px;

        &:before,
        &:after {
            content: ' ';
            display: table;
        }

        &:after { clear: both; }
    }

    .map-wrapper { margin-top: -25px; }

    rect {
        shape-rendering: crispEdges;

        &.candidate {
            stroke-width: 1px;

            .dem & { fill: @blue4; }
            .dem &.pledged { fill: @blue2; }
            .gop & { fill: @red4; }
            .gop &.pledged { fill: @red2; }
            #map-cruz&,
            #map-kasich&,
            #map-rubio& {
                fill: #aaa;

                &.pledged { fill: #787878; }
            }
        }
        &.total { fill: #dadada; }
        &.frame {
            fill: none;
            stroke: none;
        }
        &.text-bg {
            fill: @yellow5;
            fill-opacity: 0.9;
            display: none;
        }
    }

    text {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        fill: #999;

        &.territories {
            display: block;
            font-family: 'Knockout 31 4r', Helvetica, Arial, sans-serif;
            text-transform: uppercase;
            letter-spacing: 0.05em;
            -webkit-font-smoothing: antialiased;
        }
    }

    .always-show text { display: block; }
    .has-delegates text { fill: #fff; }
    .hidden text { display: none; }
    .dem text { font-size: 18px; }
    .gop text { font-size: 14.5px; }

    .active {
        cursor: pointer;

        rect.total { fill: @yellow5; }

        &.show-label {
            rect.text-bg { display: block; }
            text {
                display: block;
                fill: @yellow2;
            }
        }
    }

    .boxes {
        shape-rendering: crispEdges;

        &.total {
            fill: none;
            stroke: @red5;
            stroke-width: 1.5px;
        }
        &.candidate {
            fill: @red4;
            stroke: none;
        }
    }

    .state-labels {
        font-size: 10px;
        fill: #333;
    }

    @media screen and (min-width: 501px) {
        #map-clinton,
        #map-trump,
        #map-rubio {
            float: left;
            padding-right: 11px;
            border-right: 1px solid #eee;
        }
        #map-sanders,
        #map-cruz,
        #map-kasich {
            float: right;
        }
        #map-trump,
        #map-cruz {
            margin-bottom: 0;
            padding-bottom: 22px;
        }
        // #map-kasich {
        //     clear: both;
        //     margin: 0 auto;
        //     border-top: 1px solid #eee;
        //     padding-top: 22px;
        // }
    }

    @media screen and (max-width: 500px) {
        h3,
        p.desc { text-align: left; }
    }
}
