@import "base";


.axis.x {
    path.domain { display: none; }
}

line.y.grid-0 {
    stroke: #999;
}
//how to make just 1981 bar red
/*
.bars rect {
    fill: @teal3;
    &.bar-1981 {
        fill: @red3;
    }
}
*/
