@import "./lib/base";

.value text {
    fill: #fff;

    &.hidden {
        display: none;
    }
}

.middle-school {
	rect.daily {
		fill: @orange1 !important;
	}
	rect.twenty-or-more-days {
		fill: @orange3 !important;
	}
	rect.fewer-than-twenty-daysmonth {
		fill: @orange5 !important;
	}

	text.less-than-20-daysmonth {
		fill: #333;
	}
}