@import "./lib/base";

body {
  padding: 0;
}

.video-wrapper {
  video {
    width: 100%;
    height: auto;

    &:hover { cursor: pointer; }
  }

  a {
    display: block;
  }
}

.caption {
  margin: 0 0 2px 0;
  padding: 0;
  font-size: 12px;
  color: #777;
  line-height: 20px;

  blockquote {
    .gotham();
    color: #666;
    font-size: 1.4rem;
    margin: 0 0 1rem;
    padding: 0;
    line-height: 1.4;
    position: relative;

    &::before {
      content: "“";
      position: absolute;
      margin-left: -10px;
    }

    &::after {
      content: "”";
    }
  }

  p {
      margin: 0 0 2px 0;

      &.credit {
          color: #aaa;
          line-height: 1.7;
          font-size: 10px;
          font-style: italic;
          margin-bottom: 0;
      }
  }

  .hp-only { display: none; }

  .hp & {
    margin-top: 0;

    .cutline { display: none; }
    .hp-only { display: inline; }
  }
}
