@import "base";

h1, h2 {
    @media @screen-mobile-above {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        max-width: 650px;
    }
}

h1 {
    font-size: 18px;
    margin-bottom: 22px;

    strong { color: #333; }
}

.key {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 15px;

    @media @screen-mobile-above {
        justify-content: center;
        flex-wrap: nowrap;
        margin-bottom: 25px;
    }

    .key-item {
        .clearfix();
        box-sizing: border-box;
        margin: 0 0 11px 0;

        @media @screen-mobile {
          padding: 0 18px 0 0;
          width: 50%;
        }

        @media @screen-mobile-above {
          margin-bottom: 0;
          padding: 0 6px;
          width: 13%;
        }

        b {

          @media @screen-mobile {
          }

          @media @screen-mobile-above {
            display: block;
            float: none;
            margin: 0 auto 6px auto;
            width: 100%;
            height: 5px;
          }
        }

        label {
          display: block;
          white-space: normal;

          @media @screen-mobile {
            margin-left: 25px;
          }

          @media @screen-mobile-above {
            font-size: 13px;
            text-align: center;
          }
        }
    }
}

ul.labels li.overall {
    font-weight: bold;
    color: #333;
}

.value text {
    fill: #fff;

    .group.overall & { font-weight: bold; }

    &.centered { text-anchor: middle; }
    &.hidden { display: none; }
}

// .group rect {
//   fill-opacity: 0.9;
//
//   .overall& { fill-opacity: 1; }
// }
