@import "./lib/base";

.key .key-item {
    margin: 0px;
}

ul.key {
    margin-bottom: 15px;
}

.legend-container label {
    white-space: nowrap;
    font-size: 12px;
    color: #666;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}


.wasted-label {
	font-size: 12px;
}

.label-hed {
	font-size: 12px;
	font-weight: bold;
}

.wasted-label-hed {
	text-anchor: middle;
}

.cast-label-hed {
	text-anchor: left;
}

.dist-labels {
	font-weight: bold;
}


.Dem-wasted-label {
	fill: @blue3;
}

.GOP-wasted-label {
	fill: @red3;
}

li.key-item.key-0 b{
	margin-right: 2px;

}

.legend-container {
	display: inline-block;
}

.legend-container-0 {
	margin-right: 15px;
}

.key label {
	vertical-align: top;
}