@import "./lib/base";

h1 {
  font-size: 18px;
  margin-bottom: 22px;
  text-align: center;

  strong {
    color: #333;
  }
}

h3 {
  // .gotham();

  margin-bottom: 11px;
  text-align: center;
  // text-transform: none;
  // letter-spacing: none;
}

.chart + .chart {
  margin-top: 22px;
}

h4 {
    font-family: 'Gotham SSm',Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-weight: 400;
    color: #666;
    font-size: 13px;
    margin: 0 0 11px 0;
    text-align: center;
}

h2 {
      font-weight: normal;
    color: #777;
    font-size: 14px;
    margin: -5px 0 22px 0;
    line-height: 1.6;
    text-align: center;
}

h2.note {
      font-weight: normal;
    color: #777;
    font-size: 12px;
    margin: -5px 0 22px 0;
    line-height: 1.6;
    text-align: center;
    font-style: italic;
}

.value text {
    font-size: 12px;
    font-weight: bold;
    stroke-width: 3px;
    fill: black;
    stroke: #FFF8;
    paint-order: stroke fill;
    text-anchor: middle;
    opacity: 1;

    // .group.overall & { font-weight: bold; }

    &.left {
      text-anchor: start;

      &.center { text-anchor: middle; }
      &.out { text-anchor: end; }
    }

    &.right {
      text-anchor: end;

      &.center { text-anchor: middle; }
      &.out { text-anchor: start; }
    }
    &.centered { text-anchor: middle; }
    &.hidden { display: none; }
}

.labels li {
  font-size: 12px;

  &.immigration {
    font-weight: bold;
    color: #333;
  }
}

// .group rect {
//   opacity: 0.9;
//
//   .overall& { opacity: 1; }
// }

.group {
    &.all-adults rect {fill:#aaa;}
    &.republicans rect {fill:#d62021;}
    &.democrats rect {fill:#237bbd;}
    &.independents rect {fill:rgb(21, 177, 110);}
}

.key {
    display: webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 15px;

    @media @screen-mobile-above {
        flex-wrap: nowrap;
        margin-bottom: 33px;
    }

    .key-item {
        .clearfix();
        margin-bottom: 6px;
        width: auto;

        @media @screen-mobile {
          // width: calc(40% - 18px);
        }

        @media @screen-mobile-above { margin-bottom: 0; }

        // &:nth-child(1) { order: 0; }
        // &:nth-child(2) { order: 2; margin-right: 0;}
        // &:nth-child(3) { order: 1; }

        label {
            @media @screen-mobile-above { font-size: 12px; }

            white-space: normal;
        }
    }
}

.chart {
  padding-top: 10px;
  border-top: 2px solid #eee;
}

.moe-bars {
  // .democrats {
  //   fill: #237bbd;
  //   color: #237bbd;
  // }

  .disapprove {
    fill: @orange3;
    color: @orange3;
  }

  .unsure {
    fill: #888;
    color: #888;
  }

  rect.moe.inner {
    fill: url(#inner-stripes);
  }

  rect.moe.outer {
    fill: url(#outer-stripes);
  }

  line.moe {
    stroke: currentColor;
    stroke-width: 3px;
  }

  text.in {
    fill: black;
    stroke: #FFF8;
    paint-order: stroke fill;
  }

  text.out {
    fill: black;
    stroke: white;
    paint-order: stroke fill;
  }
}