@import "./lib/base";

.label-key {
	padding: 4px;
	border-radius: 4px;
	background-color: #EE9984;
	color: white;
}
.gfx-mobile {
	display: none;
}


@media(max-width:600px) {
  .gfx-mobile {
	display: block;
}
	.gfx-desktop {
		display: none;
	}
}
