@import "base";

// Add custom styles here
#non-voter-chart {
	.bars rect {
		fill: @orange3;
	}
}

.graphic {
	display: inline-block;
}

.chart-title {
	text-align: center;
	margin-bottom: 10px;
	margin-top: 22px;
}
