.lines {
    fill: none;
    stroke-width: 3px;
    stroke: #ccc;
}

.annotations text {
    fill: #999;
    font-size: 11px;
    -webkit-font-smoothing: antialiased;
    font-style: italic;
    text-anchor: begin;
}

@media screen and (max-width: 350px) {
//    .annotations { display: none; }
}
