@import "./lib/base";

.bixBox {
	display: flex;
	flex-direction: row;
	align-items:flex-end;
	justify-content: center;
}

.waffle {
	display: flex;
	flex-wrap: wrap-reverse;
	width:150px;
	margin: 25px;
}

.block {
	width:3px;
	height:3px;
	margin: 0.5px;
}

p {
	font-family: Gotham;
}

b.ub {
	display: inline-block;
	width: 15px;
    height: 15px;
    margin-right: 5px;
    background-color: #FE4A49;
}