@import "./lib/base";

.value text {
    fill: #fff;

    &.hidden {
        display: none;
    }
}

.graphic {
    max-width: 650px;
    margin: auto;
  }

  .footer {
    .mmedia-constrained();
  }

  h1, .key, h2 {
    .mmedia-constrained-centered();

  }
