@import "./lib/base";

.lines {
  fill: none;
  stroke-width: 3px;
  stroke: #ccc;
}

.value text {
  font-size: 12px;
  font-weight: bold;
  fill: #999;
}

.key-item {
  // &.one-year {
  //   display: none;
  // }
  // &.two-years {
  //   display: none;
  // }
  // &.three-years {
  //   display: none;
  // }
  // &.four-years {
  //   display: none;
  // }
  // &.eight-years {
  //   display: none;
  // }
  // &.nine-years-or-more {
  //   display: none;
  // }
}

@media screen and (max-width: 500px) {
  .value text {
    font-size: 10px;
  }
}
