@import "./lib/base";

.value text {
    fill: #fff;

    &.hidden {
        display: none;
    }
}

table .agree {
  text-align: center;
  vertical-align: middle;
  width: 75px;
}

// Base table styles
table {
  border-collapse: collapse;
  padding: 0;
  width: 100%;
  font-size: 12px;
  color: #666;

  tr.shadedrow {
    background-color: #f1f1f1;
    color: #333;
    font-weight: bold;
  }

  th {
    .knockout-header();
    line-height: 1.2;
    text-align: left;
    vertical-align: bottom;
  }

  td { vertical-align: top; }
}

/*
* larger-than-small-screen styles
* ~ defining some desktop-only styles here to avoid
* ~ writing extra mobile styles to undo them.
*/
@media @screen-mobile-above {
  table {
    th, td {
      padding: 10px;

      // comment these two out if you want to highlight particular rows
      &:first-child { padding-left: 0; }
      &:last-child { padding-right: 0; }

      &.amt { text-align: right; }
    }

    th {
      border-bottom: 2px solid #eee;
      padding-top: 0;
    }

    td { border-bottom: 1px solid white; }
  }
}

/*
* small-screen styles
*/
@media @screen-mobile {
  table td {
    vertical-align: middle;
  }

  td:first-child {
    padding: 8px 4px 8px 0;
  }

  th:not(:first-child) {
    padding: 0 8px;
  }
}

text.open-to-learning-more-about-it {
  fill: #444;
}
