@import "base";

h1 { font-size: 18px; }

.bar text {
    // fill: #888;
    fill: #fff;

    &.hidden {
        display: none;
    }
}

@media (max-width: 300px){

    .bar text{
        font-size:9pt;
    }

}
