@import "./lib/base";

.bar-0, .bar-2, .bar-3, .bar-4, .bar-5, .bar-6, .bar-7, .bar-8, .bar-9 {
    fill: @teal5;
}
.bar-1  {
    fill: @teal2;
}

.axis-label {
    text-anchor: start;
    fill: #777;
  }