@import "base";

body { width: 624px; }

#graphic { margin-bottom: 22px; }

#nukeDaily {
	width: 624px;
	overflow: hidden;
	position: relative;
	color: #555;
	font: 12px/1.35em Arial, Helvetica, sans-serif;
}

#nukeDaily .nukeWrapper {
	margin: 0;
	width: 624px;
}
#nukeDaily .update {
	width: 624px;
	margin: 0 0 10px 0;
	clear: right;
	float: left;
	position: relative;
}

#nukeDaily .update img { float: none; display: block; }

#nukeDaily .update h2 {
	margin: 0 0 3px 0;
	font: bold 14px/20px Georgia, serif;
	color: #333;
}

#nukeDailyNav {
	width: 624px;
	padding-top:5px;
}
#nukeDailyNav h1, #res135020432 h3,
#storyspan03 #res135115590 h3 {
	font:bold 13px Arial, sans-serif;
	margin: 0 0 9px 0;
	color: #000;
	padding-bottom: 14px;
	border-bottom: 5px solid #ccc;
}


#nukeDailyNav .nukeNavButtons {
	width: 200px;
	float: right;
	text-align: right;
}
#nukeDailyNav .nukeNavButtons span {
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select: none;
}
#nukeDailyNav #nukeBack, #nukeDailyNav #nukeNext {
	cursor: pointer;
	background-color: #BABABA;
	color: #f1f1f1;
	padding: 6px 8px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;


}
#nukeDailyNav #nukeNums {
	width: 100px;
	text-align: center;
	font-size: 12px;
	color: #666;
}
#nukeDailyNav #nukeNums b {
	padding: 0 4px;
	color: #999;
	font-weight: normal;
}
#nukeDailyNav #nukeNums b.nukeActive {
	color: #999;
	font-weight: bold;
	border: 1px solid #CCC;
}

#nukeDailyNav #nukeBack {
	margin-right: 6px;
}
#nukeDailyNav #nukeBack:hover, #nukeDailyNav #nukeNext:hover {
	background-color: #999;
}
#nukeDaily p.more {
	display: none;
}

#nukeDaily p.credits {
	clear: both;
	color: #999;
	font-style: italic;
	font-size: 11px;
	margin:0px;
	padding:0px;
}

.update.chart th {
	width: 33%;
	}

.update.chart table th.comparison, .update.chart table td.comparison {
	text-align: center;
	}

.update.chart table td {
	border-bottom: 1px dotted #ccc;
	}
