@import "./lib/base";

.lines {
  fill: none;
  stroke-width: 3px;
  stroke: #ccc;
  // stroke-linecap: round;
  stroke-linejoin: round;
}

.value text {
  font-size: 12px;
  font-weight: bold;
  fill: #999;
  // text-anchor: end;
}

@media screen and (max-width: 500px) {
  .value text {
    font-size: 10px;
  }
}

@media screen and (min-width: 500px) {
  .key {
    display: none;
  }
}