@import "base";

.value text {
    fill: #666;
    font-size: 11px;

    &.hidden {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .key .key-item {
        display: block;
        margin-bottom: 3px;
    }
}
