@import "base";

h3 {
    font-size: 13px;
    margin-bottom: 6px;
}

h4 {
    margin: 0 0 15px 0;
    font-family: 'Knockout 31 4r';
    font-weight: normal;
    text-transform: uppercase;
    padding-top: 0;
    line-height: 1.2;
    letter-spacing: 0.05em;
    -webkit-font-smoothing: antialiased;
    font-size: 11px;
    color: #999;
}

.bars rect { fill: @orange3; }

@media screen and (max-width: 500px) {
    .chart.most { margin-bottom: 22px; }
}
