@import "base";

.graphic { margin-bottom: 22px; }

.graphic .chart {
    margin-top: 11px;

    &:first-child { margin-top: 0; }
}

.value text {
    fill: #fff;

    &.hidden {
        display: none;
    }
}
