@import "base";

// Add custom styles here

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.labels li {
    line-height: 1.2em;
}

.bars rect {
    fill: @red4;
}

@media screen and (min-width: 501px) {
    .graphic {
        width: 50%;
        display: inline-block;
        vertical-align: top;
        margin: 0 0 30px;
    }
}

@media screen and (max-width: 500px) {
    .graphic {
        width: 100%;
        float: none;
        margin: 0 0 20px;
    }
}
