@import "./lib/base";

.value text {
    fill: #fff;

    &.hidden {
        display: none;
    }

    &.denied {
        font-weight: bold;
    }
}

// rect.denied-referred-fraud,
// rect.valid {
//     opacity: 0.6;
// }

// b.denied-referred-fraud,
// b.valid {
//     opacity: 0.6;
// // }

// li.denied.key-item.key-0 {
//     label {
//         font-weight: bold;
//     }
    
// }

// Add custom styles here
h1, h2, .graphic {
    .mmedia-constrained-centered();
}

// Add custom styles here
.footnotes, .footer {
    .mmedia-constrained();
}
