@import "base";

// Add custom styles here
.chart {
	float: left;
	margin-left: 22px;
	margin-bottom: 22px;

	&:first-child {
		margin-left: 0;
	}
}

h3 {
	height: 28px;
}

@media screen and (max-width: 500px) {
	.chart {
		margin-left: 0;
	}
}
