@import "base";

// Add custom styles here

.bars rect {
    &.democratic-women { fill: @blue3; }
    &.democratic-men { fill: @blue5; }
    &.republican-women { fill: @red3; }
    &.republican-men { fill: @red5; }
}
