@import "base";

.value text {
    fill: #fff;

    &.hidden {
        display: none;
    }
}

// .foreign-aid rect.other {
// 	fill: #ccc !important;
// }

// .key-2 b {
// 	background: #ccc !important;
// }

li.foreign-aid  {
	display: none !important;
}