@import "base";

h1 { margin-bottom: 22px; }

.value text {
    fill: #fff;

    &.hidden {
        display: none;
    }
}

.bar text {
    fill: #fff;

    &.hidden {
        display: none;
    }
}

// g.group rect, g.bar rect  {
//     opacity: 0.8;
// }
