@import "./lib/base";

.bars rect {
  fill: @orange4;
  
  // &.positive {
  //   fill: @teal3;
  // }
  // &.negative {
  //   fill: @teal5;
  // }
}

.zero-line-annot {
  font-size: 11px;
  font-style: italic;
  fill: #999;
  text-anchor: end;
}
