@import "./lib/base";

@expanded: @teal3;
@restricted: @orange3;
@mixed: #999;

h1, h2 {
  .mmedia-constrained-centered();
}

h1 {
  font-size: 18px;
}

.footnotes,
.footer {
  .mmedia-constrained();
}

@import "./hexmap";
@import "./table";
