@import "base";

h1 { margin-bottom: 22px; }
// h2 { margin-bottom: 11px; }

// Add custom styles here
.time-labels p {
	.gotham();
	margin-top: 5px;
	font-weight: bold;
}

.align-left	{
	text-align: left;
}


.align-right {
	text-align: right;
	float: right;
}

.spacer { .clearfix(); }
