@import "./lib/base";

// ai2html artboard sizes
@media screen and (min-width: 530px) {
    #g-_ai2html-map-small { display: none; }
}

// @media screen and (max-width: 729px) and (min-width: 400px) {
//     #g-_ai2html-map-small, #g-_ai2html-map-wide { display: none; }
// }

@media screen and (max-width: 529px) {
    #g-_ai2html-map-square { display: none; }
}

// Add custom styles here
h1,h2,.footer,.graphic {
	.mmedia-constrained();
	max-width: 735px;
}

// @media screen and (min-width: 530px) and (max-width: 650px) {
// 	#g-_ai2html-map-square .g-aiPstyle5 {
// 		font-size: 12px !important;
// 	}
// }

@media screen and (min-width: 400px) {

	#g-_ai2html-map-small .g-aiPstyle10 {
		font-size: 14px !important;
	}

	#g-_ai2html-map-small .g-aiPstyle5 {
		line-height: 15px !important;
	}

}


@media screen and (min-width: 450px) {
	#g-_ai2html-map-small .g-aiPstyle9 {
		font-size: 14px !important;
		line-height: 16px !important;
	}

	#g-_ai2html-map-small .g-aiPstyle10 {
		font-size: 14px !important;
	}

	#g-_ai2html-map-small .g-aiPstyle8 {
		font-size: 12px !important;
	}

	#g-_ai2html-map-small .g-aiPstyle2, #g-_ai2html-map-small .g-aiPstyle1 {
		font-size: 12px !important;
	}

	#g-_ai2html-map-small .g-aiPstyle3 {
		font-size: 12px !important;
	}

	#g-_ai2html-map-small .g-aiPstyle0 {
		font-size: 12px !important;
	}

	#g-_ai2html-map-small .g-aiPstyle5 {
		font-size: 14px !important;
	}
}

@media screen and (min-width: 500px) {

	#g-_ai2html-map-small .g-aiPstyle6 {
		font-size: 16px !important;
		line-height: 18px !important;
	}

}

@media screen and (max-width: 625px) {

	#g-_ai2html-map-square .g-aiPstyle5,#g-_ai2html-map-square .g-aiPstyle7,#g-_ai2html-map-square .g-aiPstyle2  {
		font-size: 13px !important;
	}


}
