@import "base";

/* Key
========================================*/
.key {
    margin: 0 0 18px 0;
    padding: 0;
    list-style-type: none;
}
.key .key-item {
    display: inline-block;
    margin: 0 18px 0 0;
    padding: 0;
    line-height: 15px;
}
.key .key-item b {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 6px;
    float: left;
}
.key .key-item label {
    white-space: nowrap;
    font-size: 12px;
    color: #666;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}

/* Grid Map
========================================*/

.tile-grid-map {
    margin-bottom: 33px;
}

.state {
    fill: #eee;
}

.label {
    font-family: 'Knockout 31 4r';
    font-size: 12px;
    fill: #979797;
}

.label-active {
    fill: #fff;

    &.color-55 {
        fill: mix(@blue4, #999, 50%);
    }
}

@media screen and (min-width: 601px){
    .graphic {
        text-align: center;
        position: relative;
    }

    .key-wrap {
        width: 100%;
        position: absolute;
        top: 0;
    }

    .label {
        font-size: 8px;
    }
}

@media screen and (max-width: 600px){
    .label {
        font-size: 15px;
    }
}
