@import "base";

// ai2html artboard sizes
@media screen and (min-width: 660px) {
        #g-ai2html-graphic-small, #g-ai2html-graphic-medium { display: none; }
}

@media screen and (max-width: 660px) {
    #g-ai2html-graphic-medium, #g-ai2html-graphic-wide { display: none; }
}

.footer-center{
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

h1{
  text-align: center;
}
// Add custom styles here
