@import "base";

#graphic p {
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0,0,0,.8) 1px 0 10px;
}

#graphic #g-ai2html-graphic-wide p.g-aiPstyle2,
#graphic #g-ai2html-graphic-medium-graphic p.g-aiPstyle2,
#graphic #g-ai2html-graphic-small p.g-aiPstyle1 {
    text-shadow: none;
}


// ai2html artboard sizes
@media screen and (min-width: 730px) {
        #g-ai2html-graphic-small, #g-ai2html-graphic-medium { display: none; }
}

@media screen and (max-width: 729px) and (min-width: 400px) {
    #g-ai2html-graphic-small, #g-ai2html-graphic-wide { display: none; }
}

@media screen and (max-width: 399px) {
    #g-ai2html-graphic-medium, #g-ai2html-graphic-wide { display: none; }
}

// Add custom styles here
