@import "base";

.value text {
    fill: #fff;

    &.hidden {
        display: none;
    }
}

ul.labels li.total span {
    font-weight: bold;
    color: #333;
}

g.group  {
    opacity: 0.8;

    &.total {
        opacity: 1;
    }
}
