{% extends 'base_template.html' %}

{% block content %}

    {% if COPY.labels.headline %}<h1>{{ COPY.labels.headline|smarty }}</h1>{% endif %}
    {% if COPY.labels.subhed %}<h2>{{ render(COPY.labels.subhed)|smarty }}</h2>{% endif %}

    <div id="graphic" class="graphic">
        <table border="0" cellpadding="0" cellspacing="0" class="progScheduleTable">
			<tbody><tr bgcolor="#3366CC">
				<th>ET</th>
				<th><span class="desktop">Monday</span><span class="mobile">Mon</span></th>
                <th><span class="desktop">Tuesday</span><span class="mobile">Tue</span></th>
                <th><span class="desktop">Wednesday</span><span class="mobile">Wed</span></th>
                <th><span class="desktop">Thursday</span><span class="mobile">Thu</span></th>
                <th><span class="desktop">Friday</span><span class="mobile">Fri</span></th>
                <th><span class="desktop">Saturday</span><span class="mobile">Sat</span></th>
                <th><span class="desktop">Sunday</span><span class="mobile">Sun</span></th>
			</tr>
			<tr bgcolor="#CCCCCC">
				<td valign="top" colspan="8" align="left"><b>Note: All times are Eastern Time.</b></td>
			</tr>
			<tr bgcolor="#eeeeee">
				<td align="right">12am<br>—<br>1am</td>
				<td>Weekend Edition</td>
				<td colspan="5">Morning Edition</td>
				<td>Weekend Edition</td>
			</tr>


				<tr bgcolor="#eeeeee">

				<td align="right">1am<br>—<br>2am</td>
				<td>Weekend Edition</td>
				<td colspan="5">Morning Edition</td>
				<td>Weekend Edition</td>
			</tr>

				<tr bgcolor="#eeeeee">
				<td align="right">2am<br>—<br>3am</td>
				<td>Weekend All Things Considered</td>
				<td colspan="5">All Things Considered</td>
				<td>Weekend All Things Considered</td>
			</tr>

			<tr bgcolor="#eeeeee">
				<td align="right">3am<br>—<br>4am</td>
				<td>Weekend All Things Considered</td>
				<td colspan="5">All Things Considered</td>
				<td>Weekend All Things Considered</td>
			</tr>


				<tr bgcolor="#eeeeee">
				<td align="right">4am<br>—<br>5am</td>
				<td>Weekend Edition</td>
				<td colspan="5">Morning Edition</td>
				<td colspan="1">Ask Me Another</td>
			</tr>


			<tr bgcolor="#eeeeee">
				<td align="right">5am<br>—<br>6am</td>
				<td>Weekend Edition</td>
				<td colspan="5">Morning Edition</td>
				<td colspan="1">Bullseye</td>
			</tr>


			<tr bgcolor="#eeeeee">
				<td align="right">6am<br>—<br>7am</td>
				<td>Weekend All Things Considered</td>
			<td colspan="5">All Things Considered</td>
			<td>Weekend All Things Considered</td>
			</tr>


		<tr bgcolor="#eeeeee">
				<td align="right">7am<br>—<br>8am</td>
				<td colspan="1">Weekend All Things Considered</td>
				<td colspan="5">All Things Considered</td>
						<td colspan="1">Weekend All Things Considered</td>
			</tr>


			<tr bgcolor="#eeeeee">
				<td align="right">8am<br>—<br>9am</td>
				<td colspan="1">Fresh Air Weekend</td>
				<td colspan="4">Fresh Air</td>
						<td colspan="2">Fresh Air Weekend</td>
			</tr>
				<tr bgcolor="#eeeeee">
				<td align="right">9am<br>—<br>10am</td>
                    <td colspan="1">Weekend Edition</td>
				<td colspan="4">1A</td>
			<td colspan="1">Bullseye</td>
									<td colspan="1">TED Radio Hour</td>
			</tr>


			<tr bgcolor="#eeeeee">
				<td align="right">10am<br>—<br>11am</td>
				<td colspan="1">Weekend Edition</td>
				<td colspan="4">1A</td>
			<td colspan="1">Throughline</td>
				<td colspan="1">Ask Me Another</td>
			</tr>
			<tr bgcolor="#eeeeee">
				<td align="right">11am<br>—<br>12pm</td>
				<td colspan="5">1A</td>
			<td colspan="1">Car Talk</td>
									<td colspan="1">Ask Me Another</td>
			</tr>

			<tr bgcolor="#3366CC">
				<th>ET</th>
                <th><span class="desktop">Monday</span><span class="mobile">Mon</span></th>
                <th><span class="desktop">Tuesday</span><span class="mobile">Tue</span></th>
                <th><span class="desktop">Wednesday</span><span class="mobile">Wed</span></th>
                <th><span class="desktop">Thursday</span><span class="mobile">Thu</span></th>
                <th><span class="desktop">Friday</span><span class="mobile">Fri</span></th>
                <th><span class="desktop">Saturday</span><span class="mobile">Sat</span></th>
                <th><span class="desktop">Sunday</span><span class="mobile">Sun</span></th>
			</tr>


			<tr bgcolor="#eeeeee">
				<td align="right">12pm<br>—<br>1pm</td>
				<td colspan="5">Morning Edition</td>
				<td colspan="2">Fresh Air Weekend</td>

			</tr>
			<tr bgcolor="#eeeeee">
				<td align="right">1pm<br>—<br>2pm</td>
				<td colspan="5">Morning Edition</td>
				<td colspan="2">Wait Wait... Don't Tell Me!</td>

			</tr>


			<tr bgcolor="#eeeeee">
				<td align="right">2pm<br>—<br>3pm</td>
				<td colspan="5">1A</td>
				<td colspan="2">Weekend Edition</td>

			</tr>
			<tr bgcolor="#eeeeee">
			<td align="right">3pm<br>—<br>4pm</td>
				<td colspan="5">1A</td>
				<td colspan="2">Weekend Edition</td>

			</tr>

			<tr bgcolor="#eeeeee">
				<td align="right">4pm<br>—<br>5pm</td>
				<td colspan="5">1A</td>
				<td colspan="1">Bullseye</td>
				<td colspan="1">Ask Me Another</td>
			</tr>

			<tr bgcolor="#eeeeee">
			<td align="right">5pm<br>—<br>6pm</td>
				<td colspan="5">1A</td>
				<td colspan="1">Throughline</td>
				<td colspan="1">Ask Me Another</td>

			</tr>
			<tr bgcolor="#eeeeee">
				<td align="right">6pm<br>—<br>7pm</td>
				<td colspan="5">Fresh Air</td>
				<td colspan="2">TED Radio Hour</td>
			</tr>

			<tr bgcolor="#eeeeee">
				<td align="right">7pm<br>—<br>8pm</td>
				<td colspan="5">1A</td>
				<td colspan="2">Fresh Air Weekend</td>

			</tr>
			<tr bgcolor="#eeeeee">
				<td align="right">8pm<br>—<br>9pm</td>
				<td colspan="5">All Things Considered</td>
				<td colspan="2">Weekend All Things Considered</td>
			</tr>

			<tr bgcolor="#eeeeee">
				<td align="right">9pm<br>—<br>10pm</td>
				<td colspan="5">All Things Considered</td>
				<td colspan="2">Wait Wait... Don't Tell Me!</td>
			</tr>
			<tr bgcolor="#eeeeee">
				<td align="right">10pm<br>—<br>11pm</td>
				<td colspan="5">All Things Considered</td>
				<td colspan="2">Weekend All Things Considered</td>
			</tr>
			<tr bgcolor="#eeeeee">
				<td align="right">11pm<br>—<br>12am</td>
				<td colspan="5">All Things Considered</td>
				<td colspan="2">Weekend All Things Considered</td>
			</tr>

		</tbody>
    </table>
    </div>
    
    {% if COPY.labels.footnote %}
    <div class="footnotes">
        <h4>Notes</h4>
        <p>{{ COPY.labels.footnote|smarty }}</p>
    </div>
    {% endif %}

    <div class="footer">
        {% if COPY.labels.source %}<p>Source: {{ COPY.labels.source|smarty }}</p>{% endif %}
        {% if COPY.labels.credit %}<p>Credit: {{ COPY.labels.credit|smarty }}</p>{% endif %}
    </div>

{% endblock content %}
