@import "./lib/base";

.div-line {
	stroke: white;
	stroke-width: 1px;
}

.value text {
    fill: #fff;

    &.hidden {
        display: none;
    }
}



@media (max-width: 500px) {
	g.value {
		display: none;
	}
}