@import "base";

@rateColor: @red3;


h1 {
    margin-bottom: 22px;
    font-size: 18px;

    strong { color: #333; }
}

// Base table styles
table {
    border-collapse: collapse;
    padding: 0;
    width: 100%;
    font-size: 12px;
    color: #666;

    tr.shadedrow {
        background-color: #f1f1f1;
        color: #333;
        font-weight: bold;
    }

    th {
        border-bottom: 2px solid #eee;
        vertical-align: bottom;
        font-family: 'Knockout 31 4r', Helvetica, Arial, sans-serif;
        font-weight: normal;
        text-transform: uppercase;
        text-align: left;
        padding: 0 10px 10px 10px;
        padding-top: 0;
        line-height: 1.2;
        letter-spacing: 0.05em;
        -webkit-font-smoothing: antialiased;
    }

    td {
        padding: 10px;
        border-bottom: 1px solid #eee;
        vertical-align: top;

        &.beds {
            position: relative;

            .bar {
                position: absolute;
                background-color: @rateColor;
            }
            .val {
                position: absolute;
                top: 10px;
            }
        }
    }
}

// Desktop-only styles
@media screen and (min-width: 501px) {
    .mobile { display: none; }

    table {
        th,
        td {
            &.rating {
                text-align: right;
                padding-left: 0;
                width: 100px;
            }

            &.beds {
                .bar {
                    top: 3px;
                    height: 30px;
                }
            }
        }
        td.beds {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}

// Mobile styles
@media screen and (max-width: 500px) {
    .mobile { display: inline; }

    tbody {
        display: block;
        width: 100%;
    }

    table {
        thead { display: none; }

        tr,
        th,
        th.amt,
        td,
        td.amt {
            display: block;
            padding: 0;
            white-space: normal;
        }

        tr {
            border-bottom: 1px solid #eee;
            padding: 15px 0;

            &:first-child { border-top: 1px solid #eee; }
        }

        td,
        td.amt {
            border: none;
            margin-bottom: 10px;
            text-align: left;

            &:empty { display: none; }
            &:last-child { margin-bottom: 6px; }
        }

        th[data-title]:before,
        td[data-title]:before {
            content: attr(data-title);
            display: block;
            margin-bottom: 2px;
            color: #666;
            .knockout-header();
        }

        tr td:first-child {
            font-size: 14px;
            margin-bottom: 6px;
            color: #333;
            font-family: 'Knockout 31 4r', Helvetica, Arial, sans-serif;
            font-weight: 500;
            letter-spacing: 0.02em;
            text-transform: uppercase;

            &:before {
                content: '';
                display: none;
            }
        }

        td.beds {
            padding-bottom: 20px;

            .bar {
                top: 20px;
                height: 25px;
            }
            .val {
                top: 25px;
            }
        }

    }
}
