@import "./lib/base";

h1 {
  font-size: 18px;
}

.bars rect {
  &.top-1-income { fill: @orange2; }
  &.higher-income { fill: @orange3; }
  &.middle-income { fill: @orange4; }
  &.lower-income { fill: @orange5; }
}
