@import "base";

h1 {
    font-size: 15px;
}

.labels .all-adults {
    font-weight: bold;
    color: #333;
}

.value text {
    fill: #fff;
    text-anchor: middle;

    &.hidden {
        display: none;
    }
}

@media screen and (min-width: 501px) {
    .key .key-item {
        // width: 50%;
        // margin-right: 0;
    }
}

@media screen and (max-width: 500px) {
}
