@import "base";

// Add custom styles here
h1 { margin-bottom: 22px; }

.annotations {
    text {
        font-size: 11px;
        fill: #999;
        text-anchor: middle;
    }
    line {
        stroke: #ccc;
    }
}
