@import "./lib/base";

.block {
    // display: inline-block;
}

.clearfix {
    .clearfix();
}

.white-not-hispanic-block {
    background: @teal3;
}

.white-not-hispanic b {
    background-color: @teal3
}

.other-block {
    background: #dddddd;
}

.other b {
    background-color: #dddddd;
}

.black-block {
    background: @orange3;
}

.black b {
    background-color: @orange3
}

.asian-and-pacific-islander-block {
    background: @blue3;
}

.asian-and-pacific-islander b {
    background-color: @blue3
}


.hispanic-block {
    background: @teal3;
}

.hispanic b {
    background-color: @teal3
}



.poverty-container {
    margin-bottom: 33px;

}

.bar-container {
    overflow: hidden;

    .block {
        float: left;
    }
}

h3 {
    font-size: 14px;
    margin-bottom: 7px; 
}

.race-chatter {
    // font-size: 14px;
    // .knockout-upper();
    font-weight: bold;
    color: white;
    padding: 3px;
}

.black-chatter {
    background: @orange3;

}

.hispanic-chatter {
    background: @teal3;
}

.bar-label {
    text-align: center;
    font-size: 10px;
    color: #888888;
    font-weight: 400;
    line-height: 10px;
    float: left;
    margin-top: 2px;
}
