@import "./lib/base";

.bars rect { fill: @blue2; }

.y-label {
  fill: #999;
  font-size: 11px;
  font-style: italic;
  text-anchor: middle;
}

// .mmedia-constrained {
//   .mmedia-constrained();
//
//     &.center {
//       text-align: center;
//     }
//
// }


@media @screen-mobile {
  // .mmedia-constrained.center {
  //   text-align: left;
  // }
}
