@import "./lib/base";

.labels {
  b {
    display: block;
    font-weight: normal;
    color: #454545;
  }
  i {
    display: block;
    font-style: normal;
    color: #999;
    font-size: 11px;
  }
}
