@import "./lib/base";

.bar text {
    fill: #fff;
    font-size: 12px;

    &.hidden {
        display: none;
    }
}

.graphic {
	// width: 50%;
	// float: right;

	h3 {
		width: 100%;
		text-align: center;
	}

	@media @screen-mobile {
		width: 100%;
	}
}

.bg-rect {
	fill: #ebebeb; 
}

.chart-label, .chart-label-title {
    fill: #666;
    font-style: italic;
    font-size: 11px;
    text-anchor: middle;
    letter-spacing: .3px;
    stroke: #fff;
    stroke-width: 3px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-opacity: 0.7;
    paint-order: stroke fill;
    -webkit-font-smoothing: antialiased;
  }

.chart-label-title {
	    font-style: normal;
    letter-spacing: normal;
	text-anchor: start;
	fill: #555;
	stroke-width: 7px;
	// font-weight: bold;

}