@import "base";

// Add custom styles here
.bar.Sanders {
    fill: @orange3;
}

.bar.Clinton {
    fill: @teal3;
}

.bar.none {
    fill: #ddd;
}

.key .Clinton {
    b {
        background-color: @teal3;
        margin-right: 2px;
    }
}

.key .Sanders {
    b {
        background-color: @orange3;
        margin-right: 2px;
    }
}

.key .none {
    b {
        background-color: #ddd;
        margin-right: 2px;
    }
}
