@import "./lib/base";

.bars rect {
	fill: @blue2;
}

.annotation {
	text {
	    fill: #666;
	    font-size: 11px;
	    font-style: italic;
	    }
	line {
	    stroke: #999;
	  	}
	 tspan.normal{
	 	font-style: normal;
	 }
}