@import "base";

// Add custom styles here

.labels li {
    b {
        display: block;
        font-weight: normal;
    }
    &.overall b {
        font-weight: bold;
        color: #333;
    }
    i {
        display: block;
        font-style: normal;
        font-size: 90%;
        color: #999;
    }
}

.bars rect {
    fill: @teal5;

    &.overall {
        fill: @teal3;
    }
}
