@import "base";

h1 {
    font-size: 18px;

    // .poor,
    // .near-poor {
    //     color: #fff;
    //     padding: 2px 5px;
    //     border-radius: 4px;
    // }
    //
    // .poor { background-color: @teal3; }
    // .near-poor { background-color: @teal4; }
}

.lines {
    fill: none;
    stroke-width: 3px;
    stroke: #ccc;

    // .total { stroke-width: 3px; }
}

.value text {
    font-size: 12px;
    font-weight: bold;
}

.dots {
    text {
        font-size: 11px;
        text-anchor: start;
    }
    circle {
        stroke: #fff;
    }
}

.annotations {
    line { stroke: #999; }
    text {
        font-size: 11px;
        font-style: italic;
        fill: #999;
        text-anchor: start;
    }
}

@media screen and (max-width: 500px) {
    .value text {
        font-size: 9px;
    }
}

@media screen and (min-width: 500px) {
}
