@import "base";

// ai2html artboard sizes
@media screen and (min-width: 550px) {
    #g-ai2html-graphic-small, #g-ai2html-graphic-medium { display: none; }
    #g-ai2html-graphic-wide {
        max-width: 550px;
    }
}

@media screen and (max-width: 549px) and (min-width: 440px) {
    #g-ai2html-graphic-small, #g-ai2html-graphic-wide { display: none; }
}

@media screen and (max-width: 439px) {
    #g-ai2html-graphic-medium, #g-ai2html-graphic-wide { display: none; }
}

// Add custom styles here
