@import "./lib/base";

h1 {
  .mmedia-constrained-centered();
  font-size: 18px;
}

.chart + .chart {
  margin-top: 22px;
}

h3 {
  text-align: center;
}

.value text {
    fill: #fff;

    &.hidden {
        display: none;
    }
}

.key {
  display: flex;
  justify-content: center;

  .key-item {
    margin-left: 6px;
    margin-right: 6px;
  }
}
