@import "base";

// Add custom styles here


.highlight-old{
  background-color: @teal5;
  padding: 3px 4px;
  border-radius: 3px;
  color: white;
}

.highlight-new{
  background-color: @teal3;
  padding: 3px 4px;
  border-radius: 3px;
  color: white;
}

.graphic-wrapper{
  margin-top: 40px;
}

.hidden{
  display: none;
}
// .value text{
//   text-anchor: end;
// }
