@import "base";

.lines {
    fill: none;
    stroke-width: 3px;
    stroke: #ccc;
}

.value text {
    font-size: 12px;
    font-weight: bold;
    fill: #999;
}

.events{
    line {
        stroke: #ccc;
        stroke-width: 1px;
    }
    text {
        font-size: 12px;
        fill: #787878;
        text-anchor: middle;
        font-style: italic;
    }
}

@media screen and (max-width: 500px) {
    .events text { font-size: 10px; }
    .value text  { font-size: 10px; }
}

@media screen and (min-width: 501px) {
}
