@import "base";

// Add custom styles here
.img-mobile {
    display: none;
}

@media screen and (max-width: 499px) {
    .img-wide {
        display: none;
    }

    .img-mobile {
        display: block;
    }
}
