@import "./lib/base";

h1 {
  .mmedia-constrained-centered();
  font-size: 18px;
  margin-bottom: 22px;
}

.value text {
    fill: #fff;

    &.hidden {
        display: none;
    }
}

.chart:first-child {
  margin-bottom: 33px;
}

.key {
  display: flex;
  justify-content: center;

  .key-item {
    margin-left: 6px;
    margin-right: 6px;
  }
}
