@import "./lib/base";

.value text {
    fill: #fff;

    &.hidden {
        display: none;
    }
}

g.group.biden rect.one-month {
	fill: #51AADE !important;
	opacity: 100%
}

g.group.trump rect.one-month {
	fill: #D8472B !important;
	opacity: 100%;
}

g.group.gw-bush rect.one-month {
	fill: #D8472B !important;
	opacity: 100%;
}

g.group.ghw-bush rect.one-month {
	fill: #D8472B !important;
	opacity: 100%;
}

g.group.reagan rect.one-month {
	fill: #D8472B !important;
	opacity: 100%;
}

g.group.nixon rect.one-month {
	fill: #D8472B !important;
	opacity: 100%;
}

g.group.ford rect.one-month {
	fill: #D8472B !important;
	opacity: 100%;
}

g.group.obama rect.one-month {
	fill: #51AADE !important;
	opacity: 100%;
}

g.group.kennedy rect.one-month {
	fill: #51AADE !important;
	opacity: 100%;
}

g.group.eisenhower rect.one-month {
	fill: #D8472B !important;
	opacity: 100%;
}

g.group.clinton rect.one-month {
	fill: #51AADE !important;
	opacity: 100%;
}

g.group.carter rect.one-month {
	fill: #51AADE !important;
	opacity: 100%;
}

g.group.johnson rect.one-month {
	fill: #51AADE !important;
	opacity: 100%;
}

g.group.truman rect.one-month {
	fill: #51AADE !important;
	opacity: 100%;
}

g.group.roosevelt rect.one-month {
	fill: #51AADE !important;
	opacity: 100%;
}

li.biden {
	font-weight: bold
}