@import "./lib/base";

.value text {
    fill: #fff;

    &.hidden {
        display: none;
    }
}

body {
  .mmedia-constrained();
  max-width: 750px;
}

h1, h2, .key {
    text-align: center;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
}

.footer, .footnotes {
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}