@import "./lib/base";

h1 {
  font-size: 18px;
  margin-bottom: 33px;
  text-align: left;

  strong {
    color: #333;
  }
}


h3 {
  margin-bottom: 11px;
  text-align: center;
}

h4 {
  .gotham();
    color: #666;
    font-size: 13px;
    margin: 0 0 11px 0;
  // margin-left: 10px;

  // @media screen and (max-width: 500px) {
  //   margin-left: 15px;
  //   margin-right: 15px;
  // }
}

.chart + .chart {
  margin-top: 22px;
}

.value text {
    fill: #fff;

    .group.overall & { font-weight: bold; }

    &.left {
      text-anchor: start;

      &.center { text-anchor: middle; }
      &.out { text-anchor: end; }
    }

    &.right {
      text-anchor: end;

      &.center { text-anchor: middle; }
      &.out { text-anchor: start; }
    }
    &.centered { text-anchor: middle; }
    &.hidden { display: none; }
}

.labels li {
  font-size: 12px;

  &.overall {
    font-weight: bold;
    color: #333;
  }
}

// .overall {
//   .group rect {
//     opacity: 1;
//   }
//   .labels li {
//     font-weight: bold;
//     color: #333;
//   }
//   .value text {
//     font-weight: bold;
//   }
// }
//
// .group rect {
//   opacity: 0.8;
// }


.key {
    display: webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 0;
    margin-bottom: 15px;

    @media @screen-mobile-above {
        flex-wrap: nowrap;
        margin-bottom: 33px;
    }

    .key-item {
        .clearfix();
        margin-bottom: 6px;
        width: auto;

        @media @screen-mobile {
          // width: calc(40% - 18px);
        }

        @media @screen-mobile-above { margin-bottom: 0; }

        // &:nth-child(1) { order: 0; }
        // &:nth-child(2) { order: 2; margin-right: 0;}
        // &:nth-child(3) { order: 1; }

        label {
            @media @screen-mobile-above { font-size: 12px; }

            white-space: normal;
        }
    }
}
