@import "base";

h1 { margin-bottom: 22px; }

.value text {
    fill: #fff;

    &.hidden {
        display: none;
    }
}

.labels li.all-asian-americans span {
    color: #333;
    font-weight: bold;
}

g.group {
    opacity: 0.75;

    &.all-asian-americans {
        opacity: 1;
    }
}
