@import "./lib/base";

h1 {
  margin-bottom: 22px;
}

.bars rect {
  &.manufactured-housing {
    fill: @orange3;
  }

  &.single-family-homes {
    fill: @teal3;
  }

  &.all-structure-types {
    fill: #bababa;
  }
}

// .labels li.manufactured-housing {
//   font-weight: bold;
//   color: #333;
// }
