@import "base";

h1 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 18px;

    strong { color: #333; }
}

.chart {
    margin-bottom: 22px;
}

.key {
    width: 320px;
    margin: 0 auto 22px;
    // margin-bottom: 22px; 
}

.value text {
    fill: #fff;

    &.hidden {
        display: none;
    }
}
