@import "base";

body {
    width: 948px;
    margin: 0 auto;
}

/* TABS */
#res150055846 ul {
	clear: both;
	width: 948px;
	/*margin-bottom: 24px; */
    margin: 30px 0 3px 0;
    padding: 0;
	float: left;
    list-style-type: none;
}

#res150055846 ul li {
	color: #000;
	font-weight: bold;
	font-size: 12px;
	padding: 21px 0 15px 0;
	margin: 0;
	border: 1px solid #B2B2B4;
	background: none;
	background-color: #F1F1F1;
	width: 314px;
	float: left;
	text-align: center;
}
#res150055846 ul li.tab-open {
	padding: 21px 0 15px 0;
	background-color: #FFF;
	border-bottom: 1px solid #FFF;
}
#res150055846 ul li:first-child {
	border-right: none;
}
#res150055846 ul li:hover {
	cursor: pointer;
	color: #36C;
	text-decoration: underline;
}

#res151705158 p{
	font-size:11px;
	color:#999;
	font-style:italic;
}
