@import "./lib/base";

// gray rectangles
.g-aiPointText {
  background-color: rgba(36,36,36,0.75);
  display: inline-block;
  padding: 6px;
  border-radius: 10px;
}

// security camera yellow rectangles
#g-ai1-3, #g-ai0-3 {
  background-color: rgba(242, 231, 81,0.75);
}

// ai2html artboard sizes
@media screen and (min-width: 550px) {
    #g-_ai2html-map-small { display: none; }
}

@media screen and (max-width: 549px) {
  #g-_ai2html-map-wide { display: none; }
}


// Add custom styles here
