@import "base";

// Add custom styles here
h1 { margin-bottom: 22px; }

.graphic {
    img {
        border: 1px solid #bababa;
        box-sizing: border-box;
        display: block;
        height: auto;
        max-width: 100%;
        width: 100%;
    }
}

// desktop-only
@media @screen-mobile-above {
    .graphic {
        display: flex;

        .map {
            box-sizing: border-box;
            width: 50%;

            &:nth-child(1) { padding-right: 11px; }
            &:nth-child(2) { padding-left: 11px; }
        }
    }
}

// mobile-only
@media @screen-mobile {
    .graphic .map:first-child {
        margin-bottom: 11px;
    }
}
