@import "./lib/base";

.value text {
    fill: #fff;

    &.hidden {
        display: none;
    }
}

.x-label {
  fill: #666;
  font-size: 11px;
  color: #666;
  font-weight: normal;
  font-style:italic;
  -webkit-font-smoothing: antialiased;
}

.fuels {
	color:@teal2;
}

.land {
	color:@teal5;
}

.graphic {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}

h1, h2, .key {
  .mmedia-constrained-centered();
}

.footer, .footnotes {
  .mmedia-constrained();
}