@import "base";

body {
    max-width: 700px;
    margin: 0 auto;
}

.bars rect {
    fill: @orange3;

    // &:nth-child(1),
    // &:nth-child(2) { fill: @orange3; }
}

// .labels li:nth-child(1),
// .labels li:nth-child(2) {
//     font-weight: bold;
//     color: #454545;
// }
//
// .value text:nth-child(1),
// .value text:nth-child(2) {
//     font-weight: bold;
//     fill: #454545;
//
//     &.in {
//         fill: #fff;
//     }
// }
