@import "base";

// Add custom styles here
.value text { display: none; }

.bars rect {
    &.positive { fill: @blue3; }
    &.negative { fill: @blue5; }
}

.year-lines {
    line { stroke: #eee; }
    text {
        text-anchor: middle;
        fill: #999;
        font-size: 11px;
        -webkit-font-smoothing: antialiased;

        &.y-2016 { text-anchor: start; }
    }
}
