@import "base";

// Add custom styles here
.bars rect {
    fill: @blue3;
}


body.promo {
    h1 {
        font-size: 19px;
        .knockout-header();
        margin-bottom: 22px;
        line-height: 1.2;
    }

    h2 { display: none; }
    .labels li { font-size: 14px; }
    .value text { font-size: 12px; }
}
