#graphic {
    position: relative;
    margin-bottom: 11px;
}
#graphic:before,
#graphic:after {
    content: ' ';
    display: table;
}
#graphic:after { clear: both; }
#graphic img {
    max-width: 100%;
    height: auto;
}


/* chart */
.axis {
    font-size: 11px;
    -webkit-font-smoothing: antialiased;
    fill: #999;
}
.axis path,
.axis line {
    fill: none;
    stroke: #ccc;
    shape-rendering: crispEdges;
}
.axis.y path { display: none; }
.axis.y .tick line { display: none; }
.grid.y g:first-child line { display: none; }
.grid path { display: none; }
.grid .tick {
    stroke: #eee;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}


#lines-thin {
  fill: none;
  stroke-width: 1px;
  stroke: #ccc;
  opacity: 1;
  stroke-linejoin: round;
  stroke-linecap: round;

}

.lines {
    fill: none;
    stroke-width: 2px;
    stroke: #932A41;
}
.area {
    fill: #EA9598;
    /*stroke:#3D7FA6;*/
    stroke-width: 2px;
    opacity: .8;    
}

.selected {
    stroke: black;
    stroke-width: 1.5;
    opacity: .4;
}


.occupation-hover {
    stroke: black ;
    opacity: .6;
    stroke-width: 1.2;
    cursor: pointer;
}

.voronoi path {
    fill: none;
    /*stroke: red;*/
    pointer-events: all;
    cursor: pointer;
}

.focus, .focus-first, .focus-last, .focus-data, .focus-date text {
  font-family: 'Gotham SSm',Helvetica,Arial,sans-serif;
  font-size: 11px;
  text-anchor: middle;
  color: #7F7F7F;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}      

.focus text {
  font-size: 12px;
}

.focus-box {
  stroke: #7F7F7F;
  color: #7F7F7F;
  fill: #fff;
}

.focus-dot {
  stroke: #000;
  stroke-width: 1px;
  fill: none;
}

.focus-first-dot, .focus-last-dot {
  fill: #AD4A63;
}


.key {
  display: table-row;
  margin-left: 0;
}

.key {
  display: table-row;
  margin-left: 0;
  font-family: 'Gotham SSm',Helvetica,Arial,sans-serif;  
  font-weight: bold;
  font-size: 12px;
  color: #ccc;
  margin: 6px;
  margin-right: 12px;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.dropdown {
  font-family: 'Gotham SSm',Helvetica,Arial,sans-serif;  
  font-weight: bold;
  color: #AD4A63;
  font-size: 12px;
  // text-transform: uppercase;
  fill: none;
  background-color: white;
  stroke-width: 3px;
  left: 0;
  margin-left: 6px;
  margin-bottom: 10px;
  height: 30px;
  border: solid 1px #BD9FA2;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;

}

.dropdown:hover {
  color: #932A41;
  border: solid 1.25px #932A41;
}

#occupation {
   background-color: #fff;
}

#occupation2 {
   background-color: #fff;
}


