@import "./lib/base";

rect {
  &.bar-1 {
    fill: @orange2;
  }

  &.bar-2 {
    fill: @orange4;
  }
}

b {
  &.bar-no-1-cause-of-death {
    background-color: @orange2;
  }
  &.bar-no-2-cause-of-death {
    background-color: @orange4;
  }
}

.value text.out {
    fill: #555;
}