@import "base";

body { padding-top: 0; }

h1 {
    font-size: 18px;
    margin-bottom: 22px;
}

// ai2html artboard sizes
@media screen and (min-width: 730px) {
        #g-ai2html-graphic-small, #g-ai2html-graphic-medium { display: none; }
}

@media screen and (max-width: 729px) and (min-width: 400px) {
    #g-ai2html-graphic-small, #g-ai2html-graphic-wide { display: none; }
}

@media screen and (max-width: 399px) {
    #g-ai2html-graphic-medium, #g-ai2html-graphic-wide { display: none; }
}

// Add custom styles here
.g-aiPstyle0 {
    text-shadow: 1px 1px 5px rgba(50, 50, 50, .7);
    -webkit-font-smoothing: antialiased;
}
