@import "base";

h1 {
    font-size: 18px;
}

// h3 { font-size: 14px; }

#column-chart {
  margin-bottom: 0;
}

.axis.x {
  .knockout-header();
  -webkit-font-smoothing: antialiased;
  fill: #666;
  font-size: 13px;
}

.poll-data {
  height: 110px;
  margin-top: 15px;
  position: relative;

  @media @screen-mobile-above {
    height: 90px;
  }

  .group {
    position: absolute;
    top: 30px;

    @media @screen-mobile-above {
      top: 7px;
    }
  }

  .hdr {
    .knockout-header();
    border-top: 2px solid #ccc;
    color: #666;
    font-size: 11px;
    padding-top: 5px;

    @media @screen-mobile-above {
      font-size: 12px;
      text-align: right;
    }
  }

  ul {
    color: #787878;
    font-size: 11px;
    list-style-type: none;
    margin: 0 0 11px 0;
    padding: 0;

    @media @screen-mobile-above {
      font-size: 12px;
    }

    li {
      margin: 0 0 6px 0;
      padding: 0;

      @media @screen-mobile-above {
        display: flex;
        justify-content: space-between;
      }

      b { font-weight: normal; }

      &.net {
        border-top: 1px solid #eee;
        padding-top: 3px;

        &.negative b:nth-child(2) { color: @orange4; }

        b {
          font-style: italic;
          font-weight: bold;

          &:nth-child(2) { color: @teal4; }
        }
      }
    }
  }

  @media @screen-mobile {
    .group {

      li { text-align: right; }

      &.overall li {
        display: flex;
        justify-content: space-between;
      }

      &.democrats,
      &.republicans,
      &.independents {
        b {
          &:nth-child(1) { display: none; }
        }
      }
    }
  }
}
