@import "base";

rect {
    &.clinton {
        fill: @blue3;
    }
    &.trump {
        fill: @red3;
    }
}

.label-top {
    font-style: italic;
    fill: #999;
    font-size: 11px;
    -webkit-font-smoothing: antialiased;
}
// Add custom styles here
