@import "base";

body { padding: 0; }

#graphic { margin-bottom: 33px; }

img {
    max-width: 100%;
    height: auto;
}

#bbExplainer {
	width: 100%;
	margin-right: 0;
}
#bbExplainer p {
    margin: 0 0 1.2em 0;
	font-size: 16px;
	line-height: 1.5;
	color: #121212;
}

#bbExplainer ul {
	width: 100%;
	display: table;
    margin: 24px 0;
    padding: 0;
    list-style-type: none;
}
#bbExplainer ul li {
	display: table-cell;
	vertical-align: middle;
	color: #6d8ac4;
	font-size: 14px;
	line-height: 16px;
	height: 66px;
	width: 33%;
	margin: 0;
	background: #ebebeb;
	text-align: center;
	font-weight: bold;
}
#bbExplainer ul li span {
	color: #666;
	font-weight: normal;
	font-size: 12px;
}
#bbExplainer ul li.tab-open {
	background: #fff;
	border-color: #ebebeb;
	border-width: 2px 2px 0 2px;
	border-style: solid;
}
#bbExplainer ul li:hover {
	cursor: pointer;
	opacity: 0.7;
}
#bbExplainer .bbSection { clear: both; }
#bbExplainer .bbSection h3 { display: none; }
#bbExplainer .bbSection img { float: none; display: block; margin-bottom: 12px; }

#bbExplainer .bbBlock {
	border-top: 2px solid #ebebeb;
	padding-top: 33px;
	margin-top: 22px;
}
#bbExplainer .bbBlock.first {
	border-top: none; padding-top: 0; margin-top: 0;
}
#bbExplainer .bbBlock h4 {
	font-size: 16px;
	color: #666;
    margin-top: 0;
	margin-bottom: 22px;
}

#bbExplainer .footer p {
	font-size: 11px;
	color: #999;
	font-style: italic;
	padding-top: 11px;
}
