@import "./lib/base";

.value text {
    fill: #fff;

    &.hidden {
        display: none;
    }
}

rect {
	fill: #999999;
	/*stroke:white;*/
	/*stroke-width: .5px;*/
}

rect.allowed {
	fill: @blue4;
}

rect.mint {
	fill: @blue2;
}

/*span.highlighted {
	background: @blue3;
	padding: 2px;
	border-radius: 2px;
	color: white;
}*/