@import "./lib/base";

.redline {
  border-bottom: 3px solid @red3;
  color: @red3;
  // font-weight: bold;
  white-space: nowrap;
}

.bars rect {
  fill: #787878;
}

picture {
  display: block;
  margin-bottom: 22px;

  img {
    width: 100%;
    height: auto;
  }
}
