@import "base";

.graphic {
    .desktop { display: none; }
    .mobile { display: block; }
}

@media screen and (min-width: 501px) {
    .graphic {
        .desktop { display: block; }
        .mobile { display: none; }
    }
}
