@import "./lib/base";

.value text {
    fill: #fff;

    &.hidden {
        display: none;
    }
}


rect.destroyed {
    opacity: .8;
}

// // Add custom styles here
// h1, h2, .graphic {
//     .mmedia-constrained-centered();
// }

// // Add custom styles here
// .footnotes, .footer {
//     .mmedia-constrained();
// }