@import "base";

// Add custom styles here
.chart {
    margin-top: 22px;

    &:first-child { margin-top: 0; }

    h3 {
        color: #999;

        strong {
            color: #333;
            font-weight: normal;
        }
    }
}

.metro .bars rect { fill: @teal3; }
.micro .bars rect { fill: @teal5; }
