@import "./lib/base";

.graphic {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}

h1, h2, .key {
  .mmedia-constrained-centered();
}

.footer, .footnotes {
  .mmedia-constrained();
}

.bar text {
    fill: #fff;
    font-size: 12px;

    &.hidden {
        display: none;
    }
}

.billion-line {
  stroke: black;
  stroke-width: 3px;
  stroke-dasharray: 3, 3;
}

.billion-label {
  fill: #333;
  font-style: italic;
  font-size: 12px;
  letter-spacing: 0.3px;
}
