@import "./lib/base";

.lines {
  fill: none;
  stroke-width: 3px;
  stroke: #ccc;
}

.value text {
  font-size: 12px;
  font-weight: bold;
  fill: #999;
}

@media screen and (max-width: 500px) {
  .value text {
    font-size: 10px;
  }

  .x.axis {
    .tick:nth-child(even) text {
      visibility: hidden;
    }
  }
}

@media screen and (min-width: 500px) {
  .key {
    display: none;
  }
}
