@import "base";

#graphic { margin-bottom: 22px; }

/* table */
table {
    border-collapse: collapse;
    padding: 0;
    width: 100%;
    font-size: 12px;
    color: #666;
}
table th,
table td {
    padding: 5px;
    text-align: left;
}
table th {
    border-bottom: 2px solid #eee;
    vertical-align: bottom;
    font-family: 'Knockout 31 4r';
    font-weight: normal;
    text-transform: uppercase;
    padding-top: 0;
    line-height: 1.2;
    letter-spacing: 0.05em;
    -webkit-font-smoothing: antialiased;
}
table td {
    border-bottom: 1px solid #eee;
    vertical-align: top;
    
    &:first-child { padding-left: 0; }
}

table th.amt,
table td.amt {
    text-align: right;
}

table tr.shadedrow {
    background-color: #f1f1f1;
    color: #333;
    font-weight: bold;
}

td.color { 
    border-color: #fff;
    text-align: center;
    font-size: 11px;
    border-right: 1px solid #fff;
}

.c-5 { background-color: mix(@teal3, #f1f1f1, 100%); }
.c-4 { background-color: mix(@teal3, #f1f1f1, 80%) }
.c-3 { background-color: mix(@teal3, #f1f1f1, 60%) }
.c-2 { background-color: mix(@teal3, #f1f1f1, 40%) }
.c-1 { background-color: mix(@teal3, #f1f1f1, 20%) }
.c-0 { background-color: mix(@teal3, #f1f1f1, 0%) }

.c-5,
.c-4,
.c-3,
.c-2,
.c-1 { color: #fff; }
.c-0 { color: #ccc; }

table td.decade { width: 45px; }


/* responsive table */
@media screen and (max-width: 500px) {
    table { font-size: 11px; }
    table td {
        padding: 5px;
        &.color { font-size: 10px; }
        &.decade { width: 35px; }
    }

/*
    table,
    tbody {
        display: block;
        width: 100%;
    }
    thead { display: none; }
    table tr,
    table th,
    table td,
    table td.amt {
        display: block;
        padding: 0;
        text-align: left;
        white-space: normal;
    }
    table td,
    table td.amt {
        border: none;
        margin-bottom: 6px;
    }
    table td:empty { display: none; }

    table tr {
        border-bottom: 1px solid #eee;
        padding: 10px;
    }
    table tr:first-child { border-top: 1px solid #eee; }

    table th[data-title]:before,
    table td[data-title]:before {
        content: attr(data-title) ":\00A0";
        display: inline-block;
        width: 75%;
        min-width: 220px;
        width: 220px;
    }

    table tr td:first-child {
        font-size: 14px;
        margin-bottom: 6px;
        color: #333;
        font-family: 'Knockout 31 4r', Helvetica, Arial, sans-serif;
        font-weight: 500;
        letter-spacing: 0.02em;
        text-transform: uppercase;
    }
    table tr td:first-child:before {
        content: '';
        display: none;
    }
*/
}