@import "base";

// Add custom styles here
.key .key-item {
    &:nth-child(1) b { background-color: #28556f; }
    &:nth-child(2) b { background-color: #40799c; }
    &:nth-child(3) b { background-color: #669ec3; }
    &:nth-child(4) b { background-color: #98c4e3; }
    &:nth-child(5) b { background-color: #d3eaf7; }
    &:nth-child(6) b { border: 1px solid #dadada; }
}
