@import "base";

.graphic {
    p {
        font-size: 12px;
        color: #666;
        font-weight: bold;
        -webkit-font-smoothing: antialiased;
        margin: 0 0 18px 0;
    }
}

.value text {
    fill: #fff;

    &.hidden {
        display: none;
    }
}
