@import "./lib/base";

// ai2html artboard sizes
@media screen and (min-width: 730px) {
    #g-_ai2html-map-small, #g-_ai2html-map-medium { display: none; }
}

@media screen and (max-width: 729px) and (min-width: 400px) {
    #g-_ai2html-map-small, #g-_ai2html-map-wide { display: none; }
}

@media screen and (max-width: 399px) {
    #g-_ai2html-map-medium, #g-_ai2html-map-wide { display: none; }
}

// Add custom styles here
.graphic {
  max-width: 850px;
  margin: 0 auto;
}

.footnotes, .footer {
  .mmedia-constrained();
}
