@import "base";

.bar text {
    font-size: 11px;
    fill: #fff;

    &.hidden {
        display: none;
    }
}

.total text {
    font-size: 12px;
    -webkit-font-smoothing: antialiased;

    &.in { fill: #fff; }
    &.out { fill: #999; font-weight: bold; }
}
