@import "./lib/base";

h2 b {
  color: #555;
}

.lines {
  fill: none;
  stroke-width: 3px;
  stroke: #ccc;
}

.value text {
  font-size: 12px;
  font-weight: bold;
  fill: #999;
}

.line.upper, .line.lower {
  display: none;
}

.key {
  display:  none;
}

.value text {
  fill: #555;
}

.value.range text{
  font-style: italic;
  font-weight: normal
}

.margin-annot text {
  text-anchor: end;
  fill: @red5;
  font-weight: normal;
  font-style: italic;
}

path.confidence {
  fill: fade(@red4, 40%);
  stroke: none;
}

@media screen and (max-width: 500px) {
  /*.value text {*/
    /*font-size: 10px;*/
  /*}*/
}

@media screen and (min-width: 500px) {
  .key {
    display: none;
  }
}

