@import "base";

// Add custom styles here
.return {
    display: none;
    @media @mobile-size {
    display: contents;
    }
    }


.image {
    width: 40%;
    display: block;
    margin: auto;
}

@media screen and (min-width: 540px ) {
.image {
    width: 80%;
    display: block;
    margin: auto;
}
.section-header {
    width: 180px;
    }}

@mobile-size: ~'screen and (max-width: 540px)';


// Add custom styles here
.section-wrapper {
   // width: 100%;
    border-bottom: 1px solid #ddd;
    padding: 10px 0 20px;
    margin-bottom: 10px;

    .section-header, .brands-wrapper, .stake-wrapper {
        display: table-cell;
        box-sizing: border-box;
        padding-right: 20px;
        padding-top: 10px;
        
    }

    .section-header {

        @media @mobile-size {
            display: block;
            width: 100%;
            padding-right: 0;
            margin-bottom: 15px;
        }

        h3 {
            font-family: 'Gotham SSm',Helvetica,Arial,sans-serif;
            text-transform: none;
            letter-spacing: 0;
            font-size: 1.2em;
            font-weight: bold;
            margin: 5px auto 5px;
        }

        p {
            font-size: 0.9em;

            @media @mobile-size {
                margin: 0 auto;
            }
        }
    }
    .stake-wrapper{
    max-width: 660px;
    }
    .brands-wrapper {max-width:600px;}

    .brands-wrapper, .stake-wrapper {

        @media @mobile-size {
            display: block;
            width: 100%;
            padding-right: 0;
            margin-bottom: 15px;
            padding-top: 0;
        }

        h4,.title {
            margin: 0 0 15px 0;
            font-family: 'Knockout 31 4r';
            font-weight: normal;
            text-transform: uppercase;
            padding-top: 0;
            line-height: 1.2;
            letter-spacing: 0.05em;
            -webkit-font-smoothing: antialiased;
            font-size: 12px;
            color: #333;
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;

            li {
                display: inline-block;
                padding: 2px 7px;
                border-radius: 2px;
                margin: 0 3px 5px 0;
                font-size: 0.9em;
                border:solid;
                border-width:thin;
                border-color: mix(@orange3,@orange4);
                .stake {font-weight: bold; }
                .notes {font-style: italic;}
            }


        }
    }

    .brands-wrapper .brand {
                display: inline-block;
                padding: 2px 7px;
                border-radius: 2px;
                margin: 0 3px 5px 0;
                font-size: 0.9em;
                border:none;
                border-width:thin;
        background: @orange6;
        color: mix(@orange5, #111);
    }

}
