@import "./lib/base";

.value text {
    fill: #fff;

    &.hidden {
        display: none;
    }
}

.mmedia-constrained {
  .mmedia-constrained();

    &.center {
      text-align: center;
    }

}

.key { .mmedia-constrained-centered(); }

.graphic { max-width: 650px; margin: 0 auto; }
