@import "base";

.bar text {
    fill: #333;
    font-size: 12px;

    &.value { font-weight: bold; }

    &.all-others {
        fill: #999;
        font-style: italic;
    }
}

@media screen and (max-width: 280px) {
    .bar text { font-size: 11px; }
}
