@import "base";

// Add custom styles here
.annotations {
    text {
        font-size: 11px;
        fill: #999;
        text-anchor: middle;
    }
    line {
        stroke: #ccc;

        &.line-north-america {
            display: none;
        }
    }
}

p.contextAnnot {
    text-align: left;
    color: #6c6a6a;
	font-size: 11px;
}
