@import "base";

.bars line {
    fill: none;
    stroke-width: 3px;
    stroke: #ccc;
}

.dots circle {
    stroke-width: 0px;
    fill: #17807E;
}

.dots_right circle {
    stroke-width: 0px;
    fill: #E38D2C;
}

.value text {
    font-size: 11px;
    fill: #999;
}

.value_left text {
    text-anchor:end;
}

.bold text {
    font-weight: bold;
    fill:#666;
}

.shadow text {
    font-size: 11px;
    fill: #fff;
    stroke: #fff;
    stroke-width: 5px;
}
