@import "./lib/base";

.group-container {
  display: block;

  @media (min-width: 1000px) {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 8px;
  }
}

.group {
  margin: 1rem 0;
  padding: 4px;
  border-color: @orange5;
  border-style: solid;
  border-width: 2px;
  background-image: linear-gradient(to bottom, @orange5, transparent 100px);
  .gotham();

  h3, h4, h5 {
    font-size: 18px;
    margin: 0;
  }

  h4 {
    text-transform: uppercase;
    .knockout();
    margin-bottom: 0;
  }

  .org-name {
    font-size: 20px;
    padding: 18px 0;
  }

  .subhead {
    display: block;
    border-bottom: 1px solid black;
    padding: 4px;
    text-align: center;
    font-weight: normal;
    .gotham();
    margin: 0;
  }

  .description {
    // font-size: 16px;
    font-style: italic;
  }

  .entities {
    padding: 4px;

    & > li {
      display: block;
      padding: 8px;
      margin: 8px 0;
      border: 1px solid @orange5;
      background: fade(@orange5, 20%);
    }

    @media @screen-mobile-above {
      display: grid;
      grid-gap: 8px;
      grid-template-columns: 1fr 1fr;
    }
  }

  .fundraising {
    list-style-type: none;
    margin: 8px 0;
    padding: 0;

    & > li {
      display: block;
    }
  }

  &[data-org="republican-main-street-caucus"] {
    border-color: @teal5;
    background-image: linear-gradient(to bottom, @teal5, transparent 100px);

    .entities > li {
      border-color: @teal5;
    }
  }
}