@import "base";

.r rect {
    fill: #ddd;
    
    &.net { fill: @red3; }
}
.d rect {
    fill: #ddd;
    
    &.net { fill: @blue3; }
}

.label-top {
    font-style: italic;
    font-weight: bold;
    fill: #787878;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
}

.year-labels text {
    fill: #666;
    font-weight: bold;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    text-anchor: begin;
}

.value div {
    font-size: 11px;
    color: #787878;
    -webkit-font-smoothing: antialiased;
    
    strong { 
        color: #666;
        font-weight: bold;
    }
}

.zero-line  {
    stroke: #666;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.labels {
    position: absolute;
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: none;

    li {
        position: absolute;
        text-align: right;
        font-size: 12px;
        line-height: 1.3;
        color: #666;
        display: table;
        -webkit-font-smoothing: antialiased;

        &.overall {
            font-weight: bold;
            color: #111;
        }

        span {
            display: table-cell;
            vertical-align: middle;
        }
    }
}
