@import "base";

// Add custom styles here
.value text {
    font-size: 11px;
    &.y-rate-in-2014 {
        font-weight: bold;

        &.out {
            fill: #444;
        }

        &.in {
            fill: #fff;
        }
    }
}
