@import "base";

#graphic { margin-bottom: 22px; }

.annotations {
    line.national-avg {
        stroke: #787878;
        stroke-width: 1px;
    }

    text {
        font-size: 11px;

        &.label-top {
            font-weight: bold;
            fill: #454545;
        }
        &.national-avg {
            font-style: italic;
            fill: #999;
            text-anchor: middle;
        }
    }
}

.state-wrapper {
    border: 1px solid #dadada;
    background-color: #f1f1f1;
    padding: 11px;
    margin-bottom: 22px;

    h4 {
        margin: 0 0 6px 0;
        font-family: 'Knockout 31 4r', Helvetica, Arial, sans-serif;;
        font-weight: normal;
        text-transform: uppercase;
        padding-top: 0;
        line-height: 1.2;
        letter-spacing: 0.05em;
        -webkit-font-smoothing: antialiased;
        font-size: 12px;
        color: #666;
    }

    label {
        margin: 0 6px 0 0;
        font-family: 'Knockout 31 4r', Helvetica, Arial, sans-serif;;
        font-weight: normal;
        text-transform: uppercase;
        padding-top: 0;
        line-height: 1.2;
        letter-spacing: 0.05em;
        -webkit-font-smoothing: antialiased;
        font-size: 12px;
        color: #333;
    }
}

.bars line {
    fill: none;
    stroke-width: 10px;
    stroke: #ebebeb;
}

.dots circle {
    stroke-width: 1px;
    fill-opacity: .8;

    .state-dots & {
        stroke: #bababa;
        stroke-opacity: .4;
        fill: #bababa;
        fill-opacity: .3;

        &.color-1 {
            fill: @orange1;
            stroke: @orange1;
        }
        &.color-2 {
            fill: @orange3;
            stroke: @orange3;
        }
        &.color-3 {
            fill: @orange5;
            stroke: @orange5;
        }
        &.color-4 {
            fill: @teal5;
            stroke: @teal5;
        }
        &.color-5 {
            fill: @teal3;
            stroke: @teal3;
        }

        &.active { stroke: #333; }
    }
}

line.median {
    stroke: @teal3;
    stroke-width: 3px;
}

.state-dots text {
    text-anchor: middle;
    font-size: 9px;
    fill: #999;
    font-style: italic;

    &.state-value {
        fill: #333;
        font-size: 10px;
        font-style: normal;
        font-weight: bold;
        text-shadow: 1px 1px #fff;
    }
}

.value text {
    font-size: 11px;
    fill: @teal3;
    text-anchor: middle;
    font-weight: bold;
    display: none;

    .active& { display: block; }
}

.key {
    margin-top: 0;
    margin-bottom: 22px;

    .key-item b {
        display: inline-block;
        margin-right: 6px;
        float: left;
        height: 12px;
    }

    .median b {
        width: 3px;
        background-color: @teal3;
        margin-left: 6px;
        margin-right: 12px;
    }

    .key-1 b,
    .state b {
        width: 12px;
        border-radius: 15px;
        opacity: .8;
    }

    .state b {
        border: 1px solid #bababa;
        background: rgba(186, 186, 186, .5);
    }

    .key-1 {
        display: none;

        &.active { display: inline-block; }
        b { border: 2px solid #333; }
        label {
            font-weight: bold;
            color: #333;
        }
    }
}

.labels {
    strong {
        display: block;
        color: #454545;
        font-size: 12px;
    }
    i {
        display: block;
        color: #666;
        font-size: 11px;
        margin-top: 2px;
        font-style: normal;
    }
}


@media screen and (min-width: 501px) {
    .state-info {

        &:before,
        &:after {
            content: ' ';
            display: table;
        }

        &:after { clear: both; }

        .detail {
            width: 30%;
            float: left;
            margin-right: 3%;
        }
    }
}

@media screen and (max-width: 500px) {
    .labels {
        width: 100%;

        li {
            text-align: left;
            font-size: 11px;
            display: block;
            background: rgba(255, 255, 255, .9);
            padding: 5px 0;

            span { display: inline; }
        }
    }
    .state-info .detail {
        margin-top: 22px;

        &:first-child { margin-top: 0; }
    }
}
