@import "base";

/* RIVER OF NEWS */
#the_river_alert {
	background-color: #FAFDFF;
	border: 1px solid #D3E1EA;
	padding: 12px;
	margin-bottom: 6px;
}
#the_river_alert p {
	margin: 0;
	font: bold 13px Arial, Helvetica, sans-serif;
	color: #36c;
}
#the_river_alert p:hover {
	cursor: pointer;
	text-decoration: underline;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
ul li {
	font-size: 13px;
	line-height: 1.35em;
	color: #333;
	background: none;
	background-color: #f1f1f1;
	padding: 12px;
    margin: 0 0 6px 0;
}
ul li.sticky {
	background-color: #FFF;
	border: 1px dotted #999;
}
.date {
	font-size: 11px;
	font-style: normal;
	white-space: nowrap;
	display: inline;
	color: #999;
	margin: 0;
}
a {
	font-weight: bold;
	color: #36C;
}
