@import "./lib/base";

li span.bold {
	display: unset !important;
	font-weight: bold;
}

.bars rect {
	fill: @teal5 !important;
}

.bar-0.span-classboldbidenspan-2021 {
	fill: @teal3 !important
}

.note {
	  font-size: 12px;
	  fill: #333;
}