@import "base";

// Add custom styles here

.graphic img {
    display: block;
    float: left;
    width: 19%;
    height: auto;
    margin-right: 1%;
    margin-bottom: 11px;

    @media (max-width: 600px) {
        width: 24%;
        margin-right: 1%;
    }
    @media (max-width: 500px) {
        width: 32%;
        margin-right: 1%;
    }
    @media (max-width: 400px) {
        width: 48%;
        margin-right: 2%;
    }
}
