@import "base";

// ai2html artboard sizes
@media screen and (min-width: 500px) {
  #map-mobile { display: none; }
}

@media screen and (max-width: 499px) {
    #map-desktop { display: none; }
}

.graphic{
  img{
    width: 100%;
  }
}

// Add custom styles here
