@import "base";

h1 { margin-bottom: 22px; }

.categories {
    font-size: 11px;
    font-weight: bold;
    font-style: italic;
}

.lines {
    fill: none;
    stroke-width: 3px;
    stroke: #ccc;
}

.dots {
    circle {
        stroke: #fff;
        stroke-width: 1px;
    }

    text {
        font-size: 10px;
        text-anchor: start;
        fill-opacity: .7;
        font-style: italic;
    }
}

@media screen and (max-width: 500px) {
    .key { display: none; }
    .dots text { font-size: 10px; }
    .chart {
        margin-top: 22px;

        &:first-child { margin-top: 0; }
    }
}

@media screen and (min-width: 501px) {
}
