@import "./lib/base";

// ai2html artboard sizes
@media screen and (min-width: 730px) {
    #g-_ai2html-map-small, #g-_ai2html-map-medium { display: none; }
    
}

@media screen and (max-width: 729px) and (min-width: 400px) {
    #g-_ai2html-map-small, #g-_ai2html-map-wide { display: none; }
}

@media screen and (max-width: 399px) {

    #g-_ai2html-map-medium, #g-_ai2html-map-wide { display: none; }

}

// Add custom styles here

h1, h2 {
    .mmedia-constrained-centered();
}

.key {
    margin-bottom: 10px;
}

ul.key {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


@media screen and (max-width: 646px) {

    li.key-item {
        width: 340px;
    }

}
