@import "base";

.row-wrap strong { color: #333; }

.text-highlight {
    background: @teal3;
    padding: 1px 4px;
    color: #fff;
    font-weight: bold;
    border-radius: 2px;
}

h3 {
    margin-bottom: 11px;
}

.graphic p {
    font-weight: normal;
    color: #777;
    font-size: 12px;
    margin: 0 0 11px;
    line-height: 1.6;
}

.value text {
    fill: #fff;

    &.hidden {
        display: none;
    }
}

.value-labels p {
    color: #eee;
    margin: 0;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;

    strong {
        display: block;
        color: #fff;
        font-weight: bold;
        font-size: 130%;
    }

    &.out {
        color: #999;
        strong { color: @teal2; }
    }
}

@media screen and (max-width: 500px) {
    .value-labels p { font-size: 11px; }
}
