@import "./lib/base";

h1, h2, h3 {
  text-align: center;
}

.bars rect:first-child {

}

.labels li.national {
  //color: #808080;//black;
  font-weight: bold;
}

.value text {
    fill: #fff;
    font-size: 12px;

    &.hidden {
        display: none;
    }
}

.moe.graphic {
  .houston,.chicago,.los-angeles,.new-york-city {
    fill: @teal5;
  }
  // .approve {
  //   fill: @teal3;
  //   color: @teal3;
  // }

  // .disapprove {
  //   fill: @orange3;
  //   color: @orange3;
  //}

  .national {
    fill: @teal3;
    // fill: #BEBEBE;
  }

  rect.moe.inner {
    fill: url(#inner-stripes);
  }

  rect.moe.outer {
    fill: url(#outer-stripes);
  }

  line.moe {
    stroke: currentColor;
    stroke-width: 3px;
  }

  .value text {
    font-size: 12px;
    fill:#666;
    text-anchor: left;

    &.hidden {
      display: none;
    }
  }


  text.in {
    fill: black;
    stroke: #FFF8;
    paint-order: stroke fill;
  }

  text.out {
    fill: black;
    stroke: white;
    paint-order: stroke fill;
  }
}
