@import "./lib/base";

h1 {
  font-size: 18px;
  text-align: center;
  margin-bottom: 22px;
}

.lines {
  fill: none;
  stroke: #ccc;
  stroke-width: 3px;
}

.value text {
  fill: #666;
  font-size: 12px;
}
