@import "./lib/base";

.bars rect {
	fill: #ccc;
}

.dem-bars rect {
	fill: @blue3;
}

.gop-bars rect {
	fill: @red4;
}

.gop-win-bars rect {
	fill: @red2;
}

.dem-win-bars rect {
	fill: @blue1;
}

.divider {
	stroke: white;
	stroke-width: .4px;
}

.value text {
	display: none;
}


.key {
	float: left;
}

.key .key-item {
	margin: 0px;

	b {
		margin-right: 2px;
	}
}

.key1 {
	margin-bottom: 12px;
	margin-right: 13px;
}

.key label {
	margin-left: 3px;
	font-size: 11px;
}



