@import "base";

// Add custom styles here
h1 { margin-bottom: 22px; }

.bars rect {
    fill: @red4;

    &.united-states { fill: @red2; }
}

.value text:first-child { font-weight: bold; }
.labels .united-states {
    font-weight: bold;
    color: #454545;
}
