@import "base";

h1 { font-size: 18px; }

h2 { margin-bottom: 5px; }

.graphic-wrapper {
    .clearfix();
}

.lines {
    fill: none;
    stroke-width: 3px;
    stroke: #ccc;
}

.value text {
    font-size: 10px;
    font-weight: bold;
    fill: #999;
}

@media screen and (max-width: 500px) {
    .value text { font-size: 10px; }
}

@media screen and (min-width: 500px) {
    .header { padding-top: 5px; }
}
