@import "./lib/base";

.graphic {
  max-width: 650px;
  margin: 0 auto;
}

h1, h2, .key {
  .mmedia-constrained-centered();
 
}

.footer, .footnotes{
  .mmedia-constrained();
}

.promo {
	h1, h2, .key, .graphic { 
 		max-width: 900px;
	}

	h1 {
		font-size: 28px;
	}

	.key .key-item label {
		font-size: 20px;
	}

	.labels li {
		font-size: 17px
	}
}

