@import "./lib/base";


@music-orange: #f05b4e;
@ttt-green: #1c322d;
@ttt-green-medium: #9fca82;
@ttt-orange: @music-orange;
@ttt-white: #fffceb;

@background: @ttt-green;
@text: @ttt-white;

body {
  padding-top: 0;
}

.ttt {
  background-color: @background;
  color: @text;
  margin-bottom: 11px;
  padding: 22px;

  h2 {
    .gotham();
    .mmedia-constrained-centered();
    color: @ttt-white;
    font-size: 14px;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
    margin-top: 0;
    margin-bottom: 44px;
  }

  .logo {
    max-width: 550px;
    margin: 0 auto;

    img { display: block; }
  }

  a, a:link, a:visited {
    color: @ttt-orange;
    // border-bottom: 1px solid @ttt-orange;
  }
  a:hover, a:focus {
    color: lighten(@ttt-orange, 10%);
    transition: color 0.2s linear, border-color 0.2s linear;
  }
}

.artist-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .artist {
    text-align: center;
    width: 48%;
    padding: 0 1% 33px 1%;

    @media @screen-mobile-above {
      width: 31%;
    }
    @media @screen-medium-above {
      width: 23%;
    }

    h4 {
      .knockout-header();
      font-size: 16px;
      margin: 0 0 3px 0;
    }

    p {
      font-size: 13px;
      margin: 0;
      opacity: 0.6;

      &.coming-soon {
        font-style: italic;
      }

      &.promo-text {
        color: @text;
      }
    }

    img {
      display: block;
      width: 100%;
      margin-bottom: 11px;
      border: 1px solid transparent;
    }

    a:hover, a:focus {
      img { border-color: lighten(@ttt-green, 20%); }
    }
  }
}

.playlist {
  .knockout();
  font-size: 16px;
  // margin-bottom: 44px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  border-top: 1px solid lighten(@ttt-green, 10%);
  padding-top: 33px;
  padding-bottom: 11px;

  a {
    // margin: 0 10px 0 30px;
    margin: 0 0 0 15px;
    margin: 0 0 0 15px;
    padding: 5px 10px;
    background-color: @ttt-orange;
    position: relative;
    white-space: nowrap;

    @media @screen-mobile {
      display: block;
      margin: 2px auto 0 auto;
      padding: 2px 10px;
      width: 50%;
    }

    // &:before {
    //   content: " ";
    //   position: absolute;
    //   left: -10px;
    //   top: 0px;
    //   border-top: 15px solid transparent;
    //   border-right: 10px solid @ttt-orange;
    //   border-left: none;
    //   border-bottom: 15px solid transparent;
    // }
    //
    // &:after {
    //   content: " ";
    //   position: absolute;
    //   right: -10px;
    //   top: 0px;
    //   border-top: 15px solid transparent;
    //   border-left: 10px solid @ttt-orange;
    //   border-right: none;
    //   border-bottom: 15px solid transparent;
    // }

    &:link, &:visited {
      color: @ttt-green;
    }

    &:hover, &:focus {
      background-color: lighten(@ttt-green, 10%);
      // background-color: @ttt-green-medium;
      color: @ttt-white;
      transition: background-color 0.2s linear, color 0.2s linear;
    }

    // background-color: lighten(@ttt-green, 8%);
    // border-radius: 6px;
  }
}

.foonote,
.footer {
  .mmedia-constrained();
}
