@import "base";

// Add custom styles here

.y-Actual {
	stroke-width: 1px;
	stroke: #999;
	stroke-dasharray: 2 2;
}

.value text:first-child {
	font-weight: bold;
	fill: #333;
}

.key-item.adjusted-for-cost-of-living label {
	font-weight: bold;
	color: #333;
}

.key-item.actual-pay div {
	border: 1px dashed #999;
}