@blue1      : #28556F;
@blue2      : #3D7FA6;
@blue3      : #51AADE;
@blue4      : #7DBFE6;
@blue5      : #A8D5EF;
@blue6      : #D3EAF7;

.bars rect {
    &.age-18-21 { fill: @blue2; }
    &.age-22-25 { fill: @blue1; }
    &.age-26-29,
    &.age-30-49 { fill: @blue3; }
    &.age-50-64,
    &.age-65 { 
        fill: @blue4;
    }
}

.labels {
    position: absolute;
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: none;

    li {
        position: absolute;
        text-align: right;
        font-size: 12px;
        line-height: 1.3;
        color: #666;
        display: table;
        -webkit-font-smoothing: antialiased;
        
        span {
            display: table-cell;
            vertical-align: middle;
        }
    }
}