@import "base";

.value text {
    fill: #666;

    &.hidden {
        display: none;
    }
}

.key .campaigns {
    b.d { background-color: @blue2; margin-right: 2px; }
    b.r { background-color: @red2; }
}

.key .outside-groups {
    b.d { background-color: @blue5; margin-right: 2px; }
    b.r { background-color: @red5; }
}

.stacked-bar {
    margin-top: 22px;

    &:first-child { margin-top: 0; }
}
