@import "./lib/base";

.graphic-wrapper {
	width: 30%;
	float:left;
	margin-right: 2%;
}

.clearfix {
	.clearfix()
}

.bar {
	fill: @red3;
}

.bar-2016 {
	fill: @blue3;
}

.graphic-title {
	text-align: center;
	.knockout-header();
}

h1,h2,.footnotes,.footer {
	max-width: 650px;
	margin-left: auto;
	margin-right: auto;
}



@media (max-width: 600px) {
	.graphic-wrapper {
		width: 100%;
	}
}