@import "./lib/base";
.g-aiPstyle2 {
    pointer-events: none;
}

.g-countries, .g-legend {
    pointer-events: none;
    p {
        color: transparent !important;
        line-height: 10px !important;
        pointer-events: none;
    }

    .container {        
        width: 100%;
        pointer-events:none;

        .inner {
            border-radius: 100%;
            margin: 0 auto; 
            // background-color: #333;
            // opacity: 50%;
            border: 1px solid #555;
            pointer-events: all;
            cursor: crosshair;

            .tip {
                color: #333;
                font-size: 13px;
                background-color: #fff;            
                width: 100px;
                border: 1px solid #000;
                margin: 5px;
                padding:5px;
                // left: 10px;
                position:relative;
                display: none;
                z-index: 100000;

                &.active {
                    display: block;
                }

                .title {
                    font-weight: bold;
                }
            }
        }
        
    }
}

.g-legend .container .inner{
    background-color: transparent !important;
    color: #555;
    font-size:10px;
    text-align: center;
    cursor: unset;
}

.show-for-mobile, .g-labels {
        pointer-events: none;

    font-weight: 400;
    p {
        font-size: 12px !important;
        line-height:15px !important;
    }   

    span.top {
        
        // background-color: rgba(0,0,0,0.5);
        // width: 5px !important;
        padding-left:5px;
        padding-right: 5px;        
        padding-top:3px;
        padding-bottom: 3px;
        margin-bottom: 2px;

        border-radius: 5px;
        display: inline-block;
        
        text-shadow: none;
    }
    span.number {   
        // width: 5px !important;
        padding-left:5px;
        padding-right: 5px;        
        padding-top:3px;
        padding-bottom: 3px;
        // margin-bottom: 2px;

        border-radius: 5px;
        display: inline-block;
        
        text-shadow: none !important;

        background-color: rgba(255,255,255,1);
        color: #fff;
        font-weight: 700;
        margin-right: 5px;
        line-height: 12px;
        // background-color: darken(#7dafff,20%);
        background-color: #2d61b5;
    }
}

span.hide-for-mobile {
    display: none;
}

    span.top {
        background-color: transparent !important;
    }



    .show-for-mobile-text {
        display: inline;
    }

    .show-for-mobile {
        display: block;
        padding-bottom: 20px;

        span.hide-for-mobile {
            display: inline;
        }
        
        .exception {
            text-shadow: none !important;
        }
    }

span.boat {
    img {
        width: 50px;
        padding-right:5px;
    }
}

// ai2html artboard sizes
@media screen and (min-width: 550px) {
    #g-_ai2html-map-small, #g-_ai2html-map-medium { display: none; }

    .key-container {
        position: absolute;
        top: 20px;
        left: 10px;
        z-index: 1000;
    }
}

@media screen and (max-width: 549px) {
    #g-_ai2html-map-medium, #g-_ai2html-map-wide { display: none; }

    .g-legend .container .inner{
        font-size: 8px;
    }

    ul.key {
        margin-bottom: 5px;
    }

    b.hide-for-mobile {
        display: none;
    }
}

// Add custom styles here
