@import "./lib/base";

.bars rect {
	fill: @red3;
}

.hide-line line {
	display: none;
}

.pointer-line {
	stroke: #444;
	stroke-width: 1px;
}

.pointer-line-election {
	stroke: #999;
	stroke-width: 1px;
}

.pointer-text {
	.gotham();
	font-size: 13px;
}

.pointer-text-election {
	.gotham();
	font-size: 12px;
	font-style: italic;
	color: #999;
}

.right-align {
	text-anchor: end;
}