@import "base";

h2 b {
    padding: 4px 8px;
    border-radius: 4px;
    color: #fff;
    font-weight: normal;

    &.reasonable { background-color: @teal4; }
    &.unreasonable { background-color: @orange4; }
}

.value text {
    fill: #fff;

    &.hidden {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    h2 b { padding: 2px 6px; }
}
