@import "base";

.labels strong { color: #333; }

.bars rect {
    .chart-0 & { fill: @red3; }
    .chart-1 & { fill: @orange4; }
}

.chart-0 { margin-bottom: 22px; }

.value text.out { fill: #454545; }

h1 {
    font-size: 16px;
    margin-bottom: 11px;
    line-height: 1.4;

    strong { color: #333; }
}
