@import "base";

h1, h2 {
    margin-left: auto;
    margin-right: auto;
    max-width: 650px;
    text-align: center;

    .black {
        border: 1px solid @red6;
        padding: 3px 5px;
    }
}
.footnotes,
.footer {
    margin-left: auto;
    margin-right: auto;
    max-width: 650px;
}

p {
    &.subjects {
        font-size: 12px;
        font-weight: 700;
        margin: 0 0 3px 0;
    }
}

.graphic {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tweet {
    .gotham();
    border: 1px solid transparent;
    box-sizing: border-box;
    font-weight: 100;
    margin-bottom: 22px;
    overflow: hidden;
    padding: 3px 15px 0 15px;
    text-align: center;

    &.black {
        border-color: @red6;
    }

    blockquote {
        color: #999;
        font-size: 11px;
        line-height: 1.5;
        margin: 0;

        strong {
            color: #666;
            font-size: 12px;
            font-weight: 700;
            padding: 0 5px;

            .positive&,
            .negative&.positive {
                background-color: @teal6;
                color: @teal2;
            }
            .negative&,
            .positive&.negative {
                background-color: @red6;
                color: @red2;
            }
        }
    }

    cite {
        .knockout-header();
        color: #787878;
        display: block;
        font-size: 12px;
        font-style: normal;
        font-weight: 100;
        margin-bottom: 3px;

        a:link, a:visited { color: #787878; }
        a:hover, a:active { color: #bccae5; }

        strong {
            color: #454545;
            font-weight: 700;
        }
    }
}


@media screen and (min-width: 501px){
    .graphic {
        .tweet { width: 33%; }
    }
}

@media screen and (min-width: 701px){
    .graphic {
        .tweet { width: 25%; }
    }
}

@media screen and (max-width: 500px){
    .graphic {
        justify-content: left;

        .tweet {
            padding: 5px 11px 0 11px;
            text-align: left;
            width: 50%;
        }
    }
}
