@import "./lib/base";

.lines {
  fill: none;
  stroke-width: 2px;
  stroke: #ccc;
}

.value {
  font-size: 12px;
  // font-weight: bold;
  fill: #666;
}


.sg {
  font-size: 12px;
  // font-weight: bold;
  fill: #666;
  background-color: red;
}

.label {
  text-anchor: start;
  fill: #777;
}

.arrow {
  font-size: 17px !important;
}

@media screen and (max-width: 500px) {
  .value {
    font-size: 10px;
  }

  .sg {
    text-shadow: -2px -2px 0 rgba(255,255,255,.9), 2px -2px 0 rgba(255,255,255,.9), -2px 2px 0 rgba(255,255,255,.9), 2px 2px 0 rgba(255,255,255,.9);
    font-size: 10px;
    
  }
    .hide-for-mobile {
    display: none;
  }
}

@media screen and (min-width: 500px) {
  .key {
    display: none;
  }

}