@import "base";

// Add custom styles here
h2 {
    margin-bottom: 11px;
}

.labels {
    font-size: 12px;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    fill: #666;

    &.labels-amts {
        font-weight: normal;
        font-size: 11px;
        fill: #999;
    }
}

.value text {
    font-size: 11px;
}

.bars rect {
    fill: @orange3;
}
