@import "base";

// Add custom styles here

.bars rect {
    &.independent { fill: #666; }
    &.democratic { fill: @blue4; }
    &.republican {fill: @red4; }
}

.labels li {
    &.independent {
        color: #333;
        font-weight: bold;
    }
}
