@import "./lib/base";

.key {
  @media @screen-mobile-above {
    display: none;
  }
}

.lines {
  fill: none;
  stroke: #ccc;
  stroke-width: 3px;
}

.value text {
  fill: #666;
  font-size: 12px;
  font-weight: bold;
}
