@import "base";

body { padding: 0; }

#graphic { margin-bottom: 0; }

.caption {
    font-size: 12px;
    margin: 0 0 2px 0;
    color: #777;
    line-height: 20px;
    padding: 10px 0 0 0;

    p { margin: 0; }
}

.footnote {
    margin: 0;
    padding: 0;
    color: #aaa;
    line-height: 1.7;
    font-size: 10px;

    p { margin: 0; }
}
