@import "base";

.value text {
    fill: #fff;

    &.hidden {
        display: none;
    }
}

.group.us, .group.global {
    rect.obese-body-mass-index-30 {
        fill-opacity: .8;
        // fill: #1A9390;
    }
    rect.overweight-body-mass-index-25 {
        fill-opacity: .8;
        // fill: #5EB9B7;
    }
}

.labels li { color: #999; }
.labels li.main-label { color: #424242;  }
.other-body-mass-index-25 { display: none; }

// g.tick {
//     line { y2}
// }
