@import "./lib/base";

// rect {
//   .pensacola {
//     fill: @orange3;
//   }
//
//   .us {
//     fill: @teal3;
//   }
// }

rect.bar-0.pensacola { fill: @orange3; }

.mmedia-constrained {
  .mmedia-constrained();

    &.center {
      text-align: center;
    }

}

.key { .mmedia-constrained-centered(); }

.graphic { max-width: 650px; margin: 0 auto; }
