@import "./lib/base";

.lines {
  fill: none;
  stroke-width: 3px;
  stroke: #ccc;
}

.value text {
  font-size: 12px;
  font-weight: bold;
  // fill: #999;
}

.annotation {
  line {
    stroke: #999;
    stroke-width: 1px;
    stroke-dasharray: 4px 2px;
  }
  text {
    font-size: 11px;
    fill: #999;
    text-anchor: middle;
  }
}

@media screen and (max-width: 500px) {
}

@media screen and (min-width: 500px) {
  .key {
    display: none;
  }
}
