@import "base";

.dots circle {
    stroke: #fff;
    stroke-width: 1px;
}

.lines {
    fill: none;
    stroke-width: 3px;
    stroke: #ccc;
}

.value text {
    font-size: 12px;
    fill: #787878;

    &.women-midterms,
    &.women-presidential {
        font-weight: bold;
        fill: #454545;
    }
}

@media screen and (max-width: 500px) {
    .value text {
        font-size: 10px;
    }
}

@media screen and (min-width: 500px) {
    .key {
        display: none;
    }
}
