@import "./lib/base";

// ai2html artboard sizes
@media screen and (min-width: 730px) {
    #g-_ai2html-map-small{ display: none; }
}

@media screen and (max-width: 729px) and (min-width: 400px) {
    #g-_ai2html-map-small { display: none; }
}

@media screen and (max-width: 399px) {
    #g-_ai2html-map-wide { display: none; }
}

// gray rectangles
.g-aiPstyle0 {
  background-color: rgba(36,36,36,0.75);
  display: inline-block;
  padding: 5px;
  border-radius: 10px;
}

// Add custom styles here
