@import "base";

.labels {
    font-size: 11px;
    fill: #787878;
    line-height: 11px;
    -webkit-font-smoothing: antialiased;
    
    &.grouping { font-weight: bold; }

    .middle-income { 
        fill: #333;
        font-weight: bold;
    }
}