@import "base";

h3 {
    text-transform: uppercase;
    font-family: 'Gotham SSm',Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.05em;
    margin: 40px 0 15px 0;
    color: #666;

    &:first-child {
        margin-top: 0px;
    }
}

.bars rect {
    &.democrat {
        fill: @blue4;
    }

    &.republican {
        fill: @red4;
    }
}

line.zero {
    stroke: #666;
    stroke-width: 2px;
}

text.swing-label {
    font-size: 12px;
    fill: #666;
    font-style: italic;
}

.labels {
    position: absolute;
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: none;

    li {
        position: absolute;
        text-align: right;
        font-size: 12px;
        line-height: 1.3;
        color: #666;
        display: table;
        -webkit-font-smoothing: antialiased;

        span {
            display: table-cell;
            vertical-align: middle;
        }
    }
}

@media screen and (max-width: 500px) {
    text.swing-label {
        font-size: 10px;
    }
}
