@import "base";

.grid .tick { stroke: #fff; }

rect.bg { fill: #f1f1f1; }

.dots circle {
    fill-opacity: .25;
    stroke-opacity: .4;
    fill: #999;
    stroke: #999;

    &.incl {
        stroke: #111;
        stroke-opacity: .6;
    }
    &.yes {
        fill: @orange3;
        stroke: @orange2;
        fill-opacity: .4;
        stroke-opacity: .6;
    }
}

.connectors line {
    stroke: #999;

    &.no { display: none; }
}

.values {
    font-size: 12px;
    fill: #787878;
    text-anchor: begin;

    .yes {
        font-weight: bold;
        fill: #454545;
    }
    .yes { text-anchor: end; }
}

text.header {
    font-size: 12px;
    fill: #333;
    font-weight: bold;

    &.yes { text-anchor: end; }
}

text {
    &.no { display: none; }
}

@media screen and (max-width: 500px) {
    .values { font-size: 11px; }
}
