@import "base";

.bars {
    .bar-Biden {
        fill: #17807E;
    }
    .bar-Clinton {
        fill: #B39429;
    }
    .bar-Sanders {
        fill: #D8472B;
    }
}

.zero-line  {
    stroke: #666;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}
