@import "base";

h2 strong {
    color: #333;
    font-weight: bold;
}

.value text {
    fill: #fff;

    &.hidden {
        display: none;
    }
}

.labels li {
    &.backcheck {
        font-weight: bold;
        color: #333;
    }
}
