@import "base";

.value text {
    fill: #fff;

    &.hidden {
        display: none;
    }
}

.totalvalue text {
    font-size: 10px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;

    &.in { fill: #fff; }
    &.out { fill: #777; font-weight: bold; }
}
