@import "base";

// Add custom styles here
body {
    padding: 0;
}

@media screen and (min-width: 501px) {
    .map-small {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .map-wide {
        display: none;
    }
}
