@import "./lib/base";


.group-2019 {
  rect {
    fill: @orange3;
  }
}

.group-2020 {
  rect {
    fill: @teal3;
  }
}

.value text {
  fill: white;
}

.chart.as-a-percentage-of-all-fathers-living-with-school-age-children {
  // border-bottom: 2px solid #eee;

  margin-top: 10px;
  padding-bottom: 10px;
}

.chart {
  margin-top:20px;
}

h3 {
  margin-bottom: 11px;
  color: #555;
  // text-align: center;
}

h4.subheader {
  // border-bottom: 1px solid #eee;
  margin-top: 30px;
  margin-bottom:5px;
  color: #555;
  font-weight: normal;
  font-size: 16px;
  .gotham();
  // text-align:center;
}