@import "base";

// Add custom styles here


.graphic-wrapper {
    .clearfix();
}

.graphic {

    @media screen and (min-width: 501px) {
        float: left;
        width: 32%;

        &:first-child {
            margin-right: 2%;
        }
    }

}


rect.bar-2016{
  fill: @teal3;
}
