@import "base";

// Add custom styles here
.bars rect {
    fill: @orange5;

    &.california { fill: @orange3; }
}

.labels li.california {
    font-weight: bold;
    color: #454545;
}

.value text.california {
    font-weight: bold;
    fill: #454545;
}
