@import "./lib/base";

h1 {
  .mmedia-constrained-centered();
  font-size: 18px;
  margin-bottom: 22px;
}

.bars rect {
  fill: @red5;

  &.bar-0 { fill: @red2; }
}

.labels li:first-child {
  color: #333;
  font-weight: bold;
}

.value text.out { fill: #666; }

.value text:first-child {
  fill: #333;
  font-weight: bold;
}
