@import "base";

#graphic { margin-bottom: 0; }

// Add custom styles here
.img {
    &.fema { margin-bottom: 22px; }

    .caption {
        font-size: 12px;
        color: #777;
        line-height: 1.5;
        margin-bottom: 2px;
    }

    .credit {
        color: #aaa;
        line-height: 1.7;
        font-size: 10px;
        font-style: italic;
    }
}

@media screen and (min-width: 501px) {
    .img {
        display: table;

        .img-wrapper,
        .meta {
            display: table-cell;
            vertical-align: top;
        }

        .meta {
            width: 40%;
            padding-left: 22px;
        }
    }
}

@media screen and (max-width: 500px) {
    .meta { margin-top: 11px; }
}
