@import "base";

@orange1    : #714616;
@orange2    : #AA6A21;
@orange3    : #E38D2C;
@orange4    : #EAAA61;
@orange5    : #F1C696;
@orange6    : #F8E2CA;

.axis {
    fill: #666;
    font-weight: bold;
    font-size: 14px;

    path { display: none; }
}

.lines line {
    stroke-width: 3px;
    stroke: #ddd;
    shape-rendering: auto;
}

.dots circle {
    fill: #ddd;
    stroke: #fff;
    stroke-width: 1px;
}

.value text {
    font-size: 12px;
    fill: #333;
}

.label text {
    font-size: 12px;
    fill: #333;
}

line.global-average {
  stroke: #999 !important;
}

circle.global-average {
  fill: #999 !important;
}

line.united-states {
  stroke: #777 !important;
}

circle.united-states {
  fill: #777 !important;
}

.country-name {
  font-weight: bold;
}

.percent-label {
  fill: #888;
}
