@import "base";

sup {
    line-height: 0;
    color: #999;
    padding-left: 1px;
    font-weight: normal;
    font-size: 70%;
}

.graphic {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
}

.pipeline {
    box-sizing: border-box;
    margin-bottom: 22px;
    background-color: #f1f1f1;
    margin-right: 2%;
    max-width: 300px;

    h4 {
        .gotham();
        margin: 0 0 11px 0;
        font-weight: 700;
        color: #333;
    }

    h5 {
        color: #666;
        display: block;
        margin-top: 2px;
        font-weight: normal;
        margin: -9px 0 12px 0;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        color: #666;

        strong { color: #333; }

        li {
            margin: 6px 0 0 0;
            padding: 0;

            &:first-child { margin-top: 0; }
        }
    }
}

// desktop only
@media screen and (min-width: 501px) {
    .pipeline {
        width: 31%;

        .info { padding: 6px 10px 10px 10px; }

        h4 { font-size: 13px; }
        h5, ul { font-size: 12px; }
    }
}

// mobile only
@media screen and (max-width: 500px) {
    .pipeline {
        width: 48%;

        .info { padding: 6px 6px 10px 6px; }

        h4 { font-size: 12px; }
        h5, ul { font-size: 11px; }
    }
}
