@import "base";

h1 { margin-bottom: 22px; }

h3 {
    margin-bottom: 11px;
    text-align: center;
}

.bars rect {
    fill: @red5;

    &.bar-2016 { fill: @red3; }
}

@media screen and (max-width: 500px) {
    // .value text { font-size: 10px; }
}
