@import "base";

.lines {
    fill: none;
    stroke-width: 2px;
    stroke: #ccc;

    .line.one-star-ratings, .line.five-star-ratings {
        stroke-width: 3px;
    }
}

.value text {
    font-size: 12px;
    font-weight: bold;
    fill: #999;

    &.two-star-ratings, &.three-star-ratings, &.four-star-ratings {
        font-weight: normal;
    }
}

@media screen and (max-width: 500px) {
    .value text {
        font-size: 10px;
    }
}

@media screen and (min-width: 500px) {
    .key {
        display: none;
    }
}
