@import "base";

#graphic {
    p { text-shadow: 0 0 5px #fff; }
}

// ai2html artboard sizes
@media screen and (min-width: 501px) {
        #g-ai2html-graphic-small, #g-ai2html-graphic-medium { display: none; }
}

// @media screen and (max-width: 729px) and (min-width: 400px) {
//     #g-ai2html-graphic-small, #g-ai2html-graphic-wide { display: none; }
// }

@media screen and (max-width: 500px) {
    #g-ai2html-graphic-medium, #g-ai2html-graphic-wide { display: none; }
}

// Add custom styles here
.graphic { margin-bottom: 10px; }

h2 {
    margin: 0 0 11px 0;
    padding: 0;
    font-size: 12px;
    color: #777;
    line-height: 20px;
}
