@import "base";

body {
    width: 948px;
    margin: 0 auto;
}

#olyGraphics { margin-bottom: 18px; }
#olyGraphics ul {
    width: 100%;
    height: 66px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#olyGraphics ul li { color: #000; font-size: 13px; font-weight: bold; line-height: 31px; height: 31px; margin: 0; padding: 0; border: 1px solid #B2B2B4; border-left: none; background: none; background-color: #F1F1F1; width: 185px; float: left; text-align: center; overflow: hidden; }
#olyGraphics ul li.tab-open { background-color: #FFF; border-bottom: 1px solid #FFF; }
#olyGraphics ul li#olyNav1 { width: 185px; border-left: 1px solid #B2B2B4; }
#olyGraphics ul li:hover { cursor: pointer; color: #36C; text-decoration: underline; }
#olyGraphics .athlete img { float: none; display: block; margin-bottom: 12px; }
