@import "./lib/base";

.time {
  margin-bottom: 33px;
}

h3 {
  font-size: 14px;
  margin-bottom: 11px;
}
p.desc {
  margin: 0 0 22px 0;
  font-weight: normal;
  color: #777;
  font-size: 12px;
  line-height: 1.6;
}
