@import "base";

h1 { margin-bottom: 22px; }

// svg { background-color: #f1f1f1; }

.labels li.overall {
    color: #333;
    font-weight: bold;
}
.value text.overall {
    font-weight: bold;
}

.democrat .bars rect {
    fill: @blue5;

    &.overall { fill: @blue2; }
}
.republican .bars rect {
    fill: @red5;

    &.overall { fill: @red2; }
}
.independent .bars rect {
    fill: #ccc;

    &.overall { fill: #666; }
}

@media screen and (max-width: 500px) {
    .chart { margin-bottom: 22px; }
    .value text { font-size: 9px; }
}
