@import "./lib/base";

.lines {
  fill: none;
  stroke-width: 1px;
  stroke: #ccc;

  path.line {
    stroke: @orange2;
    fill: fade(@orange4, 40%);
  }
}

.value text {
  font-size: 12px;
  font-weight: bold;
  fill: #999;
}

@media screen and (max-width: 500px) {
  .value text {
    font-size: 12px;
  }
}

// @media screen and (min-width: 500px) {
  .key {
    display: none;
  }
// }