@import "./lib/base";

.lines {
  fill: none;
  stroke-width: 3px;
  stroke: #ccc;
}

.value text {
  font-size: 12px;
  font-weight: bold;
  fill: #999;
}


h1,h2,ul.key {
  .mmedia-constrained-centered();
}

.footer {
 .mmedia-constrained(); 
}

li.key-item {
  margin:0px 9px 0px 9px !important;
}

span.head {
  // padding-bottom: 10px;
  padding-left: 6px;
  // padding-right: 5px;

  label {
    .gotham();

    font-weight: bold !important;  
  }
  

}

.before-after {
  padding-top: 5px;

  b {
    margin-right: 0 !important;

  }

  label {
    float: left !important;
    padding-left: 5px;
    padding-right: 5px;
  }
}


@media screen and (max-width: 500px) {
  .value text {
    font-size: 10px;
  }
}

@media screen and (min-width: 500px) {
  // .key {
  //   display: none;
  // }
}

