/* Grid Map
========================================*/

.nowrap {
    white-space: nowrap;
}

.tile-grid-map {
    margin-bottom: 33px;
}

.state {
    fill: #eee;
}

.label {
    font-family: 'Knockout 31 4r';
    font-size: 12px;
    fill: #979797;
}

.label-active {
    fill: #fff;
}

@media screen and (max-width: 300px){
    .label {
        font-size: 15px;
    }
}

@media screen and (min-width: 480px){
    #main-map {
        .label {
            font-size: 10px;
        }
    }
}

h3 {
    font-family: "Gotham SSm",Helvetica,Arial,sans-serif;
    font-size: 18px;
    text-align: center;
    margin-bottom: 0px;
}

#small-multiples {
    .wrapper {
        width: 48%;
        float: left;
    }

    .spacer {
        width: 4%;
        float: left;
    }
}

@media screen and (max-width: 480px) {
    #small-multiples {
        .wrapper {
            width: 100%;
            float: none;
        }

        .spacer {
            display: none;
        }
    }

    h1 {
        font-size: 20px;
    }

    h3 {
        font-size: 16px;
        margin-bottom: 5px;
    }
}

.footnotes {
    clear: both;
}
