@import "base";

// Add custom styles here
.value text.hidden {
    display: none;
}

// .bars rect {
//     fill: @blue4;
//
// }


.promo {
    h2,
    .footer,
    .footnotes { display: none; }

    h1 {
        .knockout();
        margin-bottom: 22px;
    }
}
