@import "base";

h1 {
    font-size: 16px;
    margin-bottom: 22px;

    strong { color: #454545; }
}

.bars rect {
    fill: @orange4;

    &.violence { fill: @red3; }
}

.chart {
    margin-top: 22px;

    &:first-child { margin-top: 0; }
}

.labels {
    color: #454545;
}

.value text.out {
    fill: #454545;
}

.promo {
    h1 {
        font-size: 20px;
        line-height: 1.2;
    }

    .value text { font-size: 14px; }
    .footer { display: none; }
}
