@import "./lib/base";

.map-img {
	width: 100%;
}

.legend-text {
	text-align: center;
	margin: 0 auto;
	.knockout-header();
	margin-bottom: 10px;
}

.legend-ramp {
	width: 50%;
	background: #f8eeeb;
	background: linear-gradient(90deg, #f8eeeb 0%, #e38d2c 100%);
	margin: 0 auto;
	height: 13px;
}

.legend-values {
	margin: 0 auto;
	width: 50%;
	.knockout();
	font-size: 12px;
}

.left-legend-val {
	float:left;
	display: inline-block
}

.right-legend-val {
	float:right;
	display: inline-block
}

