@import "base";

// Add custom styles here

.bars rect {
    fill: @red3;
}

.value text, .value text.out {
    font-size: 12px;
    font-weight: bold;
    fill: #666;
}

.labels li {
    text-align: left;
}
