@import "./lib/base";

// ai2html artboard sizes
@media screen and (min-width: 600px) {
    #g-_ai2html-map-small, #g-_ai2html-map-medium { display: none; }
}


@media screen and (max-width: 599px) {
    #g-_ai2html-map-medium, #g-_ai2html-map-wide { display: none; }
}

// Add custom styles here
h1, .key {
    .mmedia-constrained-centered();
}

.key .key-item {
    line-height: 10px;
}

.key li.key-item b {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.key p {
    font-size: 12px;
    color: #666;
    font-weight: normal;
    margin-top: 0;
}

.g-aiPstyle2, .g-aiPstyle3, .g-aiPstyle6 {
    text-shadow: 0.5px 0.5px 1px rgb(255,255,255,0.7), -0.5px -0.5px 1px rgb(255,255,255,0.7);

}