@import "base";

h1 { margin-bottom: 22px; }

rect.bg { fill: #f1f1f1; }

#graphic h3 {
    font-size: 12px;
    color: #454545;
    font-weight: normal;
    font-family: 'Knockout 31 4r', Helvetica, Arial, sans-serif;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin: 0 0 11px 0;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}

.axis {
    fill: #666;
    font-weight: bold;
    font-size: 12px;

    path { display: none; }
}

.area path { fill-opacity: 0.4; }

.lines line {
    stroke-width: 3px;
    stroke: #ddd;
    shape-rendering: auto;
}

.dots circle {
    fill: #ddd;
    stroke: #fff;
    stroke-width: 1px;
}

.value text {
    font-size: 11px;
    fill: #333;
}

.label text {
    font-size: 11px;
    fill: #333;
}

.category { 
    float: left;
    margin-bottom: 11px;
}