@import "base";

.value text {
    fill: #fff;

    &.hidden { display: none; }
    &.out {
        fill: #999;
        text-anchor: begin;
    }
    .pulse-orlando-nightclub-in-orlando-fla & { font-weight: bold; }
}

.labels li {
    b {
        font-weight: normal;
        display: block;
    }
    i {
        font-style: normal;
        display: block;
        color: #999;
        font-size: 11px;
    }
}
