@import "base";

.axis {
    fill: #666;
    font-weight: bold;
    font-size: 12px;

    path { display: none; }
}

.lines line {
    stroke-width: 3px;
    stroke: #666;
    shape-rendering: auto;

    /*&.over-65 {*/
        /*stroke: @red3;*/
    /*}*/
}

.dots circle {
    fill: #666;
    stroke: #fff;
    stroke-width: 1px;

    /*&.over-65 {*/
        /*fill: @red3;*/
    /*}*/
}

.value text {
    font-size: 11px;
    fill: #666;
}

.label text {
    font-size: 11px;
    fill: #333;
}
