@import "base";

.value text {
    fill: #fff;
    text-anchor: middle;

    &.outer{
        fill: #999;
        text-anchor: start;
    }
}

.labels li.nationwide {
    font-weight: bold;
    color: #333;
}
