@import "base";

.key {
    margin-top: 0;
    display: webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 15px;

    .key-item {
        display: block;
        margin: 0 0 3px 0;
        width: 50%;
    }
}

.group rect {
    fill-opacity: 0.8;

    .vtotal& { fill-opacity: 1; }
}

.labels .vtotal {
    font-weight: bold;
    color: #333;
}

.value text {
    fill: #fff;

    &.left { text-anchor: start; }
    &.barely { text-anchor: middle; }
    &.hidden { display: none; }
    &.out {
        fill: #999;
        font-size: 9px;
        text-anchor: start;

        &.left { text-anchor: end; }
    }
    .vtotal & { font-weight: bold; }
}

@media screen and (min-width: 501px) {
    .key {
        justify-content: center;
        flex-wrap: nowrap;
        margin-bottom: 22px;

        .key-item {
            margin: 0 11px;
            width: auto;
        }
    }
}
@media screen and (max-width: 500px) {
    .value text,
    .value text.left { font-size: 9px; }
}

.promo {
    h1 {
        .knockout-header();
        font-size: 15px;
        margin: 0 0 22px 0;
        color: #666;
        text-align: center;
    }
    h2 { display: none; }
    .key { margin-bottom: 33px; }
}
